@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

figure {

    margin: 0 0 $wsu-spacing--component 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;

    &.wsu-width {

        &--full {
            width: 100%;
        }

        &--xlarge {
            width: 900px;
        }

        &--large {
            width: 600px;
        }

        &--medium {
            width: 350px;
        }

        &--small {
            width: 250px;
        }

        &--xsmall {
            width: 200px;
        }
    }

    &.wsu-align {

        &--left {
            float: left;
            margin-right: $wsu-spacing--xxmedium;
        }

        &--center {
            margin-left: auto;
            margin-right: auto;
        }

        &--right {
            float: right;
            margin-left: $wsu-spacing--xxmedium;
        }
    }

}

figcaption,
.wp-block-gallery.has-nested-images:not(.is-cropped) figure.wp-block-image figcaption {
    @include wsu-font--xsmall();
    font-weight: 500;
    position: relative;
    padding-top: 0.2rem;
    color: $wsu-color--gray-70;
}

a ~ figcaption,
img ~ figcaption {
    padding-left: 1.4rem;

    &::before {
        content: "\F134";
        font-family: 'wsu-icons';
        display: inline-block;
        left: 0;
        top: 0;
        position: absolute;
        font-size: $wsu-font-size--medium;
    }
}

figure.wp-block-gallery.has-nested-images {

    figure.wp-block-image figcaption {
        padding-left: 1.4rem;
        text-align: left;
    }

}

.wp-block-gallery.has-nested-images:not(.is-cropped) {

    figure.wp-block-image figcaption {
        background: none;
    }

}

.wp-block-gallery.has-nested-images.is-cropped {

    figure.wp-block-image figcaption {
        @include wsu-font--xsmall();
        background: $wsu-color--gray-85;
        background: rgba(38, 38, 38, 0.9);
        font-weight: 500;
        color: $wsu-color--gray-5;
        padding: .75rem .5rem .75rem 1.9rem;
    }

    a ~ figcaption,
    img ~ figcaption {

        &::before {
            padding: .6rem 0 0 .5rem;
        }
    }

    &.wsu-custom-separate-captions {

        figure.wp-block-image figcaption {
            background: $wsu-color--gray-85;
            position: relative;
            margin: 0;
            overflow: hidden;
            flex-basis: auto;
            flex-grow: 0;
        }

    }

}
