{% from "search-field/macro.njk" import searchField %}

{% macro searchBlock() %}
<div class="wsu-search-block">
    <form action="#" method="get" class="wsu-search-block__form">
        <label for="search-box" class="wsu-search-block__search-field-label">Find What You're Looking For</label>
        {{ searchField( ' wsu-search-field--secondary wsu-search-block__search-field', 'search wsu.edu' ) }}
        <h2 class="wsu-search-block__suggested-searches-header">
            Common Searches
        </h2>
        <ul class="wsu-search-block__suggested-searches">
            <li class="wsu-search-block__suggested-search-term"><a href="http://wsulibs.wsu.edu/">Library</a></li>
            <li class="wsu-search-block__suggested-search-term"><a href="https://my.wsu.edu">myWSU</a></li>
            <li class="wsu-search-block__suggested-search-term"><a href="https://zzusis-utilities.wsu.edu/psportal/pages/classsearch.html">Class schedules</a></li>
            <li class="wsu-search-block__suggested-search-term"><a href="https://wsu.edu/jobs/">Jobs</a></li>
            <li class="wsu-search-block__suggested-search-term"><a href="http://finaid.wsu.edu/cost-of-attendance/">Tuition</a></li>
            <li class="wsu-search-block__suggested-search-term"><a href="http://learn.wsu.edu/">Blackboard</a></li>
            <li class="wsu-search-block__suggested-search-term"><a href="https://reset.wsu.edu/">Password Reset</a></li>
            <li class="wsu-search-block__suggested-search-term"><a href="http://wsubookie.bncollege.com">The Bookie</a></li>
            <li class="wsu-search-block__suggested-search-term"><a href="https://transportation.wsu.edu/general-information/">Parking</a></li>
            <li class="wsu-search-block__suggested-search-term"><a href="http://wsucougars.com/">Varsity sports</a></li>
        </ul>
    </form>
</div>
{% endmacro %}