@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';


.wsu-button-ui--navigation-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: $wsu-height--global-header;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    border:none;
    width: $wsu-width--button-small;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-top: 4px solid #a60f2d;
    background-color: transparent;
    color: inherit;
    align-items: center;
    flex-grow: 1;
    z-index: calc( #{$wsu-zindex--global-header} + 1 );
    border-radius: 0;
    justify-content: center;
    font-size: 0;
    cursor: pointer;

    &::before {
        content: '\F12A';
        font-family: 'wsu-icons';
        font-size: $wsu-font-size--xmedium;
        font-weight: 500; 
    }

    &:focus,
    &:hover {
        box-shadow: none;
    }

    @include wsu-hover--border-bottom();

    &:focus {
        @include wsu-focus--link();
    } 
}