{% extends "component.njk" %}

{% block content %}
<hr />
<div class="wsu-demo-component">
{% include 'button-ui/button-ui-close.njk' %}
</div>
<hr />
<div class="wsu-demo-component">
{% include 'button-ui/button-ui-menu-animated.njk' %}
</div>
<hr />
<div class="wsu-demo-component">
{% include 'button-ui/button-ui-menu.njk' %}
</div>
<hr />
<style>
</style>
{%  endblock %}  