
{% macro advancedOverlap( bodyClasses ) %}
    <div class="wsu-advanced-overlap{{bodyClasses}}">
        <div class="wsu-advanced-overlap__container">
            <div class="wsu-advanced-overlap__column">
                <div class="wsu-advanced-overlap__column-one-inner">
                    Column Left
                </div>
            </div>
            <div class="wsu-advanced-overlap__column">
                <div class="wsu-advanced-overlap__column-two-inner">
                    Column Right
                </div>
            </div>
        </div>
    </div>
{% endmacro %}