@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-advanced-overlap {
    margin: 25px 0;

    &__container{
        height: 450px;
        display: flex;
        max-width: 900px;
        margin: 0 auto;
    }
    &__column{
        border: 1px solid #000;
        display: flex;
        width: 50%;
    }
    &__column-one-inner,
    &__column-two-inner {
        flex-grow: 1;
    }

    &__column-one-inner {
        margin-right: -50px;
        background-color: rgba(0, 0, 255,0.3);
    }

    &__column-two-inner {
        margin-left: -50px;
        background-color: rgba(60, 179, 113,0.3);
    }
    
    @media screen and (max-width: $wsu-breakpoint--tablet )  {
        .wsu-advanced-overlap__container{
            display: flex;
            flex-direction: column;
            height: unset;
        }
        .wsu-advanced-overlap__column{
            width: 100%;
        }
        .wsu-advanced-overlap__column-one-inner, .wsu-advanced-overlap__column-two-inner{
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.wsu-advanced-overlap--surface-right{
    .wsu-advanced-overlap__column-two-inner{
        position: relative;
        z-index: $wsu-zindex--content;
    }
}
.wsu-advanced-overlap--surface-left{
    .wsu-advanced-overlap__column-one-inner{
        position: relative;
        z-index: $wsu-zindex--content;
    }
}

/* overlap to the left/right*/
.wsu-advanced-overlap--overlap-left .wsu-advanced-overlap__column-one-inner {
    margin-right: 0;
}
.wsu-advanced-overlap--overlap-right .wsu-advanced-overlap__column-two-inner {
    margin-left: 0;
}

.wsu-advanced-overlap--overlap-large{

    &:not(.wsu-advanced-overlap--overlap-left) {
        .wsu-advanced-overlap__column-one-inner{
            margin-right: -($wsu-spacing--large);
        }
    }

    &:not(.wsu-advanced-overlap--overlap-right) {
        .wsu-advanced-overlap__column-two-inner{
            margin-left: -($wsu-spacing--large);
        }
    }
}

.wsu-advanced-overlap--overlap-xlarge{

    &:not(.wsu-advanced-overlap--overlap-left) {
        .wsu-advanced-overlap__column-one-inner{
            margin-right: -($wsu-spacing--xlarge);
        }
    }
    &:not(.wsu-advanced-overlap--overlap-right) {
        .wsu-advanced-overlap__column-two-inner{
            margin-left: -($wsu-spacing--xlarge);
        }
    }
}
.wsu-advanced-overlap--overlap-xxlarge{

    &:not(.wsu-advanced-overlap--overlap-left) {
        .wsu-advanced-overlap__column-one-inner{
            margin-right: -($wsu-spacing--xxlarge);
        }
    }
    &:not(.wsu-advanced-overlap--overlap-right) {
        .wsu-advanced-overlap__column-two-inner{
            margin-left: -($wsu-spacing--xxlarge);
        }
    }
}
.wsu-advanced-overlap--overlap-hero{

    &:not(.wsu-advanced-overlap--overlap-left) {
        .wsu-advanced-overlap__column-one-inner{
            margin-right: -($wsu-spacing--hero);
        }
    }
    &:not(.wsu-advanced-overlap--overlap-right) {
        .wsu-advanced-overlap__column-two-inner{
            margin-left: -($wsu-spacing--hero);
        }
    }
}
.wsu-advanced-overlap--overlap-xhero{

    &:not(.wsu-advanced-overlap--overlap-left) {
        .wsu-advanced-overlap__column-one-inner{
            margin-right: -($wsu-spacing--xhero);
        }
    }
    &:not(.wsu-advanced-overlap--overlap-right) {
        .wsu-advanced-overlap__column-two-inner{
            margin-left: -($wsu-spacing--xhero);
        }
    }
}