{% extends "template-component-page.njk" %}
{% from "advanced-overlap/_macro.njk" import advancedOverlap %}
{% block content %}
{% include 'advanced-overlap/html.njk' %}

{{ advancedOverlap(' wsu-advanced-overlap--overlap-xlarge') }}
{{ advancedOverlap(' wsu-advanced-overlap--overlap-xxlarge') }}
{{ advancedOverlap(' wsu-advanced-overlap--overlap-hero') }}
{{ advancedOverlap(' wsu-advanced-overlap--overlap-xhero wsu-advanced-overlap--surface-left') }}
<hr />
{{ advancedOverlap(' wsu-advanced-overlap--overlap-right') }}
{{ advancedOverlap(' wsu-advanced-overlap--overlap-left') }}
{{ advancedOverlap(' wsu-advanced-overlap--overlap-large wsu-advanced-overlap--overlap-right') }}
{{ advancedOverlap(' wsu-advanced-overlap--overlap-large wsu-advanced-overlap--overlap-left') }}
{%  endblock %}