{% extends "component.njk" %}
{% from "experimental_video-frame/_macro.njk" import videoFrame %}

{% block content %}
<div class="wsu-demo-component">
    {% include 'experimental_video-frame/html.njk' %}
</div>
<div class="wsu-demo-component" style="height: 500px; position: relative">
    {{ videoFrame( ' wsu-video-frame--position-fill', true ) }}
</div>
<div class="wsu-demo-component" style="height: 500px; position: relative">
    {{ videoFrame( ' wsu-video-frame--position-fill', true, 'https://player.vimeo.com/video/76979871?autoplay=1' ) }}
</div>
{%  endblock %}

{% block scripts %}
<script src="https://player.vimeo.com/api/player.js"></script>
{%  endblock %}

{{ videoFrame( ' wsu-video-frame--position-fill' ) }}