{% extends "component.njk" %}
{% from "note/_macro.njk" import note %}
{% block content %}
<div class="wsu-demo-component">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ex arcu, malesuada convallis ipsum pharetra in.
        Aliquam sit amet mi ut nunc pellentesque vestibulum. Aliquam turpis sem, vehicula a convallis eu, tempus at nibh. Morbi semper
        nibh in ante gravida, eu egestas dui vehicula. In magna urna, euismod in tempus non, blandit eu enim. In nec ante massa. Etiam
        at bibendum ligula. Nam sapien tortor, volutpat ac nisl vehicula, dignissim pulvinar massa. Nulla placerat, nibh a ultricies
        vehicula, nunc felis ullamcorper eros, a bibendum magna magna a massa. Pellentesque euismod commodo ex, a scelerisque dolor
        suscipit nec.
    </p>
    {{ note('', 'wsu-i-rate', true, 'h2') }}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ex arcu, malesuada convallis ipsum pharetra in.
        Aliquam sit amet mi ut nunc pellentesque vestibulum. Aliquam turpis sem, vehicula a convallis eu, tempus at nibh. Morbi semper
        nibh in ante gravida, eu egestas dui vehicula. In magna urna, euismod in tempus non, blandit eu enim. In nec ante massa. Etiam
        at bibendum ligula. Nam sapien tortor, volutpat ac nisl vehicula, dignissim pulvinar massa. Nulla placerat, nibh a ultricies
        vehicula, nunc felis ullamcorper eros, a bibendum magna magna a massa. Pellentesque euismod commodo ex, a scelerisque dolor
        suscipit nec.
    </p>
    {{ note(' wsu-note--small', 'wsu-i-rate', true, '') }}
</div>
<hr />
<div class="wsu-demo-component">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ex arcu, malesuada convallis ipsum pharetra in.
        Aliquam sit amet mi ut nunc pellentesque vestibulum. Aliquam turpis sem, vehicula a convallis eu, tempus at nibh. Morbi semper
        nibh in ante gravida, eu egestas dui vehicula. In magna urna, euismod in tempus non, blandit eu enim. In nec ante massa. Etiam
        at bibendum ligula. Nam sapien tortor, volutpat ac nisl vehicula, dignissim pulvinar massa. Nulla placerat, nibh a ultricies
        vehicula, nunc felis ullamcorper eros, a bibendum magna magna a massa. Pellentesque euismod commodo ex, a scelerisque dolor
        suscipit nec.
    </p>
    {{ note('', 'wsu-i-rate', false, '') }}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ex arcu, malesuada convallis ipsum pharetra in.
        Aliquam sit amet mi ut nunc pellentesque vestibulum. Aliquam turpis sem, vehicula a convallis eu, tempus at nibh. Morbi semper
        nibh in ante gravida, eu egestas dui vehicula. In magna urna, euismod in tempus non, blandit eu enim. In nec ante massa. Etiam
        at bibendum ligula. Nam sapien tortor, volutpat ac nisl vehicula, dignissim pulvinar massa. Nulla placerat, nibh a ultricies
        vehicula, nunc felis ullamcorper eros, a bibendum magna magna a massa. Pellentesque euismod commodo ex, a scelerisque dolor
        suscipit nec.
    </p>
    {{ note('', '', false, '') }}
</div>
<hr />
<div class="wsu-demo-component">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ex arcu, malesuada convallis ipsum pharetra in.
        Aliquam sit amet mi ut nunc pellentesque vestibulum. Aliquam turpis sem, vehicula a convallis eu, tempus at nibh. Morbi semper
        nibh in ante gravida, eu egestas dui vehicula. In magna urna, euismod in tempus non, blandit eu enim. In nec ante massa. Etiam
        at bibendum ligula. Nam sapien tortor, volutpat ac nisl vehicula, dignissim pulvinar massa. Nulla placerat, nibh a ultricies
        vehicula, nunc felis ullamcorper eros, a bibendum magna magna a massa. Pellentesque euismod commodo ex, a scelerisque dolor
        suscipit nec.
    </p>
    {{ note(' wsu-note--border-crimson-light', 'wsu-i-favorite', true, 'h2') }}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ex arcu, malesuada convallis ipsum pharetra in.
        Aliquam sit amet mi ut nunc pellentesque vestibulum. Aliquam turpis sem, vehicula a convallis eu, tempus at nibh. Morbi semper
        nibh in ante gravida, eu egestas dui vehicula. In magna urna, euismod in tempus non, blandit eu enim. In nec ante massa. Etiam
        at bibendum ligula. Nam sapien tortor, volutpat ac nisl vehicula, dignissim pulvinar massa. Nulla placerat, nibh a ultricies
        vehicula, nunc felis ullamcorper eros, a bibendum magna magna a massa. Pellentesque euismod commodo ex, a scelerisque dolor
        suscipit nec.
    </p>
    {{ note(' wsu-note--border-autumn', 'wsu-i-favorite', true, 'h2') }}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ex arcu, malesuada convallis ipsum pharetra in.
        Aliquam sit amet mi ut nunc pellentesque vestibulum. Aliquam turpis sem, vehicula a convallis eu, tempus at nibh. Morbi semper
        nibh in ante gravida, eu egestas dui vehicula. In magna urna, euismod in tempus non, blandit eu enim. In nec ante massa. Etiam
        at bibendum ligula. Nam sapien tortor, volutpat ac nisl vehicula, dignissim pulvinar massa. Nulla placerat, nibh a ultricies
        vehicula, nunc felis ullamcorper eros, a bibendum magna magna a massa. Pellentesque euismod commodo ex, a scelerisque dolor
        suscipit nec.
    </p>
    {{ note(' wsu-note--border-goldfinch', 'wsu-i-favorite', true, 'h2') }}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ex arcu, malesuada convallis ipsum pharetra in.
        Aliquam sit amet mi ut nunc pellentesque vestibulum. Aliquam turpis sem, vehicula a convallis eu, tempus at nibh. Morbi semper
        nibh in ante gravida, eu egestas dui vehicula. In magna urna, euismod in tempus non, blandit eu enim. In nec ante massa. Etiam
        at bibendum ligula. Nam sapien tortor, volutpat ac nisl vehicula, dignissim pulvinar massa. Nulla placerat, nibh a ultricies
        vehicula, nunc felis ullamcorper eros, a bibendum magna magna a massa. Pellentesque euismod commodo ex, a scelerisque dolor
        suscipit nec.
    </p>
    {{ note(' wsu-note--border-vineyard', 'wsu-i-favorite', true, 'h2') }}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ex arcu, malesuada convallis ipsum pharetra in.
        Aliquam sit amet mi ut nunc pellentesque vestibulum. Aliquam turpis sem, vehicula a convallis eu, tempus at nibh. Morbi semper
        nibh in ante gravida, eu egestas dui vehicula. In magna urna, euismod in tempus non, blandit eu enim. In nec ante massa. Etiam
        at bibendum ligula. Nam sapien tortor, volutpat ac nisl vehicula, dignissim pulvinar massa. Nulla placerat, nibh a ultricies
        vehicula, nunc felis ullamcorper eros, a bibendum magna magna a massa. Pellentesque euismod commodo ex, a scelerisque dolor
        suscipit nec.
    </p>
    {{ note(' wsu-note--border-pacificsky', 'wsu-i-favorite', true, 'h2') }}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ex arcu, malesuada convallis ipsum pharetra in.
        Aliquam sit amet mi ut nunc pellentesque vestibulum. Aliquam turpis sem, vehicula a convallis eu, tempus at nibh. Morbi semper
        nibh in ante gravida, eu egestas dui vehicula. In magna urna, euismod in tempus non, blandit eu enim. In nec ante massa. Etiam
        at bibendum ligula. Nam sapien tortor, volutpat ac nisl vehicula, dignissim pulvinar massa. Nulla placerat, nibh a ultricies
        vehicula, nunc felis ullamcorper eros, a bibendum magna magna a massa. Pellentesque euismod commodo ex, a scelerisque dolor
        suscipit nec.
    </p>
    {{ note(' wsu-note--border-midnight', 'wsu-i-favorite', true, 'h2') }}
</div>
<hr />
<div class="wsu-demo-component">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ex arcu, malesuada convallis ipsum pharetra in.
        Aliquam sit amet mi ut nunc pellentesque vestibulum. Aliquam turpis sem, vehicula a convallis eu, tempus at nibh. Morbi semper
        nibh in ante gravida, eu egestas dui vehicula. In magna urna, euismod in tempus non, blandit eu enim. In nec ante massa. Etiam
        at bibendum ligula. Nam sapien tortor, volutpat ac nisl vehicula, dignissim pulvinar massa. Nulla placerat, nibh a ultricies
        vehicula, nunc felis ullamcorper eros, a bibendum magna magna a massa. Pellentesque euismod commodo ex, a scelerisque dolor
        suscipit nec.
    </p>
    {{ note('', 'wsu-i-more', true, 'h3') }}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ex arcu, malesuada convallis ipsum pharetra in.
        Aliquam sit amet mi ut nunc pellentesque vestibulum. Aliquam turpis sem, vehicula a convallis eu, tempus at nibh. Morbi semper
        nibh in ante gravida, eu egestas dui vehicula. In magna urna, euismod in tempus non, blandit eu enim. In nec ante massa. Etiam
        at bibendum ligula. Nam sapien tortor, volutpat ac nisl vehicula, dignissim pulvinar massa. Nulla placerat, nibh a ultricies
        vehicula, nunc felis ullamcorper eros, a bibendum magna magna a massa. Pellentesque euismod commodo ex, a scelerisque dolor
        suscipit nec.
    </p>
    {{ note('', 'wsu-i-more', true, 'h4') }}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ex arcu, malesuada convallis ipsum pharetra in.
        Aliquam sit amet mi ut nunc pellentesque vestibulum. Aliquam turpis sem, vehicula a convallis eu, tempus at nibh. Morbi semper
        nibh in ante gravida, eu egestas dui vehicula. In magna urna, euismod in tempus non, blandit eu enim. In nec ante massa. Etiam
        at bibendum ligula. Nam sapien tortor, volutpat ac nisl vehicula, dignissim pulvinar massa. Nulla placerat, nibh a ultricies
        vehicula, nunc felis ullamcorper eros, a bibendum magna magna a massa. Pellentesque euismod commodo ex, a scelerisque dolor
        suscipit nec.
    </p>
    {{ note('', 'wsu-i-more', true, 'h5') }}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis ex arcu, malesuada convallis ipsum pharetra in.
        Aliquam sit amet mi ut nunc pellentesque vestibulum. Aliquam turpis sem, vehicula a convallis eu, tempus at nibh. Morbi semper
        nibh in ante gravida, eu egestas dui vehicula. In magna urna, euismod in tempus non, blandit eu enim. In nec ante massa. Etiam
        at bibendum ligula. Nam sapien tortor, volutpat ac nisl vehicula, dignissim pulvinar massa. Nulla placerat, nibh a ultricies
        vehicula, nunc felis ullamcorper eros, a bibendum magna magna a massa. Pellentesque euismod commodo ex, a scelerisque dolor
        suscipit nec.
    </p>
    {{ note('', 'wsu-i-more', true, 'h6') }}
</div>
<style>
.wsu-demo-component {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    width: 100%;
}
</style>
{%  endblock %}
