<div style="margin-bottom: 50px">
    <div class="wsu-header-utility-bar ">
        <a href="#">
            <button class="wsu-header-utility-bar__quicklinks">Quicklinks / Search </button>
        </a>
        <a href="">
            <button class="wsu-header-utility-bar__cta">Give</button>
        </a>
    </div>
</div>

<div style="margin-bottom: 50px">
    <div class="wsu-header-utility-bar ">
        <a href="#">
            <button class="wsu-header-utility-bar__quicklinks">Quicklinks / Search </button>
        </a>
        <a href="">
            <button class="wsu-header-utility-bar__cta">Apply</button>
        </a>
    </div>
</div>

<div style="margin-bottom: 50px">
    <div class="wsu-header-utility-bar ">
        <a href="#">
            <button class="wsu-header-utility-bar__quicklinks">Quicklinks / Search </button>
        </a>
        <a href="">
            <button class="wsu-header-utility-bar__cta">Request Info</button>
        </a>
    </div>
</div>