{% macro menuAudience(  classes='' ) %}
<div class="wsu-menu-audience {{ classes }}" >
    <a href="#" class="wsu-menu-audience__link">
        Future Students
    </a>
    <a href="#" class="wsu-menu-audience__link">
        Current Students
    </a>
    <a href="#" class="wsu-menu-audience__link"> 
        Faculty & Staff 
    </a>
</div>
{% endmacro %}