@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-menu-audience{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 10px;

    &__link{
        font-size: $wsu-font-size--medium;
        padding: 0.5em 2em;
        color: $wsu-color--gray-85;
        text-decoration: none;
        position: relative;
    }

    &__link::after{
        content: '';
        display: block;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 3px;
        background-color: transparent;
        transition: height .2s cubic-bezier(0,0,.03,1);
    }

    &__link:hover::after{
        height: 4px;
        background-color: $wsu-color--crimson-light;
    }
    &__link:hover, &__link:focus, &__link:active{
        padding: 0.5em 2em;
    }
    
    &__mobile-separator{
        display:none;
    }
}

@media screen and (min-width: 992px ) {
    .wsu-menu-audience__link:not(:last-child)::before { 
        content: ""; 
        display: block; 
        right: 0; 
        top: 10px; 
        bottom: 10px; 
        width: 1px; 
        height: auto; 
        position: absolute; 
        background-color: #ccc;
    }
}