{% extends "component.njk" %}

{% block content %}
{% include 'menu-utility/html.njk' %}
<hr />
{% include 'menu-utility/html--spaced.njk' %}
<hr />
{% include 'menu-utility/html--horizontal.njk' %}
<hr />
{%  endblock %}