
{% from "news-card/_macro.njk" import newsCard %}

{% macro cardWrapper( classes='', title=false, button=false ) %}
<div class="wsu-card-wrapper {{ classes }}">
        {% if title %}
        <h2 class="wsu-card-wrapper__title">{{ title }}</h2>
        {% endif %}
        {{ newsCard('') }}
        {{ newsCard('') }}
        {{ newsCard('') }}
        {% if button %}
        <div class="wsu-card-wrapper__footer">
                <a class="wsu-button" href="#">{{ button }}</a>
        </div>
        {% endif %}
</div>
{% endmacro %}