{% extends "component.njk" %}
{% from "card-wrapper/_macro.njk" import cardWrapper %}

{% block content %}
<div class="wsu-demo-component">
{% include 'card-wrapper/html.njk' %}
<hr />
{{ cardWrapper( ' wsu-card-wrapper--per-row-3', 'Card Group Title', 'More Cards' ) }}
<hr />
{{ cardWrapper( ' wsu-card-wrapper--per-row-2', '', '', true, true, false, false ) }}
<hr />
{{ cardWrapper( ' wsu-card-wrapper--per-row-4', '', '', true, true, true, true ) }}
<hr />
{{ cardWrapper( '', '', '', true, false, false, false ) }}
</div>

<style>
.wsu-demo-component {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
</style>
{%  endblock %}  