<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <title>Component</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css?ver=0.15.2.1" media='all' />
    <link rel="stylesheet" href="../../bundles/wsu-design-system.css" media='all' />
    <style>
        .wsu-custom-demo {
            margin: 0 80px;
            padding: 80px 0;
            display: flex;
            justify-content: center;
            min-height: 100vh;
            box-sizing: border-box;
            flex-direction: column;
        }
    </style>

    <script src="../../bundles/wsu-design-system.init.js"></script>
    <script async src="https://cse.google.com/cse.js?cx=54e8a42262bb5e5f2"></script>
</head>

<body>
    <div class="wsu-custom-demo">

        <div class="wsu-demo--modal">

            <div class="wsu-modal wsu-modal--size-small wsu-modal--style-centered wsu-modal--hidden" id="modal-small" role="dialog" aria-modal="true" aria-labelledby="dialog_label" aria-describedby="dialog_description">
                <button class="wsu-modal__overlay" aria-label="Close site menu" tabindex="-1"></button>
                <div class="wsu-modal__content">
                    <div class="wsu-modal__inner-wrapper">
                        <button class="wsu-button-ui-close wsu-modal__close" aria-label="Close site menu">Close</button>
                        <div class="wsu-modal__content-wrapper">




                            <h3 class="wsu-modal__title" id="dialog_label">This is a Small Modal</h3>


                            <p class="wsu-modal__caption" id="dialog_description">Here is a typical warning or alert message we need you to acknolwedge.</p>







                            <button class="wsu-button">
                                Sounds Good
                            </button>




                        </div>
                        <button class="wsu-button-ui-close wsu-modal__close" aria-label="Close site menu">Close</button>
                    </div>
                </div>
            </div>


            <div class="wsu-modal wsu-modal--size-medium wsu-modal--style-centered wsu-modal--hidden" id="modal-medium" role="dialog" aria-modal="true" aria-labelledby="dialog_label" aria-describedby="dialog_description">
                <button class="wsu-modal__overlay" aria-label="Close site menu" tabindex="-1"></button>
                <div class="wsu-modal__content">
                    <div class="wsu-modal__inner-wrapper">
                        <button class="wsu-button-ui-close wsu-modal__close" aria-label="Close site menu">Close</button>
                        <div class="wsu-modal__content-wrapper">


                            <img src="https://s3.wp.wsu.edu/uploads/sites/2797/2022/03/space.jpg" alt="" />



                            <h3 class="wsu-modal__title" id="dialog_label">This is a Medium Modal</h3>


                            <p class="wsu-modal__caption" id="dialog_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra nunc nec rutrum porta. Praesent neque velit, dignissim sit amet massa sit amet, dapibus aliquam metus. Ut sapien lacus, fringilla non arcu elementum, blandit egestas justo.</p>







                            <button class="wsu-button">
                                This is Cool
                            </button>




                        </div>
                        <button class="wsu-button-ui-close wsu-modal__close" aria-label="Close site menu">Close</button>
                    </div>
                </div>
            </div>


            <div class="wsu-modal wsu-modal--size-large wsu-modal--style-columns wsu-modal--hidden" id="modal-large" role="dialog" aria-modal="true" aria-labelledby="dialog_label" aria-describedby="dialog_description">
                <button class="wsu-modal__overlay" aria-label="Close site menu" tabindex="-1"></button>
                <div class="wsu-modal__content">
                    <div class="wsu-modal__inner-wrapper">
                        <button class="wsu-button-ui-close wsu-modal__close" aria-label="Close site menu">Close</button>
                        <div class="wsu-modal__content-wrapper">

                            <div class="wsu-modal__column">
                                <img src="https://s3.wp.wsu.edu/uploads/sites/2797/2022/03/greenlandphoto1.jpg" alt="" />
                                <h3 class="wsu-modal__title" id="dialog_label">Column Title</h3>
                                <p class="wsu-modal__caption" id="dialog_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra nunc nec rutrum porta. Praesent neque velit, dignissim sit amet massa sit amet, dapibus aliquam metus. Ut sapien lacus, fringilla non arcu elementum, blandit egestas justo.</p>
                                <p class="wsu-modal__caption" id="dialog_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra nunc nec rutrum porta. Praesent neque velit, dignissim sit amet massa sit amet, dapibus aliquam metus. Ut sapien lacus, fringilla non arcu elementum, blandit egestas justo.</p>
                                <button class="wsu-button">Button 1</button>
                            </div>
                            <div class="wsu-modal__column">
                                <img src="https://s3.wp.wsu.edu/uploads/sites/2797/2022/04/honey-jar.jpg" alt="" />
                                <h3 class="wsu-modal__title" id="dialog_label">Column Title</h3>
                                <p class="wsu-modal__caption" id="dialog_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra nunc nec rutrum porta. Praesent neque velit, dignissim sit amet massa sit amet, dapibus aliquam metus. Ut sapien lacus, fringilla non arcu elementum, blandit egestas justo.</p>
                                <p class="wsu-modal__caption" id="dialog_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra nunc nec rutrum porta. Praesent neque velit, dignissim sit amet massa sit amet, dapibus aliquam metus. Ut sapien lacus, fringilla non arcu elementum, blandit egestas justo.</p>
                                <button class="wsu-button">Button 2</button>
                            </div>



                        </div>
                        <button class="wsu-button-ui-close wsu-modal__close" aria-label="Close site menu">Close</button>
                    </div>
                </div>
            </div>


            <div class="wsu-modal wsu-modal--size-full wsu-modal--hidden" id="modal-full" role="dialog" aria-modal="true" aria-labelledby="dialog_label" aria-describedby="dialog_description">
                <button class="wsu-modal__overlay" aria-label="Close site menu" tabindex="-1"></button>
                <div class="wsu-modal__content">
                    <div class="wsu-modal__inner-wrapper">
                        <button class="wsu-button-ui-close wsu-modal__close" aria-label="Close site menu">Close</button>
                        <div class="wsu-modal__content-wrapper">




                            <h3 class="wsu-modal__title" id="dialog_label">Full Modal with a Form</h3>


                            <p class="wsu-modal__caption" id="dialog_description">Tell us more about yourself and sign up to get updates from us!</p>



                            <form>
                                <p>
                                    <label for="example-input-text">Name</label>
                                    <input type="text" id="example-input-text" placeholder="Enter some text here">
                                </p>
                                <p>
                                    <label for="example-input-email">Email address</label>
                                    <input type="email" id="example-input-email" placeholder="Enter email">
                                </p>
                                <p>
                                    <label for="example-input-tel">Telephone number</label>
                                    <input type="tel" id="example-input-tel" placeholder="Telephone number">
                                </p>
                                <p>
                                    <label for="example-input-url">Your Website</label>
                                    <input type="url" id="example-input-url" placeholder="Enter a url here">
                                </p>
                                <p>
                                    <label for="example-select1">Example select</label>
                                    <select id="example-select1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </p>
                                <p>
                                    <label for="example-textarea">Leave us a message</label>
                                    <textarea id="example-textarea" rows="3"></textarea>
                                </p>
                                <p>
                                    <input type="reset" name="reset" value="Cancel" class="wsu-button wsu-button--style-outline">
                                    <input type="submit" name="submit" value="Submit" class="wsu-button">
                                </p>
                            </form>





                        </div>
                        <button class="wsu-button-ui-close wsu-modal__close" aria-label="Close site menu">Close</button>
                    </div>
                </div>
            </div>


            <div class="">


                <button class="wsu-button" data-open="modal-small">
                    Small Modal
                </button>




                <button class="wsu-button" data-open="modal-medium">
                    Medium Modal
                </button>




                <button class="wsu-button" data-open="modal-large">
                    Large Modal
                </button>




                <button class="wsu-button" data-open="modal-full">
                    Full Modal
                </button>


            </div>
        </div>
        <hr />
        <style>
            button.wsu-button {
                display: block;
                margin-bottom: 30px;
            }
        </style>

    </div>

    <script defer src="../../bundles/wsu-design-system.js"></script>
</body>

</html>