<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <title>Component</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css?ver=0.15.2.1" media='all' />
    <link rel="stylesheet" href="../../bundles/wsu-design-system.css" media='all' />
    <style>
        .wsu-custom-demo {
            margin: 0 80px;
            padding: 80px 0;
            display: flex;
            justify-content: center;
            min-height: 100vh;
            box-sizing: border-box;
            flex-direction: column;
        }
    </style>

    <script src="../../bundles/wsu-design-system.init.js"></script>
    <script async src="https://cse.google.com/cse.js?cx=54e8a42262bb5e5f2"></script>
</head>

<body>
    <div class="wsu-custom-demo">

        <div>

            <div class="wsu-stat" role="statistic">
                <span class="wsu-stat__value">31%</span>

                <span class="wsu-stat__caption">students who are first in their family to attend college</span>

            </div>


            <div class="wsu-stat" role="statistic">
                <span class="wsu-stat__value">$345 million</span>

                <span class="wsu-stat__caption">annual research funding, fy 2019</span>

            </div>


            <div class="wsu-stat" role="statistic">
                <span class="wsu-stat__value">66,558 hours</span>

                <span class="wsu-stat__caption">civic engagement by 5,741 WSU student volunteers (2019-20)</span>

            </div>

        </div>
        <hr />
        <div>

            <div class="wsu-stat wsu-stat--size-small" role="statistic">
                <span class="wsu-stat__value">31%</span>

                <span class="wsu-stat__caption">students who are first in their family to attend college</span>

            </div>


            <div class="wsu-stat wsu-stat--size-small" role="statistic">
                <span class="wsu-stat__value">$345 million</span>

                <span class="wsu-stat__caption">annual research funding, fy 2019</span>

            </div>


            <div class="wsu-stat wsu-stat--size-small" role="statistic">
                <span class="wsu-stat__value">66,558 hours</span>

                <span class="wsu-stat__caption">civic engagement by 5,741 WSU student volunteers (2019-20)</span>

            </div>

        </div>
        <hr />
        <div>

            <div class="wsu-stat wsu-stat--position-inline" role="statistic">
                <span class="wsu-stat__value">31%</span>

                <span class="wsu-stat__caption">students who are first in their family to attend college</span>

            </div>


            <div class="wsu-stat wsu-stat--position-inline" role="statistic">
                <span class="wsu-stat__value">$345 million</span>

                <span class="wsu-stat__caption">annual research funding, fy 2019</span>

            </div>


            <div class="wsu-stat wsu-stat--position-inline" role="statistic">
                <span class="wsu-stat__value">66,558 hours</span>

                <span class="wsu-stat__caption">civic engagement by 5,741 WSU student volunteers (2019-20)</span>

            </div>

        </div>
        <hr />
        <div class="wsu-stat__wrapper-per-row-3">

            <div class="wsu-stat wsu-stat--style-circles wsu-stat--style-circles-unit" role="statistic">
                <span class="wsu-stat__value">345</span>

                <span class="wsu-stat__unit">Million</span>

                <span class="wsu-stat__caption">annual research funding, FY 2019</span>

                <i class="wsu-stat__icon wsu-i-light-bulb"></i>

            </div>


            <div class="wsu-stat wsu-stat--style-circles wsu-stat--style-circles-bottom" role="statistic">
                <span class="wsu-stat__value">565</span>

                <span class="wsu-stat__caption">study abroad programs</span>

                <i class="wsu-stat__icon wsu-i-location"></i>

            </div>


            <div class="wsu-stat wsu-stat--style-circles wsu-stat--style-circles-top" role="statistic">
                <span class="wsu-stat__value">66,558</span>

                <span class="wsu-stat__caption">Annual student volunteer hours</span>

                <i class="wsu-stat__icon wsu-i-time"></i>

            </div>

        </div>

    </div>

    <script defer src="../../bundles/wsu-design-system.js"></script>
</body>

</html>