@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-dropdown--modal {
     position: relative;

     & > ul {
         top: 100%;
         position: absolute;
         @include wsu-modal-box;
         display: none;
     } 
}