@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-wrapper-global {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.wsu-wrapper-site {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: transform $wsu-transition-speed--medium $wsu-easing, margin-left $wsu-transition-speed--medium $wsu-easing;
    overflow: hidden;
}

.wsu-wrapper-content {
    position: relative;
    flex: 1 1;
    margin: 0 auto;
    padding: $wsu-spacing--xxlarge $wsu-spacing--xlarge $wsu-spacing--xlarge;
    box-sizing: border-box;
    max-width: $wsu-width--content;
    width: 100%;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: calc( (100vw - 100%) / -2);
        right: calc( (100vw - 100%) / -2);
        top: 0;
        width: auto;
        height: 3px;
        background-color: $wsu-color--gray-10;
    }
}

.wsu-wrapper-content--layout-sidebar-right {
    width: 100%;
    display: flex;
}

.wsu-wrapper-content--layout-sidebar-right {
    .wsu-wrapper-main {
        width: 60%;
    }
}

.wsu-wrapper-main {
    flex-grow: 1;
    flex-shrink: 10;
}

.wsu-wrapper-sidebar {
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: $wsu-spacing--column;
    padding-right: $wsu-spacing--column;
    margin-left: $wsu-spacing--column;
    box-sizing: border-box;
}

@media screen and (max-width: $wsu-breakpoint--tablet-large) {

    .wsu-wrapper-content {
        display: block;
    }

    .wsu-wrapper-sidebar {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        margin-top: $wsu-spacing--large;
    }

    .wsu-wrapper-content--layout-sidebar-right {
        .wsu-wrapper-main {
            width: auto;
        }
    }
}

.wsu-wrapper-content .wsu-hero:first-child {
    margin-top: -$wsu-spacing--xxlarge;
}

@media screen and (min-width: $wsu-breakpoint--desktop) {
    .wsu-navigation-site-vertical ~ .wsu-wrapper-site .wsu-wrapper-content:not(.wsu-wrapper-content--fluid) {
        max-width: calc( 100vw - #{$wsu-width--navigation-open} - 30px );
    }
}

@media screen and (min-width: calc( #{$wsu-width--content} + #{$wsu-width--navigation-open} - 30px )) {
    .wsu-navigation-site-vertical ~ .wsu-wrapper-site .wsu-wrapper-content:not(.wsu-wrapper-content--wide):not(.wsu-wrapper-content--xwide):not(.wsu-wrapper-content--full):not(.wsu-wrapper-content--fluid) {
        max-width: $wsu-width--content;
    }
}

@media screen and (min-width: calc( #{$wsu-width--content-wide} + #{$wsu-width--navigation-open} - 20px )) {
    .wsu-navigation-site-vertical ~ .wsu-wrapper-site .wsu-wrapper-content.wsu-wrapper-content--wide {
        max-width: $wsu-width--content-wide;
    }
}

@media screen and (min-width: calc( #{$wsu-width--content-xwide} + #{$wsu-width--navigation-open} - 20px )) {
    .wsu-navigation-site-vertical ~ .wsu-wrapper-site .wsu-wrapper-content.wsu-wrapper-content--xwide {
        max-width: $wsu-width--content-xwide;
    } 
} 

@media screen and (min-width: $wsu-breakpoint--tablet-large) {

    .wsu-wrapper-content--has-sidebar {
        display: flex;
        flex-grow: 1;
    }
    
    .wsu-wrapper-content--has-sidebar .wsu-page-content {
        flex-grow: 1;
        margin-right: 2rem;
    }
    
    .wsu-page-sidebar {
        width: 25%;
        margin-left: 2rem;
        flex-shrink: 0;
    }

}

@media screen and (max-width: $wsu-breakpoint--phone) {

    .wsu-wrapper-content {
        padding: $wsu-spacing--xxlarge $wsu-spacing--xxmedium $wsu-spacing--xlarge;
    }
}


