<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <title>Component</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css?ver=0.15.2.1" media='all' />
    <link rel="stylesheet" href="../../bundles/wsu-design-system.css" media='all' />
    <style>
        .wsu-custom-demo {
            margin: 0 80px;
            padding: 80px 0;
            display: flex;
            justify-content: center;
            min-height: 100vh;
            box-sizing: border-box;
            flex-direction: column;
        }
    </style>

    <style>
        body {
            min-height: 200vh;
        }
    </style>

    <script src="../../bundles/wsu-design-system.init.js"></script>
    <script async src="https://cse.google.com/cse.js?cx=54e8a42262bb5e5f2"></script>
</head>

<body>
    <div class="wsu-custom-demo">

        <div class="wsu-wrapper-site">
            <div class="wsu-background--style-wsu-crimson-angle-right" style="position:relative;border:1px solid #000;height:600px">
            </div>
            <div class="wsu-background--style-wsu-crimson-angle-left wsu-background--style-wsu-crimson-angle-right" style="position:relative;border:1px solid #000;height:600px">
            </div>
            <div class="wsu-background--style-gray-angle-left wsu-background--style-gray-angle-right" style="position:relative;border:1px solid #000;height:600px">
            </div>
            <div class="wsu-background--style-crimson-angle-left wsu-background--style-crimson-angle-right" style="position:relative;border:1px solid #000;height:600px">
            </div>
        </div>

    </div>

    <script defer src="../../bundles/wsu-design-system.js"></script>
</body>

</html>