@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-menu-utility--horizontal {
    font-family: $wsu-font-family;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li {
        margin: 0;
        padding: 0 $wsu-spacing--xxsmall;
        display: flex;
        align-items: center;

        & > a {
            text-decoration: none;
            position: relative;
            color: inherit;

            @include wsu-menu-item--crimson-bar;
        }

        & > button {
            position: relative;
            background-color: transparent;
            outline: none;
            border: none;
            padding: 0;
            margin: 0;
            display: inline;
            line-height: inherit;
            color: inherit;

            @include wsu-menu-item--crimson-bar;
        }

    }

}