<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <title>Component</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css?ver=0.15.2.1" media='all' />
    <link rel="stylesheet" href="../../bundles/wsu-design-system.css" media='all' />
    <style>
        .wsu-custom-demo {
            margin: 0 80px;
            padding: 80px 0;
            display: flex;
            justify-content: center;
            min-height: 100vh;
            box-sizing: border-box;
            flex-direction: column;
        }
    </style>

    <script src="../../bundles/wsu-design-system.init.js"></script>
</head>

<body>
    <div class="wsu-custom-demo">

        <div class="wsu-demo-component">



            <div class="wsu-video-frame">
                <iframe class="wsu-video-frame__video" src="https://player.vimeo.com/video/76979871" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>


            </div>

        </div>
        <div class="wsu-demo-component" style="height: 500px; position: relative">

            <div class="wsu-video-frame wsu-video-frame--position-fill">
                <iframe class="wsu-video-frame__video-background" src="https://player.vimeo.com/video/76979871?background=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

                <button class="wsu-button-pause-background wsu-video-frame--action-pause-background">Pause Video</button>
            </div>

        </div>
        <div class="wsu-demo-component" style="height: 500px; position: relative">

            <div class="wsu-video-frame wsu-video-frame--position-fill" data-play="https://player.vimeo.com/video/76979871?autoplay=1">
                <iframe class="wsu-video-frame__video-background" src="https://player.vimeo.com/video/76979871?background=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                <button class="wsu-button-play wsu-video-frame--action-play">play Video</button>
                <button class="wsu-button-pause-background wsu-video-frame--action-pause-background">Pause Video</button>
            </div>

        </div>

    </div>

    <script src="https://player.vimeo.com/api/player.js"></script>

    <script defer src="../../bundles/wsu-design-system.js"></script>
</body>

</html>