{% from "experimental_article-title/macros/article-title.macro.njk" import articleTitle %}
{% from "caption/macros/caption.macro.njk" import caption %}
{% from "meta-date/macros/meta-date.macro.njk" import metaDate %}
{% from "meta-byline/macros/meta-byline.macro.njk" import metaByline %}
{% from "meta-tags/macros/macro.njk" import metaTags %}
{% from "image-frame/_macro.njk" import imageFrame %}
{% from "overlay/_macro.njk" import overlay %}
{% from "eyebrow-header/_macro.njk" import eyebrowHeader %}
{% from "experimental_video-frame/_macro.njk" import videoFrame %}
{% from "slider-frame/_macro.njk" import sliderFrame %}

{% macro hero(classes = '', linked = false, showCaption = true, titleTag = "div", eyebrowHeaderText = "Lorem ipsum dolor", isVideo = false, imageSrc = 'https://source.unsplash.com/collection/895539', heroTitle = 'Hero Banner Title', isSlider = false) %}
  <div class="wsu-hero wsu-width--full{{ classes }}">
    {% if imageSrc %}
      {{ imageFrame( ' wsu-image-frame--fill', '', false, imageSrc ) }}
    {% endif %}
    {% if isVideo %}
      {{ videoFrame( ' wsu-video-frame--position-fill', true ) }}
    {% endif %}
    {% if isSlider %}
      {{ sliderFrame( delay = 3000, effect = 'fade' ) }}
    {% endif %}
    {{ overlay(' wsu-overlay--dark-left wsu-pattern-after') }}
    <div class="wsu-hero__content">
      <div class="wsu-hero__caption">
        {% if eyebrowHeaderText %}
          {{ eyebrowHeader('', eyebrowHeaderText) }}
        {% endif %}
        <{{ titleTag }} class="wsu-title" id="unique-id-hero-banner-title">
          {{ heroTitle }}
        </{{ titleTag }}>
        {% if showCaption %}{{ caption() }}
        {% endif %}
        {% if linked %}
          <a class="wsu-button wsu-button--size-small" href="#" aria-labelledby="unique-id-hero-banner-title">Read More</a>
        {% endif %}
      </div>
      <div class="wsu-hero__image-caption">Image caption <a href="#">linked</a> here.</div>
    </div>
  </div>
{% endmacro %}