@import '../../../_assets/scss/variables';

.wsu-hero:not([class*="-hero--style-boxed"]) {

    &.has-sidebar {

        .wsu-hero__content {
            display: flex;
            flex-direction: column;
        }

        .cta-links {
            align-items: baseline;
            gap: 1.5rem;
        }

        @media screen and (min-width: $wsu-breakpoint--tablet-large) {

            .wsu-hero__content {
                flex-direction: row;
                justify-content: space-between;
            }

            .wsu-hero__caption {
                flex-basis: 66.66%;
            }

            .wsu-hero-sidebar__content {
                flex-basis: 33.33%;
                min-width: 320px;
            }

        }

    }

}