{% extends "component.njk" %}

{% block content %}
    {% include 'hero/html--slider.njk' %}
{% endblock %}

{# {% block styles %}
    <link rel="stylesheet" href="../../bundles/standalone/slider-frame/styles.css" media='all'/>
{% endblock %}

{% block scripts %}
    <script src="../../bundles/standalone/slider-frame/scripts.js"></script>
{% endblock %} #}