{% extends "component.njk" %}
{% from "hero/_macro.njk" import hero %}

{% block content %}
{% include 'hero/html.njk' %}
{% include 'hero/html--linked.njk' %}
<hr />
{{ hero(classes=' wsu-hero--style-caption', caption='Some Short Caption Here' ) }}
<hr />
{{ hero(classes=' wsu-hero--style-caption', isSlider=true, caption='Some Short Caption Here' ) }}
<hr />
{{ hero(classes=' wsu-hero--style-caption wsu-hero--caption-size-small', isSlider=true ) }}
<hr />
{{ hero(classes=' wsu-hero--caption-size-large', isSlider=true, caption='Some Short Caption Here' ) }}
<hr />
{{ hero(' wsu-hero--size-full wsu-pattern--wsu-light-radial-left') }}
{{ hero(' wsu-hero--size-large wsu-pattern--wsu-light-radial-left') }}
{{ hero(' wsu-hero--size-medium wsu-pattern--wsu-light-radial-left') }}
{{ hero(' wsu-pattern--wsu-light-radial-left') }}
{{ hero(' wsu-hero--size-small wsu-pattern--wsu-light-radial-left') }}
{{ hero(' wsu-hero--size-xsmall wsu-pattern--wsu-light-radial-left', false, false ) }}
<hr />
<h2>Heading Levels</h2>
{{ hero('', false, false, 'h1' ) }}
<hr />
{{ hero(' wsu-hero--style-title') }}
<style>
.wsu-hero {
    margin-bottom: 200px !important;
}

.wsu-custom-demo {
    margin: 0 !important;
}
</style>
{%  endblock %}   