@import "../../../_assets/scss/variables";
@import "../../../_assets/scss/mixins";

$people-list-filters-gap: $wsu-spacing--xsmall;

/*=============================================
=            Container            =
=============================================*/
.wsu-people-list {
  &:empty::after {
    display: block;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 52 100'%3E%3Ccircle cx='6' cy='50' r='6' fill='%23CA1237'%3E%3Canimate attributeName='opacity' begin='.1' dur='1s' repeatCount='indefinite' values='0;1;0'/%3E%3C/circle%3E%3Ccircle cx='26' cy='50' r='6' fill='%23CA1237'%3E%3Canimate attributeName='opacity' begin='.2' dur='1s' repeatCount='indefinite' values='0;1;0'/%3E%3C/circle%3E%3Ccircle cx='46' cy='50' r='6' fill='%23CA1237'%3E%3Canimate attributeName='opacity' begin='.3' dur='1s' repeatCount='indefinite' values='0;1;0'/%3E%3C/circle%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    width: 52px;
    height: 100px;
    margin: 0 auto;
  }

  &.has-no-results::after {
    content: "No results found for current search.";
  }
}
/*=====  End of Container  ======*/

/*=============================================
=            Filters            =
=============================================*/
.wsu-people-list__filters-container {
  z-index: 1;
  position: relative;
  margin-bottom: $wsu-spacing--xmedium - $people-list-filters-gap;

  &:empty {
    display: none;
  }
}

.wsu-people-list__filter-toggle {
  white-space: nowrap;
  width: 100%;

  &::after {
    content: "\F103";
    font-family: "wsu-icons";
    font-size: 0.7em;
    display: inline-block;
    vertical-align: middle;
    margin-left: $wsu-spacing--em-xsmall;
  }

  &[aria-expanded="true"]::after {
    content: "\F154";
  }

  &[aria-expanded="true"] + .wsu-people-list__select-list-container {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.wsu-people-list__fitler-label {
  display: flex;
  align-items: center;
}

.wsu-people-list__select-list-container {
  position: absolute;
  background-color: #fff;
  box-shadow: $wsu-dropshadow-rise--medium;
  margin-top: $wsu-spacing--sxxsmall;
  padding: $wsu-spacing--medium;

  transition-property: visibility, opacity, transform;
  transition-timing-function: $wsu-easing;
  transition-duration: $wsu-transition-speed--slow;

  transform: translateY(-$wsu-spacing--small);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;

  // add scrolling to large lists with custom scrollbar
  overflow-y: auto;
  max-height: 40vh;

  scrollbar-width: thin;
  scrollbar-color: $wsu-color--gray-50 $wsu-color--gray-15;

  &::-webkit-scrollbar {
    width: $wsu-spacing--sxxsmall;
  }

  &::-webkit-scrollbar-track {
    background: $wsu-color--gray-15;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $wsu-color--gray-50;
    border-radius: $wsu-spacing--sxxsmall;
  }
}

.wsu-people-list__select-filter,
.wsu-people-list__search-filter {
  width: 100%;
  margin-bottom: $people-list-filters-gap;
}

.wsu-people-list__select-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wsu-people-list__select-list-item {
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.wsu-people-list__fitler-checkbox {
  margin-right: $wsu-spacing--em-small;
  height: 1.15em;
}

.wsu-people-list__search-filter {
  flex-grow: 1;
}

.wsu-people-list__search-input {
  width: 100%;
}

.wsu-people-list__selected-filters-container {
  flex-basis: 100%;
  width: 100%;
  margin-bottom: $people-list-filters-gap;
}

.wsu-people-list__selected-filters-list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  font-size: $wsu-font-size--small;
}

.wsu-people-list__selected-filters-list-item {
  margin: 0 $wsu-spacing--em-xxmedium $wsu-spacing--em-small 0;
  padding: 0;
}

.wsu-people-list__selected-filter-toggle {
  background: none;
  cursor: pointer;
  border: none;
  padding: 0;
  font-weight: $wsu-font-weight--medium;
  display: flex;
  align-items: center;
  text-align: left;

  &::after {
    content: "\F154";
    color: $wsu-color--crimson;
    font-family: wsu-icons;
    font-size: 0.875em;
    margin-left: $wsu-spacing--em-xxsmall;
  }
}
/*=====  End of Filters  ======*/

/*=============================================
=            People List            =
=============================================*/
.wsu-people-list__person-image {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 129.244 128.125"%3E%3Cpath fill="%23fff" d="M221.931 212.722s6.536-2.79 10.118-13.595a26.818 26.818 0 0 1 2.331 13.355c-2.894.65-12.449.24-12.449.24" transform="translate(-143.12 -84.725)"/%3E%3Cpath fill="%23fff" d="M257.037 150.922s3.986 21.72-10.134 22.462c-13.622.71-20.038-19.776-20.038-19.776s3.293 40.033 22.392 37.4c21.5-2.965 7.78-40.082 7.78-40.082" transform="translate(-143.12 -84.725)"/%3E%3Cpath fill="%23fff" d="M153.319 207.556a.051.051 0 0 1 .022-.006c15.921-3.625 28.124-22.205 31.7-29.664l2.276-4.723 1.371 5.056a56.084 56.084 0 0 1 1.55 13.213c0 .819-.021 1.655-.065 2.5 5.493.208 9.413-.906 11.853-3.44 3.5-3.614 4.549-10.466 3.249-20.939-.644-5.012-2.5-12.984-4.138-20.021-.841-3.6-1.633-7-2.114-9.408-3.068-15.386.743-24.941 4.478-30.243a25.29 25.29 0 0 1 1.911-2.369c-11.024 3.7-20.262 9.467-29.8 18.989l6.7 7.775 2.741-2.566a44.371 44.371 0 0 1 .732 18.553 77.479 77.479 0 0 0-7.688-9.729l1.819-3.058-6.045-7.022-.7-.786c-7.431 10.2-9.833 18.553-9.833 18.553l5.269 4.827 3.068 2.779 1.032-2.959a23.308 23.308 0 0 1 .492 20.524c-.928-3.615-4.663-8.96-4.663-8.96l1.474-4.865-7.846-7.1c-8.157 25.482-19.055 33.737-19.055 33.737s11.788-2.124 18.356-4.33a53.566 53.566 0 0 1-8.157 25.679" transform="translate(-143.12 -84.725)"/%3E%3Cpath fill="%23fff" d="m272.353 115.623-18.837.8a20.219 20.219 0 0 1-1 6.59c1.759 7.688.536 11.859.536 11.859-3.151-7.332-5.548-9.369-5.548-9.369-17.3-7.682-27.021 9.691-25.978 20.9.846 9.211 4.193 21.436 6.8 40.616 2.195 16.14-5.978 23.118-15.38 24.718-.2.027-.41.065-.617.109a.645.645 0 0 0-.148.011 32.476 32.476 0 0 1-4.854.24.682.682 0 0 0-.18-.016c-.191 0-.371-.028-.562-.028-.732-.043-1.453-.12-2.168-.207-7.316-1.01-23.7-3.986-40.617-4.395 9.954-5.81 17.74-15.873 22.086-23a56.191 56.191 0 0 1 .453 7.038c0 1.321-.044 2.714-.18 4.133l-.164 1.944 1.949.164c7.786.677 13.306-.808 16.915-4.526 4.412-4.6 5.772-12.258 4.276-24.139-.645-5.209-2.539-13.29-4.194-20.415-.824-3.565-1.6-6.95-2.08-9.287-2.8-14.038.546-22.561 3.849-27.234a20.179 20.179 0 0 1 10.047-7.634c.065-.01.131-.027.2-.038l6.431-19.732h2.012l-4.319 18.962c1-.174 2.015-.333 3.041-.491l5.553-17.483h2l-3.636 16.932c5.749-.738 11.984-1.311 18.9-1.819a8.251 8.251 0 0 1 3.4 3.544l18.121-5.57.672 1.955-17.33 6.721c.136.355.273.726.382 1.1l18.946-2.353.317 2.031-18.384 3.669c.065.344.12.688.18 1.032l19.121.617Zm-54.578 8.468a26.959 26.959 0 0 1 16.331-4.248c1.534.115 2.834-.289 1.179-1.163-4.537-2.391-15.113-1.577-18.853.972-5.99 4.084-4.974 11.363-4.838 11.537a22.118 22.118 0 0 1 6.181-7.1" transform="translate(-143.12 -84.725)"/%3E%3C/svg%3E');
  background-color: $wsu-color--gray-70; // brand guide
  // background-color: $wsu-color--gray-10; // suggest 10, 15, or 20. Default seems heavy
  background-size: 66%;
  background-repeat: no-repeat;
  background-position: center center;

  &.has-photo {
    background-image: none;
    background-color: $wsu-color--gray-5;
  }
}
/*=====  End of People List  ======*/

@media screen and (min-width: $wsu-breakpoint--tablet) {
  .wsu-people-list__filters-container {
    display: flex;
    flex-flow: row wrap;
    margin-left: -$people-list-filters-gap / 2;
    margin-right: -$people-list-filters-gap / 2;
  }

  .wsu-people-list__select-list-container {
    width: auto;
    max-width: 400px;
    padding-right: $wsu-spacing--xlarge;
  }

  .wsu-people-list__select-filter,
  .wsu-people-list__search-filter {
    margin-left: $people-list-filters-gap / 2;
    margin-right: $people-list-filters-gap / 2;
    flex-grow: 1;
    width: auto;
  }

  .wsu-people-list__select-filter {
    flex-basis: calc(#{1 / 3 * 100%} - #{$people-list-filters-gap});
  }

  .wsu-people-list__search-filter {
    flex-basis: calc(#{2 / 3 * 100%} - #{$people-list-filters-gap});
  }

  .wsu-people-list__selected-filters-container {
    margin-left: $people-list-filters-gap / 2;
    margin-right: $people-list-filters-gap / 2;
  }
}
