{% extends "component.njk" %}

{% block content %}
    <div class="wsu-people-list wsu-spacing-before--large wsu-spacing-after--xsmall my-custom" 
    data-count="10" 
    data-page="1" 
    data-nid="" 
    data-base-url="https://people.wsu.edu"
    data-classification="" 
    data-university-category="" 
    data-university-location="" 
    data-university-organization="" 
    data-tag="" 
    data-profile-order="" 
    data-display-fields="photo,name,title,office,email" 
    data-focus-area-label="Focus Area" 
    data-website-link-text="Website" 
    data-profile-link="" 
    data-headingtag="h2" 
    data-columns="3" 
    data-photo-size="medium" 
    data-photo-srcset="" 
    data-filters="category,organization,tag,search,location,classification" 
    data-only-show-selected-term-values="" 
    data-exclude-term-values="" 
    data-include-term-values="" 
    data-category-filter-label="Filter by Category" 
    data-category-filter-terms="" 
    data-classification-filter-label="Filter by Classification" 
    data-classification-filter-terms="" 
    data-location-filter-label="Filter by Location" 
    data-location-filter-terms="" 
    data-organization-filter-label="Filter by Organization" 
    data-organization-filter-terms="" 
    data-search-filter-label="Type to search" 
    data-tag-filter-label="Filter by Tag" 
    data-tag-filter-terms=""></div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../../bundles/standalone/people-list/styles.css" media='all'/>
{% endblock %}

{% block scripts %}
    <script src="../../bundles/standalone/people-list/scripts.js"></script>
{% endblock %}