{% extends "component.njk" %}

{% block content %}
    <div class="wsu-people-list wsu-spacing-before--large wsu-spacing-after--xsmall my-custom" data-count="10" data-page="1"
    data-nid="" data-classification="" data-university-category="" data-university-location=""
    data-university-organization="" data-profile-order="" data-display-fields="photo,name,title" data-website-link-text="Website"
    data-heading-tag="h2" data-columns="3" data-photo-size="full" data-filters="search" data-exclude-term-values=""
    data-category-filter-label="Filter by category" data-classification-filter-label="Filter by classification"
    data-location-filter-label="Filter by location" data-organization-filter-label="Filter by organization"
    data-search-filter-label="Filter by search" data-tag-filter-label="Filter by tag"></div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../../bundles/standalone/people-list/styles.css" media='all'/>
{% endblock %}

{% block scripts %}
    <script src="../../bundles/standalone/people-list/scripts.js"></script>
{% endblock %}