<div class="wsu-people-list wsu-spacing-before--large wsu-spacing-after--xsmall my-custom" 
    data-component-id="2eca6a50884a4f848a434f4571590e94" data-count="200" data-page="1"
    data-nid="" data-classification="" data-university-category="" data-university-location=""
    data-university-organization="" data-display-fields="photo,name,title,office,email,degree,address,phone,website" 
    data-website-link-text="Website" data-columns="3"
    data-headingtag="h6" data-photo-size="" data-filters="search,location,organization,classification,tag,category" 
    data-exclude-term-values="business-office-veterinary-teaching-hospital"
    data-category-filter-label="Filter by category" data-classification-filter-label="Filter by classification"
    data-location-filter-label="Filter by location" data-organization-filter-label="Filter by organization"
    data-search-filter-label="Type to search" data-tag-filter-label="Filter by tag"></div>