<div class="wsu-people-list" 
    data-component-id="404701a6467a45f1b00c0699d4c2e8db" 
    data-count="100" 
    data-page="1" 
    data-nid="" 
    data-classification="" 
    data-university-category="" 
    data-university-location="" 
    data-university-organization="administration,web-communications,college-of-nursing" 
    data-profile-order="phil.weiler" 
    data-display-fields="photo,name,title,office,email" 
    data-website-link-text="Website" 
    data-headingtag="h2" 
    data-columns="3" 
    data-photo-size="medium" 
    data-photo-srcset="" 
    data-filters="search" 
    data-only-show-selected-term-values="false"
    data-include-term-values="" 
    data-exclude-term-values="" 
    data-category-filter-label="Filter by category" 
    data-classification-filter-label="Filter by classification" 
    data-location-filter-label="Filter by location" 
    data-organization-filter-label="Filter by organization" 
    data-search-filter-label="Type to search" 
    data-tag-filter-label="Filter by tag">