@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-wordmark {
	display: flex;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $wsu-font-family;
	color: inherit;
	outline: none;

	&__title {
		display: block;
		position: relative;
    
        @include wsu-font--xsmall;
        font-weight: 500;
    
        padding-left: $wsu-spacing--medium;

		&::after {
			content: '';
			width: 0;
			height: 3px;
			background-color: $wsu-color--crimson-light;
			position: absolute;
			bottom: -6px;
			display: block;
			transition: width $wsu-transition-speed--fast $wsu-easing;
		}

		&:visited {
			color: inherit;
		}

        @media screen and (max-width: $wsu-breakpoint--phone ) {
            font-size: 0;

            span {
                @include wsu-font--medium;
            }
        }
	}

	&:focus,
	&:focus-within,
	&:hover {

		.wsu-wordmark__title {

			&::after {
				width: $wsu-spacing--medium;
			}

		}

		.wsu-coug-head-boxed__icon {
			width: 42px;
			height: 42px;
		}
			
	}
}