<a class="wsu-wordmark" href="https://wsu.edu" aria-label="Go to WSU Homepage">
    {% include 'coug-head/coug-head-boxed.njk' %}
    <span class="wsu-wordmark__title">
        Washington State University
    </span>
    <span class="wsu-wordmark__title-mobile">
        WSU
    </span>
</a> 