<a class="wsu-wordmark" href="https://wsu.edu" title="WSU Homepage">
    {% include 'coug-head/coug-head-boxed.njk' %}
    <span class="wsu-wordmark__title">
        <span>W</span>ashington <span>S</span>tate <span>U</span>niversity
    </span>
</a>