{% extends "component.njk" %}
{% from "separator/_macro.njk" import separator %}

{% block styles %}
<style>
hr {
    width: 100%;
}
</style>

{%  endblock %}


{% block content %}

{{ separator() }}
{{ separator( style='thin') }}
{{ separator( style='crimson-mark') }}

{%  endblock %} 