{% extends "component.njk" %}

{% block content %}
<div class="wsu-demo-component">
{% include 'row/row-single.njk' %}
{% include 'row/row-halves.njk' %}
</div>
<style>
</style>
{%  endblock %}   