@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-carousel {
    padding: 39px;
    position: relative;
    width: auto;
    height: 100%;
    overflow: hidden;
    margin: auto;
    
    &__pagination {
        display: flex; 
        justify-content: center; 
        margin-top: $wsu-spacing--xsmall; 
 
    } 
    &__pagination .swiper-pagination-bullet-active { 
        --swiper-pagination-color: #a60f2d; 
    } 
    // Button navigation styles
    &__button-next { 
        color: #404040 !important;
        border: none;
        background: none;
        right: 0px !important;
        left: auto;
        position: absolute;
        top: 50%;
        width: calc(var(--swiper-navigation-size)/ 44 * 27);
        height: var(--swiper-navigation-size);
        margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__button-next:after {
        content: "\F107";
    }
    &__button-prev {
        color: #404040 !important;
        border: none;
        background: none;
        left: 0px !important;
        right: auto;
        position: absolute;
        top: 50%;
        width: calc(var(--swiper-navigation-size)/ 44 * 27);
        height: var(--swiper-navigation-size);
        margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__button-prev:after {
        content: "\F105";
    }
    &__button-next:after, &__button-prev:after {
        font-size: var(--swiper-navigation-size);
        text-transform: none!important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1;
        font-family: wsu-icons!important;
        font-style: normal;
        font-weight: 400!important;
        vertical-align: middle;
    }
    &__button-next.swiper-button-disabled,&__button-prev.swiper-button-disabled {
        opacity: .35;
        cursor: auto;
        pointer-events: none;
    }
}


@media screen and (max-width: 768px ) {
    .swiper-slide-prev{
        visibility: visible !important;
        opacity: 100%;
    }

    .swiper-slide-prev, .swiper-slide-next{
        opacity: 0.2;
    }
}

// Swiper class overrides to ensure correct tabbing order
.swiper-slide{
    visibility: hidden;
    transition: all 150ms ease-in-out;
}

.wsu-carousel[data-desktop-columns="5"] .wsu-carousel__wrapper{
    .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide {
        visibility: visible !important;
        opacity: 100% !important;
    }
}
.wsu-carousel[data-desktop-columns="5"] .wsu-carousel__wrapper,
.wsu-carousel[data-desktop-columns="4"] .wsu-carousel__wrapper{
    .swiper-slide-next + .swiper-slide + .swiper-slide  {
        visibility: visible !important;
        opacity: 100% !important;
    }
}
.wsu-carousel[data-desktop-columns="5"] .wsu-carousel__wrapper,
.wsu-carousel[data-desktop-columns="4"] .wsu-carousel__wrapper{
.swiper-slide-active, .swiper-slide-next,.swiper-slide-next + .swiper-slide{
        visibility: visible !important;
        opacity: 100% !important;
    }
}

.swiper-button-prev{
    left: 0px !important;
}
.swiper-button-next{
    right: 0px !important;
}

.wsu-carousel[data-desktop-columns="1"] .wsu-carousel__wrapper .wp-block-quote{
    min-width: 100%;
}

.wsu-carousel .wsu-carousel__wrapper .wsu-card{
    height: auto;
}