@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-overlap {

    &__container{
        display: flex;
        margin: 0 auto;
    }
    &__column{
        display: flex;
        width: 50%;
    }
    &__column-inner {
        flex-grow: 1;
    }

    &__column:first-child{
        .wsu-overlap__column-inner {
            margin-right: -50px;
        }
    }
    &__column:last-child{
        .wsu-overlap__column-inner {
            margin-left: -50px;
        }
    }
    
    @media screen and (max-width: $wsu-breakpoint--tablet )  {
        .wsu-overlap__container{
            display: flex;
            flex-direction: column;
            height: unset;
        }
        .wsu-overlap__column{
            width: 100%;
        }
        .wsu-overlap__column-inner{
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}

.wsu-overlap--surface-column {
    position: relative;
    z-index: $wsu-zindex--content;
}

$wsu-overlap-map: (
    'xxhero':   $wsu-spacing--xxhero,
    'xhero':    $wsu-spacing--xhero,
    'hero':     $wsu-spacing--hero,
    'xxlarge':  $wsu-spacing--xxlarge,
    'xlarge':   $wsu-spacing--xlarge,
    'large':    $wsu-spacing--xlarge,
    'xxmedium': $wsu-spacing--xxmedium,
    'xmedium':  $wsu-spacing--xmedium,
    'medium':   $wsu-spacing--medium,
    'none':     0,
);


@each $wsuOverlapName, $wsuOverlapValue in $wsu-overlap-map {

    .wsu-overlap__column:first-child{

        &.wsu-overlap--overlap-#{$wsuOverlapName} {
            .wsu-overlap__column-inner {
                margin-right: -$wsuOverlapValue !important;
            }
        }
    }

    .wsu-overlap__column:last-child{
        &.wsu-overlap--overlap-#{$wsuOverlapName} {
            .wsu-overlap__column-inner {
                margin-left: -$wsuOverlapValue !important;
            }
        } 
    }

}



