{% extends "component.njk" %}
{% from "overlap/_macro.njk" import overlap %}
{% block styles %}
    <style>
    .wsu-overlap {
        margin: 25px 0;
    }
    .wsu-overlap__container{
        max-width: 900px;
        height: 450px;
    }
    .wsu-overlap__column{
        border: 1px solid #000;
    }
    .wsu-overlap__column:first-child .wsu-overlap__column-inner {
        background-color: rgba(0, 0, 255,0.3);
    }
    .wsu-overlap__column:last-child .wsu-overlap__column-inner {
        background-color: rgba(60, 179, 113,0.3);
    }
    </style>
{% endblock %}
{% block content %}
{% include 'overlap/html.njk' %}

{{ overlap(' wsu-overlap--reversed') }}


{{ overlap(' wsu-overlap--overlap-xlarge') }}
{{ overlap( columnOneClasses='wsu-overlap--overlap-xxlarge', columnTwoClasses='wsu-overlap--overlap-xxlarge' ) }}
{{ overlap(' wsu-overlap--overlap-hero') }}
{{ overlap(' wsu-overlap--overlap-xhero wsu-overlap--surface-left') }}
<hr />
{{ overlap(' wsu-overlap--overlap-right') }}
{{ overlap(' wsu-overlap--overlap-left') }}
{{ overlap(' wsu-overlap--overlap-large wsu-overlap--overlap-right') }}
{{ overlap(' wsu-overlap--overlap-large wsu-overlap--overlap-left') }}
{%  endblock %}