{% extends "component-wordpress.njk" %}

{% block content %}
<blockquote class="wp-block-quote">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec arcu eros, mollis non leo ut, tempus dignissim lectus. 
    Aliquam lacinia eu quam quis sollicitudin. Nunc ac iaculis ex, in bibendum lectus. Nunc porta pretium urna, vel venenatis 
    mauris aliquet vel. Nam imperdiet libero ac efficitur tincidunt. Vivamus tincidunt massa et diam sollicitudin placerat. 
    Nulla quis consectetur quam. Praesent pellentesque nunc purus, in elementum neque gravida sed.</p>
    <cite>
        Danial Bleile, Washington State University
    </cite>
</blockquote>
<blockquote class="wp-block-quote wsu-block-quote__bordered wsu-block-quote__border-crimson">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec arcu eros, mollis non leo ut, tempus dignissim lectus. 
    Aliquam lacinia eu quam quis sollicitudin. Nunc ac iaculis ex, in bibendum lectus. Nunc porta pretium urna, vel venenatis 
    mauris aliquet vel. Nam imperdiet libero ac efficitur tincidunt. Vivamus tincidunt massa et diam sollicitudin placerat. 
    Nulla quis consectetur quam. Praesent pellentesque nunc purus, in elementum neque gravida sed.</p>
    <cite>
        Danial Bleile, Washington State University
    </cite>
</blockquote>
<blockquote class="wp-block-quote wsu-block-quote__bordered wsu-block-quote__border-crimson-dark">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec arcu eros, mollis non leo ut, tempus dignissim lectus. 
    Aliquam lacinia eu quam quis sollicitudin. Nunc ac iaculis ex, in bibendum lectus. Nunc porta pretium urna, vel venenatis 
    mauris aliquet vel. Nam imperdiet libero ac efficitur tincidunt. Vivamus tincidunt massa et diam sollicitudin placerat. 
    Nulla quis consectetur quam. Praesent pellentesque nunc purus, in elementum neque gravida sed.</p>
    <cite>
        Danial Bleile, Washington State University
    </cite>
</blockquote>
{%  endblock %}