{% extends "component.njk" %}
{% from "meta-tags/macros/macro.njk" import metaTags %}

{% block content %}
<div class="wsu-demo-component">
{{ metaTags() }}
</div>
<style>
</style>
{%  endblock %} 