<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>Page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css?ver=0.15.2.1" media='all' />
	<link rel="stylesheet" href="../../dist/bundles/wsu-design-system.css" media='all' />
	<script src="../../dist/bundles/wsu-design-system.init.js"></script>
</head>
<body>
	{% block content %}{% endblock %}
	<script src="../../dist/bundles/wsu-design-system.js"></script>
</body>
</html>