<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <title>Component</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css?ver=0.15.2.1" media='all' />
    <link rel="stylesheet" href="../../bundles/wsu-design-system.css" media='all' />
    <style>
        .wsu-custom-demo {
            margin: 0 80px;
            padding: 80px 0;
            display: flex;
            justify-content: center;
            min-height: 100vh;
            box-sizing: border-box;
            flex-direction: column;
        }
    </style>

    <script src="../../bundles/wsu-design-system.init.js"></script>
</head>

<body>
    <div class="wsu-custom-demo">





        <i class="wsu-icon wsu-i-alarm" aria-label="Icon label"></i>


        <hr />


        <i class="wsu-icon wsu-icon--small wsu-i-social-facebook" aria-label="Icon label"></i>




        <i class="wsu-icon wsu-icon--medium wsu-i-social-facebook" aria-label="Icon label"></i>




        <i class="wsu-icon wsu-icon--large wsu-i-social-facebook" aria-label="Icon label"></i>




        <i class="wsu-icon wsu-icon--xlarge wsu-i-social-facebook" aria-label="Icon label"></i>




        <i class="wsu-icon wsu-icon--xxlarge wsu-i-social-facebook" aria-label="Icon label"></i>


        <div style="text-align: center; padding: 2rem">


            <i class="wsu-icon wsu-icon--xlarge wsu-i-social-facebook" aria-label="Icon label"></i>




            <i class="wsu-icon wsu-icon--xlarge wsu-i-social-facebook" aria-label="Icon label"></i>




            <i class="wsu-icon wsu-icon--xlarge wsu-i-social-facebook" aria-label="Icon label"></i>


        </div>
        <div style="text-align: center; padding: 2rem">


            <a href="#" class="wsu-icon wsu-icon--xlarge wsu-i-graph" title="Link destination"></a>




            <a href="#" class="wsu-icon wsu-icon--xlarge wsu-i-map" title="Link destination"></a>




            <a href="#" class="wsu-icon wsu-icon--xlarge wsu-i-photos" title="Link destination"></a>


        </div>
        <div style="text-align: center; padding: 2rem">


            <i class="wsu-icon wsu-icon--large wsu-color--crimson wsu-i-graph" aria-label="Icon label"></i>




            <i class="wsu-icon wsu-icon--large wsu-color--crimson-light wsu-i-map" aria-label="Icon label"></i>




            <i class="wsu-icon wsu-icon--large wsu-color--accent-midnight wsu-i-photos" aria-label="Icon label"></i>


        </div>
        <div style="text-align: center; background-color: #000; padding: 2rem">


            <i class="wsu-icon wsu-icon--large wsu-color--accent-autumn wsu-i-graph" aria-label="Icon label"></i>




            <i class="wsu-icon wsu-icon--large wsu-color--accent-goldfinch wsu-i-map" aria-label="Icon label"></i>




            <i class="wsu-icon wsu-icon--large wsu-color--accent-vineyard wsu-i-photos" aria-label="Icon label"></i>




            <i class="wsu-icon wsu-icon--large wsu-color--accent-pacificsky wsu-i-social-facebook" aria-label="Icon label"></i>


        </div>
        <hr />


        <i class="wsu-icon wsu-icon--xxlarge wsu-align--left wsu-i-graph" aria-label="Icon label"></i>




        <i class="wsu-icon wsu-icon--xxlarge wsu-align--center wsu-i-map" aria-label="Icon label"></i>




        <i class="wsu-icon wsu-icon--xxlarge wsu-align--right wsu-i-photos" aria-label="Icon label"></i>


        <style>
        </style>

    </div>

    <script defer src="../../bundles/wsu-design-system.js"></script>
</body>

</html>