{% macro button( classes, title='Lorem ipsum', id='modal' ) %}
<button class="wsu-button{{ classes }}" data-open="{{ id }}">
    {{ title }}
</button>
{% endmacro %}

{% macro buttonPlay( classes='', title='Play Video' ) %}
<button class="wsu-button-play{{ classes }}">
    {{ title }}
</button>
{% endmacro %}

{% macro buttonPauseBackground( classes='', title='Pause Background' ) %}
<button class="wsu-button-pause-background{{ classes }}" aria-label="Pause Animation"></button>
{% endmacro %}
