@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-button--style-action,
.wsu-button--style-action-white {
    background-color: transparent !important;
    border: none !important;
    display: inline-flex;
    align-items: center;
    padding: 0 !important;
    font-size: $wsu-font-size--xmedium;

    &::before {
        width: 2em;
        height: 2em;
        content:"\F108";
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 0.65em;
        font-family: wsu-icons;
        font-size: 0.8em;
    }

    &:hover,
    &:focus {
        box-shadow: none !important;

        &::before {
            outline-offset: 2px;
        }
    }

    &.wsu-button--size-large {
        font-size: $wsu-font-size--xxmedium;
    }

    &.wsu-button--size-small {
        font-size: $wsu-font-size--medium;
    }
}

.wsu-button--style-action {
    color: $wsu-color--crimson;

    &::before {
        background-color: $wsu-color--crimson-light;
        color: #fff;
    }

    &:hover,
    &:focus {

        &::before {
            outline: 2px solid $wsu-color--crimson-light;
        }
    }
}

.wsu-has-background--dark .wsu-button--style-action,
.wsu-button--style-action.wsu-has-background--dark,
.wsu-button--style-action-white {

    color: #fff;

    &::before {
        background-color: #fff;
        color: $wsu-color--crimson;
    }

    &:hover,
    &:focus {

        &::before {
            outline: 2px solid #fff;
        }
    }
}