@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-button--style-action {
    background-color: transparent !important;
    border: none !important;
    color: $wsu-color--crimson;
    display: inline-flex;
    align-items: center;
    padding: 0 !important;

    &::before {
        width: 2em;
        height: 2em;
        background-color: $wsu-color--crimson-light;
        content:"\F108";
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 0.5em;
        color: #fff;
        font-family: wsu-icons;
        font-size: 0.8em;
    }

    &:hover,
    &:focus {
        box-shadow: none !important;

        &::before {
            outline-offset: 2px;
            outline: 2px solid $wsu-color--crimson-light;
        }
    }
}

.wsu-button--style-action-white {
    background-color: transparent !important;
    border: none !important;
    color: #fff;
    display: inline-flex;
    align-items: center;
    padding: 0 !important;

    &::before {
        width: 2em;
        height: 2em;
        background-color: #fff;
        content:"\F108";
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 0.5em;
        color: $wsu-color--crimson;
        font-family: wsu-icons;
        font-size: 0.8em;
    }

    &:hover,
    &:focus {
        box-shadow: none !important;

        &::before {
            outline-offset: 2px;
            outline: 2px solid #fff;
        }
    }
}