@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';


.wsu-button {
    display: inline-block; 
    box-sizing: border-box;
    position: relative;

    @include wsu-button();

    &-menu::before {
        content: '\F12A';
    }

    &-more {
        font-weight: 400;
        &::before {
            content: '\F12F';
        }
    }

    &-more-horizontal::before {
        content: '\F130';
    }

    &-search::before {
        content: '\F140';
    }

    // Tighten up buttons if they are in a vertical group
    & + .wsu-button {
        margin-top: calc( #{$wsu-spacing--medium} - #{$wsu-spacing--component} );
    }
}

// Buttons in sidebar are full width
.wsu-wrapper-sidebar .wsu-button {
    width: 100%;
}

.wsu-content input[type="reset"],
.wsu-content input[type="submit"],
.wsu-content input[type="button"],
.wsu-content button,
.wsu-button {

    &.wsu-button {
        &--size-small,
        &--small { 
            font-size: $wsu-font-size--xsmall;
        }
        &--size-large,
        &--large {
            font-size: $wsu-font-size--xxmedium;
        }
        &--style-round,
        &--style-outline-round,
        &--round {
            border-radius: 2em;
        }
        &--width-full,
        &--full-width {
            display: block;
            width: 100%;
        }
        &--style-outline,
        &--style-outline-round, 
        &--secondary {
            color: $wsu-color--gray-60;
            border: 1px solid $wsu-color--gray-30;
            background-color: #fff;
        
            &:focus,
            &:hover {
                background-color: #fff;
                color: $wsu-color--crimson-light;
                border-color: $wsu-color--crimson-light;
            }
        }
        
        &--tertiary {
            color: $wsu-color--gray-60;
            border: none;
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            font-weight: 500;
            
        
            &:focus,
            &:hover {
                color: $wsu-color--gray-60;
                border-color: transparent;
                box-shadow: none;
                background-color: transparent;
                text-decoration-thickness: 2px;
            }
        }
    }
}


.wsu-button-play {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 0;
    cursor: pointer;
    position: relative;

    &::before {
        content: '';
        width: 100px;
        height: 100px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        //background-color: #fff;
        background-color: $wsu-color--crimson;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    &::after {
        content: '\F136';
        display: block;
        font-family: 'wsu-icons';
        font-size: 40px;
        color: #fff;
        position: relative;
    }

    &:focus,
    &:hover {
        &::before {
            background-color: $wsu-color--gray-90;
        }
    }
}

.wsu-button-pause-background {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 0;
    cursor: pointer;
    position: relative;

    &::before {
        content: '';
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        //background-color: #fff;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid $wsu-color--gray-60;
    }

    &::after {
        content: '\F132';
        font-family: 'wsu-icons';
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: inherit;
        font-size: $wsu-font-size--xxmedium;
    }

    &:focus,
    &:hover {
        &::before {
            background-color: $wsu-color--gray-90;
        }

        &::after {
            color: #fff;
        }
    }

}

