{% from "button/_macro.njk" import button %}
{% from "button/_macro.njk" import buttonPlay %}
{% from "button/_macro.njk" import buttonPauseBackground %}

{% extends "component.njk" %}

{% block content %}
<div class="wsu-demo-component">
{% include 'button/html.njk' %}
<hr />
{{ button( ' wsu-button--size-small') }}{{ button() }}{{ button( ' wsu-button--size-large') }}
<hr />
{{ button( ' wsu-button--style-round wsu-button--size-small') }}{{ button( ' wsu-button--style-round') }}{{ button( ' wsu-button--style-round wsu-button--size-large') }}
<hr />
{{ button( ' wsu-button--style-outline wsu-button--size-small') }}{{ button(' wsu-button--style-outline') }}{{ button( ' wsu-button--style-outline wsu-button--size-large') }}
<hr />
{{ button( classes = ' wsu-button--style-action', tag='a') }}
{{ button( classes = ' wsu-button--style-action', tag='a') }}
{{ button( classes = ' wsu-button--style-action', tag='a') }}
<div style="background-color: #333; padding: 3rem; box-sizing: border-box">
{{ button( classes = ' wsu-button--style-action-white', tag='a') }}
{{ button( classes = ' wsu-button--style-action-white', tag='a') }}
{{ button( classes = ' wsu-button--style-action-white', tag='a') }}
</div>
<hr />
{{ button( ' wsu-button--style-outline-round wsu-button--size-small') }}{{ button( ' wsu-button--style-outline-round') }}{{ button( ' wsu-button--style-outline-round wsu-button--size-large') }}
<hr />
{{ buttonPlay() }}
<hr />
{{ buttonPauseBackground() }}
</div>
<style>
</style>
{%  endblock %} 