{% from "button/_macro.njk" import button %}

{% extends "component-wordpress.njk" %}

{% block content %}
<div class="wsu-demo-component">
    <div class="wp-block-buttons">
        <div class="wp-block-button"><a class="wp-block-button__link">Learn More</a></div>
    </div>
</div>
<div class="wsu-demo-component">
    <div class="wp-block-buttons">
        <div class="wp-block-button wsu-button--size-small"><a class="wp-block-button__link">Learn More</a></div>
        <div class="wp-block-button"><a class="wp-block-button__link">Learn More</a></div>
        <div class="wp-block-button wsu-button--size-large"><a class="wp-block-button__link">Learn More</a></div>
    </div>
    <div class="wp-block-buttons">
        <div class="wp-block-button wsu-button--size-small wsu-button--style-round"><a class="wp-block-button__link">Learn More</a></div>
        <div class="wp-block-button wsu-button--style-round"><a class="wp-block-button__link">Learn More</a></div>
        <div class="wp-block-button wsu-button--size-large wsu-button--style-round"><a class="wp-block-button__link">Learn More</a></div>
    </div>
    <div class="wp-block-buttons">
        <div class="wp-block-button wsu-button--size-small wsu-button--style-outline"><a class="wp-block-button__link">Learn More</a></div>
        <div class="wp-block-button wsu-button--style-outline"><a class="wp-block-button__link">Learn More</a></div>
        <div class="wp-block-button wsu-button--size-large wsu-button--style-outline"><a class="wp-block-button__link">Learn More</a></div>
    </div>
    <div class="wp-block-buttons">
        <div class="wp-block-button wsu-button--size-small wsu-button--style-outline-round"><a class="wp-block-button__link">Learn More</a></div>
        <div class="wp-block-button wsu-button--style-outline-round"><a class="wp-block-button__link">Learn More</a></div>
        <div class="wp-block-button wsu-button--size-large wsu-button--style-outline-round"><a class="wp-block-button__link">Learn More</a></div>
    </div>
</div>
<style>
</style>
{%  endblock %} 