@mixin wsu-menu--primary-vertical( $prefix:'--primary-vertical', $parentClass:'' ) {

    #{$parentClass} .wsu-menu#{$prefix} {
        list-style-type: none; 
        margin: 0; 
        padding: 0; 

        button:first-child,
        a {
            text-decoration: none;
            color: inherit;
            background-color: transparent;
            border-left: 5px solid transparent;
            border-right: none;
            border-bottom: none;
            border-top: none;
            outline: none;
            box-shadow: none;
            font-weight: inherit;
            margin: 0;
            padding: 0.7rem $wsu-spacing--medium;
            flex-grow: 1;
            border-radius: 0;
            display: block;
            box-sizing: border-box;
            text-align: left;
            font-size: $wsu-font-size--small;
            font-weight: 600;
            position: 'relative';
            line-height: 1.5;
            cursor: pointer;

            &:hover,
            &:focus {
                background-color: $wsu-color--gray-10;
                border-left: 5px solid $wsu-color--gray-40;
            }

            &[aria-current="page"] {
                border-left: 5px solid $wsu-color--crimson-light !important;
            }

        }

        button:first-child {

            &::after {
                display: flex;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 50px;
                justify-content: center;
                align-items: center;
            }

        }

        a + button {
            width: 50px;
            flex-grow: 0;
            margin: 0;
            padding: 0;
            color: inherit;
            border: none;
            outline: none;
            box-shadow: none;
            border-radius: 0;
            box-sizing: border-box;
            background-color: transparent;
            position: relative;

            &:hover,
            &:focus {
                background-color: $wsu-color--gray-10;
            } 
        }

        button:first-child,
        a + button {

            &::after {
                content: '\F103';
                font-family: 'wsu-icons';
                transition: transform $wsu-transition-speed--fast;
                cursor: pointer;
                font-size: 0.8rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 0;
                height: 2px;
                background-color: transparent;
                bottom: 0.7rem;
                right: 25px;
                transition: right $wsu-transition-speed--fast $wsu-easing, width $wsu-transition-speed--fast $wsu-easing;
            }

            &:hover,
            &:focus {
                
                &::before {
                    width: 12px;
                    background-color: $wsu-color--gray-50;
                    right: 19px;
                }
            }
        }

        li {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            position: relative;
        }

        ul {
            width: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            transition: max-height $wsu-transition-speed--slow $wsu-easing;
            overflow: hidden;
        }

        & > li {

            &::after {
                content: '';
                width: 100%;
                background-color: $wsu-color--gray-10;
                height: 1px;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                opacity: 0;
                transition: opacity $wsu-transition-speed--fast $wsu-easing;
            }

            &[aria-expanded] > a {
                &::after {
                    content: '';
                    width: 1px;
                    background-color: $wsu-color--gray-10;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    display: block;
                    opacity: 0;
                    transition: opacity $wsu-transition-speed--fast $wsu-easing;
                }
            }

        }

        li[aria-expanded] {

            & > a {
                max-width: calc( 100% - 50px );
            }


        }

        li[aria-expanded="true"] {

            & > button:first-child,
            & > button {

                &::after {
                    transform: rotate(180deg);
                }
            }

        }

        li li a {
            padding-top: 0.55rem;
            padding-bottom: 0.55rem;
        }

        li li button:first-child,
        li li a {
            font-weight: 400;
            padding-left: calc( #{$wsu-spacing--medium} + #{$wsu-spacing--xsmall});
        }

        li li li button:first-child,
        li li li a {
            padding-left: calc( #{$wsu-spacing--medium} + ( #{$wsu-spacing--xsmall} * 2 ) );
        }

    }

    .wsu-has-js #{$parentClass} .wsu-menu#{$prefix} {

        li[aria-expanded="false"] {

            & > ul {
                visibility: hidden;
                max-height: 0 !important;
            }

            & > ul ul {
                visibility: hidden !important;
            }

        }
    }

}