@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';
@import './mixins';

.wsu-menu {

    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
    }

} 

@include wsu-menu--primary-vertical();

@import './style-inline';
@import './style-inline-split';
@import './style-sidebar';