{% extends "component.njk" %}

{% block content %}
<div class="wsu-demo-component">
{% include 'menu/html--primary-vertical.njk' %}
</div>
<style>
hr {
    width: 100%;
}


.wsu-menu--primary-vertical {
    max-width: 260px;
    border: 1px solid #ccc;
}
</style>
{%  endblock %}   