{% from "video-background/_macro.njk" import videoBackground %}
{% extends "component.njk" %}

{% block content %}
<div style="position: relative; height: 600px;">
    {{ videoBackground() }}
</div>
<style>
</style>
{%  endblock %}