{% extends "component.njk" %}

{% block content %}
<div class="wsu-background--demo wsu-background--style-crimson">
</div>
<div class="wsu-background--demo wsu-background--style-crimson wsu-pattern--style-wsu wsu-pattern--opacity-medium">
</div>
{%  endblock %}

{% block styles %}
<style>
.wsu-background--demo {
    min-height: 600px;
    width: 100%;
}
</style>
{%  endblock %}