{% from "experimental_article-title/macros/article-title.macro.njk" import articleTitle %}
{% from "caption/macros/caption.macro.njk" import caption %}
{% from "meta-date/macros/meta-date.macro.njk" import metaDate %}
{% from "meta-byline/macros/meta-byline.macro.njk" import metaByline %}
{% from "meta-tags/macros/macro.njk" import metaTags %}
{% from "image-frame/macros/image-frame.macro.njk" import imageFrame %}
{% from "experimental_overlay/_macro.njk" import overlay %}

{% macro hero( classes='', linked=false, titleTag="div", imageSrc='https://source.unsplash.com/collection/895539' ) %}
<div class="wsu-hero {{ classes }}">
    {% if imageSrc %}
        {{ imageFrame( ' wsu-image-frame--fill', '', imageSrc ) }} 
    {% endif %}
    {{ overlay(' wsu-overlay--dark-left wsu-pattern-after') }}
    {% if linked %}<a class="wsu-hero__link" href="#">{% endif %}
    <div class="wsu-hero__content">
        <div class="wsu-hero__caption">
            <{{ titleTag }} class="wsu-title">Lorem ipsum dolor sit amet</{{ titleTag }}>
            {{ caption() }}
            {% if linked %}<div class="wsu-hero__read-more">Read More</div>{% endif %}
        </div>
    </div>
    {% if linked %}</a>{% endif %}
</div>
{% endmacro %}