{% from "experimental_article-title/macros/article-title.macro.njk" import articleTitle %}
{% from "caption/macros/caption.macro.njk" import caption %}
{% from "meta-date/macros/meta-date.macro.njk" import metaDate %}
{% from "meta-byline/macros/meta-byline.macro.njk" import metaByline %}
{% from "meta-tags/macros/macro.njk" import metaTags %}
{% from "image-frame/_macro.njk" import imageFrame %}
{% from "experimental_overlay/_macro.njk" import overlay %}
{% from "experimental_eyebrow-header/_macro.njk" import eyebrowHeader %}

{% macro hero( classes='', linked=false, titleTag="div", eyebrowHeaderText="Lorem ipsum dolor", imageSrc='https://source.unsplash.com/collection/895539' ) %}
<div class="wsu-hero wsu-width--full{{ classes }}">
    {% if linked %}<a class="wsu-hero__link-slide" href="#" aria-hidden="true" tabindex="-1">
            Hero Banner Title
    </a>{% endif %}
    {% if imageSrc %}
        {{ imageFrame( ' wsu-image-frame--fill', '', false, imageSrc ) }} 
    {% endif %}
    {{ overlay(' wsu-overlay--dark-left wsu-pattern-after') }}
    <div class="wsu-hero__content">
        <div class="wsu-hero__caption">
            {% if eyebrowHeaderText %}
            {{ eyebrowHeader() }}
            {% endif %}
            <{{ titleTag }} class="wsu-title">
            Hero Banner Title
            </{{ titleTag }}>
            {{ caption() }}
            {% if linked %}<a class="wsu-hero__read-more" href="#" aria-label="Read more Hero Banner Title">Read More</a>{% endif %}
        </div>
    </div>
</div>
{% endmacro %}