{% from "quicklinks/_macro.njk" import quicklinks %}


{% extends "component.njk" %}


{% block content %}
<h2>Default Open</h2>
<button data-panel="wsu-quicklinks-panel" data-panel-focus=".wsu-search-bar__input" class="wsu-button wsu-slide-in-panel--open" style="margin-bottom: 2rem">Open Panel</button>


{% call quicklinks( startOpen='true' ) -%}
<h2>Quick links</h2>
<ul class="wsu-list wsu-list--style-boxed wsu-list--columns-2 wsu-breakpoint--none wsu-list--underline-hover  wsu-has-background--dark">
    <li><a href="#">List Link 1</a></li>
    <li><a href="#">List Link 2</a></li>
    <li><a href="#">List Link 3</a></li>
    <li><a href="#">List Link 4</a></li>
    <li><a href="#">List Link 5</a></li>
    <li><a href="#">List Link 1</a></li>
    <li><a href="#">List Link 2</a></li>
    <li><a href="#">List Link 3</a></li>
    <li><a href="#">List Link 4</a></li>
    <li><a href="#">List Link 5</a></li>
    <li><a href="#">List Link 1</a></li>
    <li><a href="#">List Link 2</a></li>
</ul>

<h2>Campuses</h2>
<ul class="wsu-list wsu-list--style-boxed wsu-list--columns-2 wsu-breakpoint--none wsu-list--underline-hover  wsu-has-background--dark">
    <li><a href="#">List Link 1</a></li>
    <li><a href="#">List Link 2</a></li>
    <li><a href="#">List Link 3</a></li>
    <li><a href="#">List Link 4</a></li>
    <li><a href="#">List Link 5</a></li>
    <li><a href="#">List Link 1</a></li>
    <li><a href="#">List Link 2</a></li>
    <li><a href="#">List Link 3</a></li>
    <li><a href="#">List Link 4</a></li>
    <li><a href="#">List Link 5</a></li>
    <li><a href="#">List Link 1</a></li>
    <li><a href="#">List Link 2</a></li>
</ul>
 
{%- endcall %}


{%  endblock %} 