@import "../../../../_assets/scss/variables";
@import "../../../../_assets/scss/mixins";

@import url("https://unpkg.com/swiper@8/swiper-bundle.min.css");

@import "../../../modules/events-card/style";
