@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';


.wsu-sticky-box {

    &--stuck {

        .wsu-sticky-box__content {
            position: fixed;
            top: 0;
        }

        &.wsu-width--full .wsu-sticky-box__content {
            left: 0;
            right: 0;
            width: auto !important;
        }
    }

}