{% extends "component.njk" %}

{% block content %}
<div class="wsu-demo-component">

<ol class="wsu-list">
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
        <ol>
            <li>
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
            <ol>
                <li> 
                    Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                </li>
                <ol>
                    <li>
                        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                    </li>
                    <ol>
                        <li>
                            Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                        </li>
                        <ol>
                            <li>
                                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                            </li>
                            <li>
                                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                            </li>
                        </ol>
                    </ol>
                </ol>
            </ol>
        </ol>
    </li>
</ol>

<ul class="wsu-list">
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
        <ul>
            <li>
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
            <ul>
                <li> 
                    Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                </li>
                <ul>
                    <li>
                        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                    </li>
                    <ul>
                        <li>
                            Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                        </li>
                        <ul>
                            <li>
                                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                            </li>
                            <li>
                                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                            </li>
                        </ul>
                    </ul>
                </ul>
            </ul>
        </ul>
    </li>
</ul>

<ol class="wsu-list">
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
        <ul>
            <li>
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
            <ul>
                <li> 
                    Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                </li>
                <ul>
                    <li>
                        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                    </li>
                    <ul>
                        <li>
                            Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                        </li>
                        <ul>
                            <li>
                                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                            </li>
                            <li>
                                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
                            </li>
                        </ul>
                    </ul>
                </ul>
            </ul>
        </ul>
    </li>
</ol>

<ol><li>Step 1<ul><li><strong>Item 1.1</strong></li><li><strong>Item 1.2</strong> </li></ul></li><li>Step 2 <ul><li><strong>Item 2.1</strong><ol><li>Step 2.1.1 </li><li>Step 2.1.2</li></ol></li></ul></li></ol>
<ol><li>Step 1<ul><li><strong>Item 1.1</strong></li><li><strong>Item 1.2 </strong></li></ul></li><li>Step 2 <ol><li>Step 2.1<ul><li><strong>Item 2.1.1 </strong></li><li><strong>Item 2.1.2</strong></li></ul></li></ol></li></ol>
<ul class="wsu-list--style-arrow">
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
        <ul>
            <li>
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
            <li>
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
            <li> 
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
            <li>
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
        </ul>
    </li>
    <li> 
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
</ul>
<ul class="wsu-list--style-checkbox">
    <li>
        
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
        
    </li>
    <li>
        
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
        <ul>
            <li>
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
            <li>
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
            <li> 
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
            <li>
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
        </ul>
    </li>
    <li>
        
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
        
    </li>
    <li>
        
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
        
    </li>
</ul>
<ul class="wsu-list--style-checkmark">
    <li>
        
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
        
    </li>
    <li>
        
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
        <ul>
            <li>
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
            <li>
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
            <li> 
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
            <li>
                Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
            </li>
        </ul>
    </li>
    <li>
        
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
        
    </li>
    <li>
        
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
        
    </li>
</ul>
<hr />
<h2>wsu-list--style-lined</h2>
<ul class="wsu-list--style-lined">
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li> 
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li> 
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
</ul>
<hr />
<ul class="wsu-list--style-lined wsu-font-size--small">
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl.
    </li>
    <li> 
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl.
    </li>
    <li> 
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl.
    </li>
</ul>
<hr />
<ul class="wsu-list--style-lined wsu-font-size--xlarge">
    <li>
        Curabitur a mi in justo vehicula ornare.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare.
    </li>
    <li> 
        Curabitur a mi in justo vehicula ornare.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare.
    </li>

</ul>
<hr />
<ul class="wsu-list--columns-2">
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li> 
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
</ul>
<ul class="wsu-list--columns-3">
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li> 
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li> 
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
</ul>
<ul class="wsu-list--columns-4">
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li> 
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li> 
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
    <li>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum.
    </li>
</ul>
</div>
<style>
hr {
    width: 100%;
}
</style>
{%  endblock %}   