@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-eyebrow-header {

    color: inherit;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 400;

}