@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-decorator--style-lines-crimson,
.wsu-decorator--style-lines-gray {
    content: '';
	display: block;
	position: absolute;
}

.wsu-decorator--style-lines-gray {
	
	background-image: repeating-linear-gradient(135deg, $wsu-color--gray-5, $wsu-color--gray-5 2px, transparent 2px, transparent 10px);
    background-position: 0 -4px;
    background-repeat: no-repeat;
}

.wsu-decorator--style-lines-crimson {
	
	background-image: repeating-linear-gradient(135deg, $wsu-color--crimson-light, $wsu-color--crimson-light 2px, transparent 2px, transparent 10px);
    background-position: 0 -4px;
    background-repeat: no-repeat;
}