@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

div[class*="decorator--style-triangle"] {
    content: '';
	display: block;
	position: absolute;
	height: 100vw !important;
	width: 200vw !important;
}


div[class*="decorator--style-triangle-crimson"] {
	background-color: $wsu-color--crimson;
}

.wsu-decorator--style-triangle-gray-left,
.wsu-decorator--style-triangle-gray-right {
	background-color: $wsu-color--gray-5;
}

.wsu-decorator--style-triangle-gray-right,
.wsu-decorator--style-triangle-crimson-right {
	clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.wsu-decorator--style-triangle-gray-left,
.wsu-decorator--style-triangle-crimson-left {
	clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 0% 100%);
}

.wsu-decorator--style-triangle-crimson-wsu-steep-right {
	clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.wsu-decorator--style-triangle-crimson-wsu-steep-left {
	clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
}

.wsu-decorator--style-triangle-crimson-wsu-steep-top-right {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

.wsu-decorator--style-triangle-crimson-wsu-steep-top-left {
	clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}