{% extends "component.njk" %}
{% from "_experimental_accordion/macro.njk" import accordion %}

{% block content %}

<div class="wsu-demo-component" >
    {{ accordion() }}
    {{ accordion() }}
    {{ accordion() }}
    {{ accordion() }}
    {{ accordion() }}
</div>
<style>
.wsu-demo-component {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    width: 100%;
}
</style>
{%  endblock %}  