{% from "slide-in-panel/_macro.njk" import slideInPanel %}
{% from "menu-collapse/_macro.njk" import menuCollapse %}

{% macro navigationVertical( classes='' ) %}

    {% call slideInPanel( classes=[classes, ' wsu-navigation-vertical wsu-slide-in-panel--position-left wsu-slide-in-panel--overlay-none wsu-slide-in-panel--position-left wsu-slide-in-panel--width-vertical-nav'] | join, style='crimson-mark', panelID='wsu-navigation-vertical', startOpen='true', showClose='' ) -%}
        <div class="wsu-navigation-vertical__menu-wrapper">
            {{ menuCollapse( classes=' wsu-navigation-vertical__menu wsu-menu-collapse--style-context') }}
        </div>
    {%- endcall %}

{% endmacro %}