@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-navigation-vertical {

    z-index: calc( #{$wsu-zindex--navigation} - 1 );

    &__menu-wrapper {
        padding-top: 60px;
    }

    .wsu-slide-in-panel__panel {
        border-right: 1px solid $wsu-color--gray-10 !important;
    }

    .wsu-menu-collapse:not(.wsu-menu-collapse--style-context) > li:first-child a::before {
        content: '\F122';
        font-family: wsu-icons;
        margin-right: 0.3em;
    }
}

// Dark Mode Styling
.wsu-navigation-vertical.wsu-color-scheme--dark {
    
    .wsu-slide-in-panel__panel{
        background-color: $wsu-color--gray-80;
        color: white;
    }

    .wsu-menu-collapse--style-context a~button, .wsu-menu-collapse--style-vertical a~button,
    .wsu-menu-collapse--style-context a, .wsu-menu-collapse--style-context button:first-child,
    .wsu-menu-collapse--style-mobile a, .wsu-menu-collapse--style-mobile button:first-child,
    .wsu-menu-collapse--style-vertical a, .wsu-menu-collapse--style-vertical button:first-child{
        color: white;
    }

    .wsu-menu-collapse button:first-child:hover, .wsu-menu-collapse button:first-child:focus,
    .wsu-menu-collapse a~button:hover, .wsu-menu-collapse a~button:focus,
    .wsu-menu-collapse a:hover, .wsu-menu-collapse a:focus{
        background: #121212 !important;
    }

    .wsu-menu-collapse--style-context>li>ul>li::after, .wsu-menu-collapse--style-mobile>li::after, .wsu-menu-collapse--style-vertical>li::after,
    .wsu-menu-collapse--style-context>li>ul::before, .wsu-menu-collapse--style-mobile::before, .wsu-menu-collapse--style-vertical::before, 
    .wsu-menu-collapse--style-context a~button::after, .wsu-menu-collapse--style-mobile a~button::after, .wsu-menu-collapse--style-vertical a~button::after{
        background-color: #777;
    }

}

.wsu-navigation-vertical ~ .wsu-wrapper-site {
    margin-left: $wsu-width--navigation-veritcal;
}

.wsu-header-unit ~ .wsu-navigation-vertical {

    .wsu-slide-in-panel__panel-inner {
        padding-top: 211px;
    }

} 

.wsu-header-campus ~ .wsu-navigation-vertical {

    .wsu-slide-in-panel__panel-inner {
        padding-top: 231px;
    }

}

.wsu-navigation-vertical ~ .wsu-wrapper-site .wsu-width--full {
    margin-left: calc(((100vw - 100%) - 280px)/ -2);
    margin-right: calc(((100vw - 100%) - 280px)/ -2);
}


@media screen and (max-width: $wsu-breakpoint--horizontal-nav) {

    .wsu-navigation-vertical {
        display: none;
    }

    .wsu-navigation-vertical ~ .wsu-wrapper-site {
        margin-left: 0;
    }

	.wsu-navigation-vertical ~ .wsu-wrapper-site .wsu-width--full {
        margin-left: calc(((100vw - 100%))/ -2);
        margin-right: calc(((100vw - 100%))/ -2);
    }
}

/*----- Temp ----- */


/* ------------------- Print Styles ----------------- */

@media print { 
    .wsu-navigation-vertical {
        display: none !important;
    }
}
