@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-navigation-vertical {

    z-index: calc( #{$wsu-zindex--navigation} - 1 );

    &__menu-wrapper {
        padding-top: 60px;
    }

    .wsu-slide-in-panel__panel {
        border-right: 1px solid $wsu-color--gray-10 !important;
    }
}

.wsu-navigation-vertical ~ .wsu-wrapper-site {
    margin-left: $wsu-width--navigation-veritcal;
}

.wsu-header-unit ~ .wsu-navigation-vertical {

    .wsu-slide-in-panel__panel-inner {
        padding-top: 211px;
    }

}

.wsu-header-campus ~ .wsu-navigation-vertical {

    .wsu-slide-in-panel__panel-inner {
        padding-top: 231px;
    }

}

/*----- Temp ----- */
