{% extends "component.njk" %}
{% from "tabs/_macro.njk" import tabs %}

{% block content %}

<div class="wsu-demo-component">
    {{ tabs() }}

    <hr />

    {% set two = [
      { tabTitle: 'Washington State', panel: 'Tab 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget convallis nunc, sed hendrerit sapien. Fusce volutpat commodo dui. Proin cursus nunc ut congue posuere. Praesent venenatis mauris sit amet semper venenatis. In at velit sit amet diam ullamcorper viverra at pulvinar ex. Vivamus et quam eu erat pretium suscipit. Fusce eget aliquam augue.' },
      { tabTitle: 'Cougs News', panel: 'Tab 2 Content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget convallis nunc, sed hendrerit sapien. Fusce volutpat commodo dui. Proin cursus nunc ut congue posuere. Praesent venenatis mauris sit amet semper venenatis.' }
    ]
    %}

    {{ tabs( '', two, 1 )}}

    <hr />

    {% set four = [
      { tabTitle: 'Our Stats', panel: 'Tab 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget convallis nunc, sed hendrerit sapien. Fusce volutpat commodo dui. Proin cursus nunc ut congue posuere. Praesent venenatis mauris sit amet semper venenatis. In at velit sit amet diam ullamcorper viverra at pulvinar ex. Vivamus et quam eu erat pretium suscipit. Fusce eget aliquam augue.' },
      { tabTitle: 'Cougs News', panel: 'Tab 2 Content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget convallis nunc, sed hendrerit sapien. Fusce volutpat commodo dui. Proin cursus nunc ut congue posuere. Praesent venenatis mauris sit amet semper venenatis.' },
      { tabTitle: 'Go Cougs!', panel: 'Tab 3 Content. Maecenas sed malesuada urna, ac varius felis. Fusce interdum vehicula mauris, at fermentum tellus. Suspendisse eget dui sed diam tincidunt condimentum. Nam non placerat ipsum. Etiam et porta leo, vel malesuada nisi. Integer faucibus est leo, ac aliquam velit tempus a.' },
      { tabTitle: 'The WSU Difference', panel: 'Tab 4 Content. Maecenas sed malesuada urna, ac varius felis. Fusce interdum vehicula mauris, at fermentum tellus. Suspendisse eget dui sed diam tincidunt condimentum. Nam non placerat ipsum. Etiam et porta leo, vel malesuada nisi. Integer faucibus est leo, ac aliquam velit tempus a. Praesent venenatis mauris sit amet semper venenatis.' }
    ]
    %}

    {{ tabs( '', four, 2 )}}
</div>
<style>
.wsu-demo-component {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    width: 100%;
}
</style>
{%  endblock %}
