{% extends "component.njk" %}
{% from "_experimental_hero/_macro.njk" import hero %}

{% block content %}
{% include '_experimental_hero/html.njk' %}
{% include '_experimental_hero/html--linked.njk' %}
<style>
.wsu-hero {
    margin-bottom: 200px !important;
}

.wsu-custom-demo {
    margin: 0 !important;
}
</style>
{%  endblock %}   