
{% from "news-card/_macro.njk" import newsCard %}

{% macro cardGroup( classes='', title=false, button=false, showOne=true, showTwo=true, showThree=true, showFour=false ) %}
<div class="wsu-card-group {{ classes }}">
        {% if title %}
        <h2 class="wsu-card-group__title">{{ title }}</h2>
        {% endif %}
        {% if showOne %}{{ newsCard('') }}{% endif %}
        {% if showTwo %}{{ newsCard('') }}{% endif %}
        {% if showThree %}{{ newsCard('') }}{% endif %}
        {% if showFour %}{{ newsCard('') }}{% endif %}
        {% if button %}
        <div class="wsu-card-group__footer">
                <a class="wsu-button" href="#">{{ button }}</a>
        </div>
        {% endif %}
</div>
{% endmacro %}