{% extends "component.njk" %}
{% from "card-group/_macro.njk" import cardGroup %}

{% block content %}
<div class="wsu-demo-component">
{% include 'card-group/html.njk' %}
<hr />
{{ cardGroup( ' wsu-card-group--per-row-3', 'Card Group Title', 'More Cards' ) }}
<hr />
{{ cardGroup( ' wsu-card-group--per-row-2', '', '', true, true, false, false ) }}
<hr />
{{ cardGroup( ' wsu-card-group--per-row-4', '', '', true, true, true, true ) }}
<hr />
{{ cardGroup( ' wsu-card-group--spacing-none wsu-card-group--per-row-4', '', '', true, true, true, true ) }}
<hr />
{{ cardGroup( '', '', '', true, false, false, false ) }}
</div>

<style>
.wsu-demo-component {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; 
}
</style>
{%  endblock %}   