{% macro stat( classes, style='', value='$345', unit='', caption='annual research funding', icon='', citation=''  ) %}
<div class="wsu-stat{% if style %} wsu-stat--style-{{ style }}{% endif %} {{ classes }} ">
	<span class="wsu-stat__decorator"></span>
	{% if icon %}
	<i class="wsu-stat__icon {{ icon }}"></i>
	{% endif %}
	<span class="wsu-stat__value-wrapper">
		<span class="wsu-stat__value">{{ value }}</span>
		{% if unit %}<span class="wsu-stat__unit">{{ unit }}</span>{% endif %}
	</span>
  	<span class="wsu-stat__caption">{{ caption }}</span>
	{% if citation %}<span class="wsu-stat__citation">{{ citation }}</span>{% endif %}
</div>
{% endmacro %}
