{% extends "component.njk" %}
{% from "stat/_macro.njk" import stat %}

{% block styles %}\
<style>
.demo-group {
    display: flex; 
    flex-wrap:wrap; 
    justify-content: space-between;
}

.demo-group .wsu-stat {
    margin-right: 4rem;
}
</style>

{%  endblock %} 


{% block content %}
<div>
    {{ stat(value='31%', caption='students who are first in their family to attend college' ) }}
    {{ stat(style='bar', value='31%', caption='students who are first in their family to attend college', citation='(Sunset Magazine)' ) }}
    {{ stat(style='caption', value='31%', caption='students who are first in their family to attend college', citation='(Sunset Magazine)' ) }} 
</div>
<div>
    {{ stat(style='caption', value='31%', caption='students who are first in their family to attend college', citation='(Sunset Magazine)' ) }} 
    {{ stat(classes='wsu-stat--unit-medium', style='caption', value='31%', caption='students who are first in their family to attend college', citation='(Sunset Magazine)' ) }}
</div>
<hr />
<h2>Default | wsu-stat--style-round</h2>
<div class="demo-group" style="">
{{ stat(style='round', value='31%', unit='million', caption='students who are first in their family to attend college', citation='(Sunset Magazine)' ) }}
{{ stat(classes="wsu-stat--decorator-layout-circle-bottom-right wsu-stat--decorator-layout-bar-value-left wsu-stat--decorator-position-circle-above", style='round', value='31%', caption='students who are first in their family to attend college' ) }}
{{ stat(classes="wsu-stat--decorator-layout-circle-bottom-left wsu-stat--decorator-layout-bar-value-after-left", style='round', value='66,558+', caption='students who are first in their family to attend college' ) }}
{{ stat(classes="wsu-stat--decorator-layout-circle-top-left", style='round', value='31', unit='million', caption='students who are first in their family to attend college', citation='(Sunset Magazine)' ) }}
{{ stat(classes="wsu-stat--decorator-layout-bar-value-after-center", style='round', value='66,558+', caption='students who are first in their family to attend college' ) }}
</div>
<div class="demo-group" style="">
{{ stat(classes='wsu-stat--layout-caption-offset-right wsu-stat--decorator-layout-bar-value-after-left', style='round', value='31%', unit='million', caption='students who are first in their family to attend college', citation='(Sunset Magazine)' ) }}
{{ stat(classes='wsu-stat--layout-caption-offset-right wsu-stat--decorator-layout-circle-bottom-left', style='round', value='31%', caption='students who are first in their family to attend college' ) }}
{{ stat(classes='wsu-stat--layout-caption-offset-right wsu-stat--decorator-layout-circle-bottom-left wsu-stat--decorator-layout-bar-value-after-left', style='round', value='66,558+', caption='students who are first in their family to attend college' ) }}
{{ stat(classes='wsu-stat--layout-caption-offset-right', style='round', value='31', unit='million', caption='students who are first in their family to attend college', citation='(Sunset Magazine)' ) }}
{{ stat(classes='wsu-stat--layout-caption-offset-right wsu-stat--decorator-layout-circle-bottom-left', style='round', value='66,558+', caption='students who are first in their family to attend college' ) }}
</div>
<div class="demo-group" style="">
{{ stat(classes='wsu-stat--layout-value-offset-right wsu-stat--decorator-layout-circle-top-left wsu-stat--decorator-layout-bar-value-left', style='round', value='31%', unit='million', caption='students who are first in their family to attend college', citation='(Sunset Magazine)' ) }}
{{ stat(classes='wsu-stat--layout-value-offset-right wsu-stat--decorator-layout-circle-top-left wsu-stat--decorator-layout-bar-value-left', style='round', value='31%', caption='students who are first in their family to attend college' ) }}
{{ stat(classes='wsu-stat--layout-value-offset-right wsu-stat--decorator-layout-circle-top-left wsu-stat--decorator-layout-bar-value-left', style='round', value='66,558+', caption='students who are first in their family to attend college' ) }}
{{ stat(classes='wsu-stat--layout-value-offset-right wsu-stat--decorator-layout-circle-top-left wsu-stat--decorator-layout-bar-value-left', style='round', value='31', unit='million', caption='students who are first in their family to attend college', citation='(Sunset Magazine)' ) }}
{{ stat(classes='wsu-stat--layout-value-offset-right wsu-stat--decorator-layout-circle-top-left wsu-stat--decorator-layout-bar-value-left', style='round', value='66,558+', caption='students who are first in their family to attend college' ) }}
</div>
<div class="demo-group" style="">
{{ stat(classes='wsu-stat--layout-caption-offset-right-reversed wsu-stat--decorator-layout-circle-top-left wsu-stat--decorator-layout-bar-value-before-left', style='round', value='31%', unit='million', caption='students who are first in their family to attend college', citation='(Sunset Magazine)' ) }}
{{ stat(classes='wsu-stat--layout-caption-offset-right-reversed wsu-stat--decorator-layout-circle-bottom-right wsu-stat--decorator-layout-bar-value-before-right wsu-stat--decorator-position-circle-above', style='round', value='31%', caption='students who are first in their family to attend college' ) }}
{{ stat(classes='wsu-stat--layout-caption-offset-right-reversed wsu-stat--decorator-layout-circle-top-left  wsu-stat--decorator-layout-bar-value-before-center', style='round', value='66,558+', caption='students who are first in their family to attend college' ) }}
{{ stat(classes='wsu-stat--layout-caption-offset-right-reversed wsu-stat--decorator-layout-circle-bottom-right', style='round', value='31', unit='million', caption='students who are first in their family to attend college', citation='(Sunset Magazine)' ) }}
{{ stat(classes='wsu-stat--layout-caption-offset-right-reversed wsu-stat--decorator-layout-circle-top-left', style='round', value='66,558+', caption='students who are first in their family to attend college' ) }}
</div>
<div class="demo-group" style="">
{{ stat(classes='wsu-stat--layout-value-offset-right-reversed wsu-stat--decorator-layout-circle-bottom-left wsu-stat--decorator-position-circle-above', style='round', value='31%', unit='million', caption='students who are first in their family to attend college', citation='(Sunset Magazine)' ) }}
{{ stat(classes='wsu-stat--layout-value-offset-right-reversed wsu-stat--decorator-layout-circle-bottom-left wsu-stat--decorator-position-circle-above', style='round', value='31%', caption='students who are first in their family to attend college' ) }}
{{ stat(classes='wsu-stat--layout-value-offset-right-reversed', style='round', value='66,558+', caption='students who are first in their family to attend college' ) }}
{{ stat(classes='wsu-stat--layout-value-offset-right-reversed wsu-stat--decorator-layout-circle-bottom-left', style='round', value='31', unit='million', caption='students who are first in their family to attend college', citation='(Sunset Magazine)' ) }}
{{ stat(classes='wsu-stat--layout-value-offset-right-reversed wsu-stat--decorator-layout-circle-bottom-left wsu-stat--decorator-position-circle-above', style='round', value='66,558+', caption='students who are first in their family to attend college' ) }}
</div>

<h2>Default | wsu-stat--size-medium</h2> 
<div>
    {{ stat(' wsu-stat--size-medium', '31%', '', 'students who are first in their family to attend college') }}
    {{ stat(' wsu-stat--size-medium', '$345', 'Million', 'annual research funding, fy 2019') }}
    {{ stat(' wsu-stat--size-medium', '66,558', 'hours', 'civic engagement by 5,741 WSU student volunteers (2019-20)') }}
</div>
<hr />
<h2>Default | wsu-stat--size-small</h2>
<div>
    {{ stat(' wsu-stat--size-small', '31%', '', 'students who are first in their family to attend college') }}
    {{ stat(' wsu-stat--size-small', '$345', 'Million', 'annual research funding, fy 2019') }}
    {{ stat(' wsu-stat--size-small', '66,558', 'hours', 'civic engagement by 5,741 WSU student volunteers (2019-20)') }}
</div>
<hr />
<h2>Default | wsu-stat--layout-inline wsu-stat--width-small</h2>
<div>
    {{ stat(' wsu-stat--size-small wsu-stat--layout-inline wsu-stat--width-medium', '31%', '', 'First Generation') }}
    {{ stat(' wsu-stat--size-small wsu-stat--layout-inline wsu-stat--width-medium', '$345', 'Million', 'Annual research funding, fy 2019') }}
    {{ stat(' wsu-stat--size-small wsu-stat--layout-inline wsu-stat--width-medium', '66,558', 'hours', 'WSU student volunteers') }}
</div>
<hr />
<h2>Circle (left,right,center)</h2>
<div>
    {{ stat(' wsu-stat--style-circle-left', '$345', 'Million', 'Annual research funding, fy 2019','wsu-i-location') }}
    {{ stat(' wsu-stat--style-circle-right', '31%', '', 'First Generation','wsu-i-location') }}
    {{ stat(' wsu-stat--style-circle-center', '66,558', 'hours', 'WSU student volunteers','wsu-i-location') }}
</div>
<h2>Circle (left,right,center) | wsu-stat--layout-inline</h2>
<div style="text-align: center">
    {{ stat(' wsu-stat--style-circle-left wsu-stat--layout-inline', '$345', 'Million', 'Annual research funding, fy 2019','wsu-i-location') }}
    {{ stat(' wsu-stat--style-circle-right wsu-stat--layout-inline', '31%', '', 'First Generation','wsu-i-location') }}
    {{ stat(' wsu-stat--style-circle-center wsu-stat--layout-inline', '66,558', 'hours', 'WSU student volunteers','wsu-i-location') }}
</div>

{%  endblock %} 
