@import "../../../_assets/scss/variables";
@import "../../../_assets/scss/mixins";
.wsu-error{
    padding: 1rem 2rem;
    text-align: left;
    gap: $wsu-spacing--small;
    display: flex;
    flex-direction: row;
    align-items: center;
    & p{
        margin-bottom: 0;
    }
}
.wsu-error--style-alert{
    .wsu-error__icon {
        color: $wsu-color--crimson-light;
    }
}
.wsu-error--style-info{
    .wsu-error__icon {
        color: $wsu-color--accent-midnight;
    }
}