@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-modal-navigation {

    @include wsu-modal-box;

    list-style-type: none;
    width: $wsu-width--navigation-open;
    box-sizing: border-box; 
}