{% macro sliderFrame(classes = '', delay = 3000, numberOfSlides = 5, effect = 'slide') %}
    <div class="wsu-slider-frame swiper swiper-no-swiping {{ classes }}" 
        data-delay="{{delay}}" 
        data-number-slides-slides="{{numberOfSlides}}" 
        data-effect="{{effect}}">
        <div class="swiper-wrapper">
            {% for i in range(0, numberOfSlides) %}
                <div class="swiper-slide">
                    <img src="https://picsum.photos/600/400?random={{i}}"/>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}