{% macro eventsList(classes = '', type = 'feed', search = '', dataSource = 'http://wsuwp562.local', count = 5, postIds = '44040,42140,43713,44041,44039', exclude = '44039,43713,42140', types = '', categories = '', tags = '', organizations = '406') %}
    <div class="wsu-events-list {{classes}}"
        data-component-id="{{range(100, 1000) | random}}"
        data-type="{{type}}"
        data-search="{{search}}"
        data-data-source="{{dataSource}}"
        data-count="{{count}}"
        data-post-ids="{{postIds}}"
        data-exclude="{{exclude}}"
        data-types="{{types}}"
        data-categories="{{categories}}"
        data-tags="{{tags}}"
        data-organizations="{{organizations}}"></div>
{% endmacro %}