{% macro eventsList(classes = '', type = 'feed', search = '', dataSource = 'http://wsuwp562.local', noResultsMessage = 'No upcoming events', count = 5, postIds = '', exclude = '', types = '', categories = '', tags = '', organizations = '', locations = '301') %}
    <div class="js-wsu-events-list wsu-events-list {{classes}}"
        data-component-id="{{range(100, 1000) | random}}"
        data-type="{{type}}"
        data-search="{{search}}"
        data-data-source="{{dataSource}}"
        data-no-results-message="{{noResultsMessage}}"
        data-count="{{count}}"
        data-post-ids="{{postIds}}"
        data-exclude="{{exclude}}"
        data-types="{{types}}"
        data-categories="{{categories}}"
        data-tags="{{tags}}"
        data-organizations="{{organizations}}"
        data-locations="{{locations}}"></div>
{% endmacro %}