{% macro eventsList( classes ) %}
    <ul class="wsu-events-list{{ classes }}">
        <li>
            <div class="wsu-events-list__container">
                <div class="wsu-events-list__date">
                    <div class="wsu-events-list__date-month">JUN</div>
                    <div class="wsu-events-list__date-day">7</div>
                </div>
                <div class="wsu-events-list__content">
                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                    <div class="wsu-events-list__meta">
                        <div class="wsu-events-list__meta-time">8:00pm</div>
                        <div class="wsu-events-list__meta-location">WSU Pullman</div>
                    </div>
                    <p>Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="wsu-events-list__container">
                <div class="wsu-events-list__date">
                    <div class="wsu-events-list__date-month">JUL</div>
                    <div class="wsu-events-list__date-day">13</div>
                </div>
                <div class="wsu-events-list__content">
                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                    <div class="wsu-events-list__meta">
                        <div class="wsu-events-list__meta-time">4:00pm</div>
                        <div class="wsu-events-list__meta-location">WSU Everett</div>
                    </div>
                    <p>Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="wsu-events-list__container">
                <div class="wsu-events-list__date">
                    <div class="wsu-events-list__date-month">AUG</div>
                    <div class="wsu-events-list__date-day">29</div>
                </div>
                <div class="wsu-events-list__content">
                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                    <div class="wsu-events-list__meta">
                        <div class="wsu-events-list__meta-time">8:00pm</div>
                        <div class="wsu-events-list__meta-location">WSU Tri-Cities</div>
                    </div>
                    <p>Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.</p>
                </div>
            </div>
        </li>
    </ul>
{% endmacro %}