{% from "logo-lockup/_macro.njk" import logoLockup %}
{% from "navigation-header/_macro.njk" import navigationHeader %}

{% macro headerCampus( classes='', showNav=true ) %}
<header class="wsu-header-campus {{ classes }}">
    <div class="wsu-header-campus__inner">
        <div class="wsu-header-campus__global">
            <ul class="wsu-header-campus__global-menu">
                <li><a href="#">Washington State University</a></li>
                <li><a href="#">Pullman Campus</a></li>
            </ul>
        </div>
        <div class="wsu-header-campus__banner">
           {{ logoLockup( classes=' wsu-logo-lockup--style-campus',link='#', subtitle='', title='Pullman' ) }}
        </div>
        {{ navigationHeader( activeItem='Degree Programs') }}
    </div>
</header>
{% endmacro %}