@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';


$wsu-space--logo: $wsu-spacing--medium;

.wsu-header-campus {
    z-index: $wsu-zindex--navigation;
    position: relative;

    &::after {
        content:'';
        height: 5px;
        width: auto;
        bottom: -5px;
        position: absolute;
        left: 0;
        right: 0;
        background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
        opacity: 0.2;
    }

   

    &__banner {
        background-color: #fff;
        height: 150px;
        display: flex;
        z-index: $wsu-zindex--navigation;
        position: relative;
        box-sizing: border-box;
    }

    &__utility-options {
        flex-grow: 1;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .wsu-logo-lockup__icon-wrapper {
        width: 150px;
    }

    .wsu-navigation-header {
        background-color: #fff;
        height: 45px;
        border-top: 1px solid $wsu-color--gray-10;
        padding: 0 $wsu-spacing--small;
    }

    .wsu-button-menu {
        right: 0;
        display: none;
    }

    @media screen and (min-width: $wsu-breakpoint--horizontal-nav ) {

        .wsu-navigation-mobile,
        .wsu-mobile-menu {
            display: none;
        }

    }

    @media screen and (max-width: $wsu-breakpoint--horizontal-nav ) {

        .wsu-button-menu {
            display: flex;
        }

        .wsu-header-campus__banner {
            height: 125px;
        }

        .wsu-logo-lockup__icon-wrapper {
            width: 125px;
        }

        .wsu-logo-lockup {
            font-size: 0.7rem;
        }


        .wsu-header-campus__utility-options,
        .wsu-navigation-header {
            display: none;
        }
    }

    @media screen and (max-width: $wsu-breakpoint--tablet ) {

        .wsu-header-campus__banner {
            height: 100px;
        }

        .wsu-logo-lockup__icon-wrapper {
            width: 100px;
        }

        .wsu-logo-lockup {
            font-size: 0.5rem;
        }

    }

    @media screen and (max-width: $wsu-breakpoint--phone) {

        .wsu-header-campus__banner {
            height: 80px;
        }

        .wsu-logo-lockup__icon-wrapper {
            width: 80px;
        }

        .wsu-logo-lockup {
            font-size: 0.4rem;
        }

    }
}

@media screen and (max-width: $wsu-breakpoint--horizontal-nav ) {

    .wsu-header-campus ~ .wsu-navigation-vertical {
        display: none;
    }

    .wsu-header-campus ~ .wsu-navigation-vertical ~ .wsu-wrapper-site {
        margin-left: 0;
    }
    
}

.wsu-header-global ~ .wsu-header-campus .wsu-header-campus__utility-options {
    margin-top: -35px;

    .wsu-header-utility-bar {
        position: relative;
    }

    .wsu-header-utility-bar::before {
        content: '';
        position: absolute;
        top: 0;
        height: 35px;
        width: 6px;
        left: -6px;
        display: block;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.5) 100%);
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.5) 100%);
        background: linear-gradient(to right,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#80000000',GradientType=1 );
        opacity: 0.5;
    }
}

