<form>
    <p>
        <label for="example-input-text">Name</label>
        <input type="text" id="example-input-text" placeholder="Enter some text here">
    </p>
    <p>
        <label for="example-input-email">Email address</label>
        <input type="email" id="example-input-email" placeholder="Enter email">
    </p>
    <p>
        <label for="example-input-tel">Telephone number</label>
        <input type="tel" id="example-input-tel" placeholder="Telephone number">
    </p>
    <p>
        <label for="example-input-url">Your Website</label>
        <input type="url" id="example-input-url" placeholder="Enter a url here">
    </p>
    <p>
        <label for="example-select1">Example select</label>
        <select id="example-select1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </p>
    <p>
        <label for="example-textarea">Leave us a message</label>
        <textarea id="example-textarea" rows="3"></textarea>
    </p>
    <p>
        <input type="reset" name="reset" value="Cancel" class="wsu-button wsu-button--style-outline">
        <input type="submit" name="submit" value="Submit" class="wsu-button">
    </p>
</form>