{% extends "component.njk" %}
{% from "meta-categories/macros/macro.njk" import metaCategories %}

{% block content %}
<div class="wsu-demo-component">
{{ metaCategories() }}
</div>
<style>
</style>
{%  endblock %}  