@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-header-global {
    font-family: $wsu-font-family;
    height: 60px;
    border-top: 4px solid $wsu-color--crimson;
    background-color: $wsu-color--gray-0;
    width: auto;
    max-width: 100%;
    display: flex;

    &__wordmark {
        display: flex;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__wordmark-title {
        display: block;
    
        @include wsu-font--xsmall;
        font-weight: $wsu-font-weight--semibold;
    
        padding-left: $wsu-spacing--medium;
        
    }


}


.wsu-header-global .wsu-navigation-utility {

    flex: 1;
    justify-content: flex-end;

    a {
        @include wsu-font--xsmall;
        font-weight: $wsu-font-weight--semibold;
        text-transform: uppercase;
    }

} 