<header class="wsu-header-global">
    <a class="wsu-header-global__wordmark" href="https://wsu.edu" title="WSU Homepage">
        {% include 'coug-head/coug-head-boxed.njk' %}
        <span class="wsu-header-global__wordmark-title">
            <span>W</span>ashington <span>S</span>tate <span>U</span>niversity
        </span>
    </a>
    <nav class="wsu-navigation-utility">
        <ul class="wsu-menu-utility--horizontal">
            <li>
                <a href="#">Apply</a>
            </li>
            <li>
                <a href="#">Give</a>
            </li>
            <li>
                <a href="#">Search</a>
            </li>
        </ul>
    </nav>
</header>
