
@import './navigation_states';
@import '../../../../_assets/scss/variables';
@import '../../../../_assets/scss/mixins';

@media screen and (max-width: $wsu-breakpoint--desktop) and (min-width: $wsu-breakpoint--tablet-large) {

    .wsu-navigation-site-vertical {

        &:not(.wsu-navigation-site-vertical--openned) {
        
            @include wsu-navigation-site-vertical--closed;
     
         }
     
         & ~ .wsu-wrapper-site {
             margin-left: $wsu-width--navigation-closed;
             transition-property: left;
             left: 0;
         }
     
         &.wsu-navigation-site-vertical--openned {  
             
            & ~ .wsu-wrapper-site {
                position: relative;
                left: calc( #{$wsu-width--navigation-open} - #{ $wsu-width--navigation-closed } );
            }

            .wsu-navigation-site-vertical__overlay {
                opacity: 1;
                visibility: visible;
            }
         }

    }
    
}

