@import './navigation_states';
@import '../../../../_assets/scss/variables';
@import '../../../../_assets/scss/mixins';


@media screen and (max-width: $wsu-breakpoint--tablet-large) {

    .wsu-navigation-site-vertical {
        width: $wsu-width--navigation-mobile-open;
        left: auto;
        right: 0;

        &:not(.wsu-navigation-site-vertical--openned) {
            transform: translateX( $wsu-width--navigation-mobile-open);
        }

        &__overlay {
            left: auto;
            right: $wsu-width--navigation-mobile-open;
        }

        & ~ .wsu-wrapper-site {
            margin-left: 0 !important;
        }

        &.wsu-navigation-site-vertical--openned {

            .wsu-navigation-site-vertical__overlay {
                opacity: 1;
                visibility: visible;
            }
            
        }

        .wsu-menu-toggle {

            &::after {
                opacity: 1;
            }

            li[aria-expanded] {

                & > a {

                    &::after {
                        opacity: 1;
                    }

                }

                & > button {
                    width: 60px;
                }

            } 

            & > li {

                &::before {
                    opacity: 1;
                }

                & > a {
                    font-size: $wsu-font-size--medium;
                    padding: $wsu-spacing--xsmall $wsu-spacing--xxmedium $wsu-spacing--xsmall calc( #{ $wsu-spacing--xxmedium} - 5px);
                }
            }

        }
    }
}


/*
@media screen and (max-width: $wsu-breakpoint--tablet-large) {
    
    .wsu-navigation-site-vertical {
        &:not(.wsu-navigation-site-vertical--openned) {
            transform: translateX( -$wsu-width--navigation-open);
        } 

       & ~ .wsu-wrapper-site {
            margin-left: 0 !important;
        }

    }

}


@media screen and (max-width: $wsu-breakpoint--tablet-large) {

    .wsu-navigation-site-vertical {

        &:not(.wsu-navigation-site-vertical--openned) {
        
            transform: translateX( -$wsu-width--navigation-open);
     
         }
     
         & ~ .wsu-wrapper-site {
             margin-left: $wsu-width--navigation-closed;
             transition-property: left;
             left: 0;
         }
     
         &.wsu-navigation-site-vertical--openned {  
             
            & ~ .wsu-wrapper-site {
                position: relative;
                left: calc( #{$wsu-width--navigation-open} - #{ $wsu-width--navigation-closed } );
            }

            .wsu-navigation-site-vertical__overlay {
                opacity: 1;
                visibility: visible;
            }
         }

    }
    
}
*/
