@mixin wsu-navigation-site-vertical--closed {

        transform: translateX( calc( #{$wsu-width--navigation-closed} - #{$wsu-width--navigation-open}) );

        .wsu-navigation-site-vertical__panel {
            opacity: 0;
        }

        .wsu-button-ui-menu-animated {
            opacity: 1;
            visibility: visible;
        }


        &:not(.wsu-animating) {

            .wsu-navigation-site-vertical__panel {
                visibility: hidden;
            }
        }

}


@mixin wsu-navigation-site-vertical--openned {

    transform: translateX( 0 );

    .wsu-navigation-site-vertical__panel {
        opacity: 1;
    }

    .wsu-button-ui-menu-animated {
        opacity: 0;
    }

}