.wsu-logo-lockup--style-campus {

    .wsu-logo-lockup {
        color: $wsu-color--gray-75;
        display: flex;
        font-size: 1rem;
    
        &__icon-wrapper {
            background-color: $wsu-color--crimson;
        }
    
        &__title-wrapper {
            padding: 0.2em 0 0.2em 1.5em;
        }
    
        &__subtitle {
            display: block;
            font-weight: 300;
            font-size: 0.9em;
        }
    
        &__title {
            display: block;
            font-size: 3em;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    
    }

    svg {
        height: 5.375em;
        width: 5.375em;
        margin: 0.75em 1em 1.5em 1.5em;
        fill: #fff;
    }

    /*.wsu-logo-lockup{

        &__title-wrapper {
            padding: 0.2em 0 0.2em 1em;

            &::before {
                content: '';
                height: auto;
                width: 1px;
                top: 0;
                bottom: 0;
                left: 0;
                background-color: $wsu-color--gray-60;
                position: absolute;
            }
        }

        &__subtitle {
            display: block;
            font-weight: 300;
            font-size: 0.9em;
        }

        &__title {
            display: block;
            font-size: 2.4em;
            font-weight: 700;
            line-height: 1;
        }

    }*/

}

a.wsu-logo-lockup {
    text-decoration: none;
}