@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-skip-to-main {
    position: absolute;
    top: -9999rem;
    left: $wsu-spacing--xxsmall;
    z-index: 99999;
    background-color: #fff;
    font-weight: 600;
    display: inline-block;
    padding: $wsu-spacing--sxxsmall $wsu-spacing--medium;

    &:focus {
        top: $wsu-spacing--xxsmall;
    }

    &.skip-to-menu-desktop {
        display: none;
    }

    @media screen and ( min-width: 1260px ) {

        &.skip-to-menu-mobile {
            display: none;
        }

        &.skip-to-menu-desktop {
            display: inline-block;
        }

    }
}
