{% extends "component.njk" %}
{% from "caption/macros/caption.macro.njk" import caption %}

{% block content %}
<div class="wsu-demo-component">
{{ caption() }} 
</div>
<style>
</style>
{%  endblock %} 