{% macro column(  classes='', content=false, contentBefore=false, contentAfter=false ) %}
<div class="wsu-column{{ classes }}" >
    {% if contentBefore %}
        {{ contentBefore }}
    {% endif %}
    {% if content %}
        {{ content }}
    {% else %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec sem sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer tincidunt purus quis libero placerat varius. Nunc orci tortor, volutpat in tincidunt eget, laoreet sit amet sapien. Donec id justo dolor. Integer sed nisl quis lacus fringilla fringilla. Ut quis ultricies ante. Quisque in consequat sapien. Nunc efficitur ex at arcu maximus, quis auctor erat tincidunt. Aliquam sit amet aliquam eros, vitae auctor velit. Nullam velit justo, vulputate quis pharetra nec, interdum sed dui. Nunc mi ex, consequat eget aliquet ultrices, hendrerit non eros. Cras consectetur, augue maximus facilisis sollicitudin, lectus est placerat lacus, at iaculis lacus lectus nec purus. Etiam in semper tortor
    </p>
    {% endif %}
    {% if contentAfter %}
        {{ contentAfter }}
    {% endif %}
</div>
{% endmacro %}