{% extends "component.njk" %}

{% block content %}
<div class="wsu-demo-component">
{% include 'coug-head/html.njk' %}
<hr />
{% include 'coug-head/html--crimson-light.njk' %}
<hr />
<div style="background-color: #555; padding: 3rem">
{% include 'coug-head/html--white.njk' %}
</div>
</div>
<style>
</style>
{%  endblock %} 