@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';


.wsu-events-card {
 
    box-sizing: border-box;
    margin-bottom: 0;
    margin-top: 1.5rem;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    
    a {
        font-size: 1.125em;
        display: block;
        font-weight: 600;
        margin-bottom: 0.2em;
    }

    p {
        font-size: $wsu-font-size--medium;
    }
    
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__container p{
        margin-bottom: 0.5rem;
    }
    &__meta{
        display: flex;
        flex-direction: row;
        font-size: $wsu-font-size--small;
    }
    &__meta-date {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: $wsu-font-weight--bold;
    }
    &__meta-time{
        font-weight: $wsu-font-weight--bold;
        margin-left: $wsu-spacing--xxsmall;
    }

    &__meta-location{
        font-weight: $wsu-font-weight--medium;
        font-size: $wsu-font-size--small;
        margin: 0.25rem 0;
    }
    &__meta-location::before{
        font-family: 'wsu-icons';
        content:'\F127';
        color: $wsu-color--crimson;
        font-size: 0.9em;
        font-weight: $wsu-font-weight--bold;
        margin-right: 0.15rem;
    }

}
