{% extends "page-template.njk" %}
{% from "hero/_macro.njk" import hero %}
{% from "header-site/_macro.njk" import headerSite %}
{% from "header-campus/_macro.njk" import headerCampus %}
{% from "mobile-menu/_macro.njk" import mobileMenu %}
{% from "navigation-mobile/_macro.njk" import navigationMobile %}
{% from "navigation-vertical/_macro.njk" import navigationVertical %}
{% from "header-global/_macro.njk" import headerGlobal %}
{% from "slide-in-panel/_macro.njk" import slideInPanel %}

{% block content %}
<div class="wsu-wrapper-global">
    {% include 'skip-to-main/html.njk' %}
    {{ headerGlobal( style='system') }}
    {{ headerCampus() }}
    {{ navigationMobile() }}
    {{navigationVertical() }}
    {% call slideInPanel( classes='wsu-slide-in-panel--width-large', panelClasses='wsu-background--gradient-dark', style='crimson-mark', startOpen='false', panelID='wsu-quicklinks-panel' ) -%}
        
    {%- endcall %}
    <div class="wsu-wrapper-site">
        <div class="wsu-wrapper-content">
            <main role="main" id="wsu-content" class="wsu-wrapper-main" tabindex="-1">
                <h1>Lorem ipsum dolor sit amet</h1>
                {% include 'row/html--thirds.njk' %}
            </main>
        </div>
        {% include 'footer-site/html.njk' %}
    </div>
    {% include 'footer-global/html.njk' %} 
</div>
{%  endblock %}  