{% extends "component.njk" %}
{% from "menu-dropdown/macros/macro.njk" import menuDropdown %}

{% block content %}
<div class="wsu-demo-component">
{{ menuDropdown() }}
</div>
<style>
hr {
    width: 100%;
}
</style>
{%  endblock %}    