<ul class="wsu-news-list">
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
        <span class="wsu-news-list__caption">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis justo, venenatis id suscipit sed, accumsan sed massa. Quisque sagittis purus eu tempor ultricies. Sed vulputate enim dui, vitae rhoncus justo varius nec.
        </span>
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
        <span class="wsu-news-list__caption">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis justo, venenatis id suscipit sed, accumsan sed massa. Quisque sagittis purus eu tempor ultricies. Sed vulputate enim dui, vitae rhoncus justo varius nec.
        </span>
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
        <span class="wsu-news-list__caption">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis justo, venenatis id suscipit sed, accumsan sed massa. Quisque sagittis purus eu tempor ultricies. Sed vulputate enim dui, vitae rhoncus justo varius nec.
        </span>
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
        <span class="wsu-news-list__caption">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis justo, venenatis id suscipit sed, accumsan sed massa. Quisque sagittis purus eu tempor ultricies. Sed vulputate enim dui, vitae rhoncus justo varius nec.
        </span>
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
        <span class="wsu-news-list__caption">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis justo, venenatis id suscipit sed, accumsan sed massa. Quisque sagittis purus eu tempor ultricies. Sed vulputate enim dui, vitae rhoncus justo varius nec.
        </span>
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
        <span class="wsu-news-list__caption">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis justo, venenatis id suscipit sed, accumsan sed massa. Quisque sagittis purus eu tempor ultricies. Sed vulputate enim dui, vitae rhoncus justo varius nec.
        </span>
    </li>
</ul>