{% extends "template-component-page.njk" %}

{% block content %}
{% include 'mobile-menu/html.njk' %}

<style>
body {
    background-color: #f1f1f1;
}
.wsu-mobile-menu {
    margin-bottom: 4rem;
}
</style>
{%  endblock %}