@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';




.wsu-image-frame {
    box-sizing: border-box;
    position: relative;

    img {
        width: 100%;
        height: auto;
        display: block;
        transition: opacity $wsu-transition-speed--medium $wsu-easing;
    }

    &.wsu-align {

        &--left {
            float: left;
            margin-right: $wsu-spacing--xxmedium;
        }

        &--center {
            margin-left: auto;
            margin-right: auto;
        }

        &--right {
            float: right;
            margin-left: $wsu-spacing--xxmedium;
        }
    }

}

.wsu-image-frame--fill .wsu-image-frame,
.wsu-image-frame--fill.wsu-image-frame {
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


[class*="wsu-image--ratio"] .wsu-image-frame,
[class*="wsu-image-frame--fixed-ratio"] .wsu-image-frame,
.wsu-image-frame[class*="wsu-image-frame--fixed-ratio"],
.wsu-image-frame[class*="wsu-image--ratio"] {

    &::before {
        content: '';
        display: block;
        padding-top: $wsu-ratio--6-4;
    }

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.wsu-image {

    &--ratio {

        &-2-5 {

            &.wsu-image-frame,
            .wsu-image-frame {

                &::before {
                    padding-top: $wsu-ratio--2-5 !important;
                }

            }

        }

        &-16-9 {

            &.wsu-image-frame,
            .wsu-image-frame {

                &::before {
                    padding-top: $wsu-ratio--16-9 !important;
                }

            }

        }

        &-6-4 {

            &.wsu-image-frame,
            .wsu-image-frame {

                &::before {
                    padding-top: $wsu-ratio--6-4 !important;
                }
            }
        }

        &-4-3 {

            &.wsu-image-frame,
            .wsu-image-frame {

                &::before {
                    padding-top: $wsu-ratio--4-3 !important;
                }
            }
        }

        &-square {

            &.wsu-image-frame,
            .wsu-image-frame {

                &::before {
                    padding-top: $wsu-ratio--square !important;
                }
            }
        }

        &-3-4 {

            &.wsu-image-frame,
            .wsu-image-frame {

                &::before {
                    padding-top: $wsu-ratio--3-4 !important;
                }
            }
        }
    }

    @each $name, $size in $wsu-image-size-map {

        &-size--#{$name} {
            &.wsu-image-frame,
            .wsu-image-frame {
                width: $size !important;
            } 
        }

    } 

}

.wsu-image-frame[class*="wsu-image-frame--ratio"] .wsu-image-frame,
[class*="wsu-image-frame--ratio"] .wsu-image-frame {
    position: relative;

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100% !important;
        width: 100% !important;
        display: block;
        object-fit: cover;
    }
}

@each $ratio, $padding in $wsu-image-ratio-map{

    .wsu-image-frame.wsu-image-frame--ratio-#{$ratio},
    .wsu-image-frame--ratio-#{$ratio} .wsu-image-frame {
        padding-top: $padding;
    }

}

@import './style-background';