{% macro newsList(classes, showCaption=true, showDate=false ) %}
<ul class="wsu-news-list{{ classes }}">
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        {% if showCaption %}<div class="wsu-caption">Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.</div>{% endif %}
        {% if showDate %}<div class="wsu-meta-date"><time>June 7,2021</time></div>{% endif %}
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        {% if showCaption %}<div class="wsu-caption">Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.</div>{% endif %}
        {% if showDate %}<div class="wsu-meta-date"><time>June 7,2021</time></div>{% endif %}
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        {% if showCaption %}<div class="wsu-caption">Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.</div>{% endif %}
        {% if showDate %}<div class="wsu-meta-date"><time>June 7,2021</time></div>{% endif %}
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        {% if showCaption %}<div class="wsu-caption">Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.</div>{% endif %}
        {% if showDate %}<div class="wsu-meta-date"><time>June 7,2021</time></div>{% endif %}
    </li>
</ul>
{% endmacro %}