@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-news-list {
    list-style-type: none;
    margin: 0 0 $wsu-spacing--component 0;
    padding: 0;

    li {
        margin: 0;
        padding: $wsu-spacing--small 0;
        border-bottom: 1px solid $wsu-color--gray-10;
    }

    a {
        font-weight: 600;
        font-size: $wsu-font-size--medium;
        margin-bottom: 0.3rem;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }

    .wsu-caption {
        @include wsu-font--xsmall();
    }

    .wsu-caption,
    .wsu-meta-date {
        margin-bottom: 0.3rem;
    }
    
}