@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';


.wsu-news-list {
    list-style-type: none;

    li {
        padding-bottom: 0.5rem;
        font-size: $wsu-font-size--xsmall;
        line-height: 1.5;

        &::marker {
            font-family: 'wsu-icons';
            content:'\F107';
            font-size: 0.9em;
            font-weight: 800;
        }

    }

    a {
        font-size: $wsu-font-size--medium;
        display: block;
        font-weight: 600;
        margin-bottom: 0.4rem;
    }

    .wsu-meta-date {
        margin-top: 0.4rem;
    }
}