{% extends "component.njk" %}
{% from "news-list/_macro.njk" import newsList %}

{% block content %}
<div class="wsu-demo-component">
    {% include 'news-list/html.njk' %}
    <hr />
    <div class="wsu-row wsu-row--sidebar-right">   
        <div class="wsu-column">
            <h2>News Header</h2>
            {{ newsList( '', false, true ) }}
            <h2>News Header</h2>
            {{ newsList( '' ) }}
        </div>
        <div class="wsu-column">
            <h2>News Header</h2>
            {{ newsList( '' ) }} 
        </div>
    </div>
</div>
<hr />
<div class="wsu-row wsu-row--thirds">
    <div class="wsu-column">
        <h2>News Header</h2>
        {{ newsList( '', false ) }} 
    </div>
    <div class="wsu-column">
        <h2>News Header</h2>
        {{ newsList() }} 
    </div>
    <div class="wsu-column">
        <h2>News Header</h2>
        {{ newsList('', true, true ) }} 
    </div>
</div>
<style>
hr {
    width: 100%;
}
</style>
{%  endblock %}   