{% extends "component.njk" %}
{% from "news-list/_macro.njk" import newsList %}

{% block content %}
<div class="wsu-demo-component">
<ul class="wsu-news-list-test">
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.
        <div class="wsu-meta-date"><time>June 7,2021</time></div>
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.
        <div class="wsu-meta-date"><time>June 7,2021</time></div>
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.
        <div class="wsu-meta-date"><time>June 7,2021</time></div>
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.
        <div class="wsu-meta-date"><time>June 7,2021</time></div>
    </li>
</ul>
<ul class="wsu-news-list-test">
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.
        
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.
        
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.
        
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        Curabitur a mi in justo vehicula ornare. Curabitur euismod pellentesque nisl, ut semper est rutrum ut. Sed mollis viverra dolor tempor vestibulum. Nunc porttitor dapibus mi a luctus. Proin iaculis tempor velit, sit amet viverra lacus euismod ut.
        
    </li>
</ul>
<ul class="wsu-news-list-test">
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        <div class="wsu-meta-date"><time>June 7,2021</time></div>
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        <div class="wsu-meta-date"><time>June 7,2021</time></div>
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        <div class="wsu-meta-date"><time>June 7,2021</time></div>
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        <div class="wsu-meta-date"><time>June 7,2021</time></div>
    </li>
</ul>
<ul class="wsu-news-list-test">
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
    </li>
    <li>
        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
    </li>
</ul>
</div>
<style>
hr {
    width: 100%;
}
</style>
{%  endblock %}   