{% macro socialIcons( modifierClass='', twitter=true, faceblook=true, linkedin=true, pintrest=true, email=true, youtube=true, instagram=true, bluesky=true ) %}
<ul class="wsu-social-icons{{ modifierClass }}">
    {% if twitter %}
    <li class="wsu-social-icons__twitter">
        <a href="#"><span class="screen-reader-only">Share on Twitter</span></a>
    </li>
    {% endif %}
    {% if faceblook %}
    <li class="wsu-social-icons__faceblook">
        <a href="#"><span class="screen-reader-only">Share on FaceBook</span></a>
    </li>
    {% endif %}
    {% if linkedin %}
    <li class="wsu-social-icons__linkedin">
        <a href="#"><span class="screen-reader-only">Share on Linkedin</span></a>
    </li>
    {% endif %}
    {% if pintrest %}
    <li class="wsu-social-icons__pintrest">
        <a href="#"><span class="screen-reader-only">Share on pinterest</span></a>
    </li>
    {% endif %}
    {% if youtube %}
    <li class="wsu-social-icons__youtube">
        <a href="#"><span class="screen-reader-only">Share on YouTube</span></a> 
    </li>
    {% endif %}
    {% if instagram %}
    <li class="wsu-social-icons__instagram">
        <a href="#"><span class="screen-reader-only">Share on Instagram</span></a>
    </li>
    {% endif %}
    {% if bluesky %}
    <li class="wsu-social-icons__bluesky">
        <a href="mailto:?subject=[title]&body=Check out this: [url]"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -3.268 64 68.414"><path d="M13.873 3.805C21.21 9.332 29.103 20.537 32 26.55v15.882c0-.338-.13.044-.41.867-1.512 4.456-7.418 21.847-20.923 7.944-7.111-7.32-3.819-14.64 9.125-16.85-7.405 1.264-15.73-.825-18.014-9.015C1.12 23.022 0 8.51 0 6.55 0-3.268 8.579-.182 13.873 3.805zm36.254 0C42.79 9.332 34.897 20.537 32 26.55v15.882c0-.338.13.044.41.867 1.512 4.456 7.418 21.847 20.923 7.944 7.111-7.32 3.819-14.64-9.125-16.85 7.405 1.264 15.73-.825 18.014-9.015C62.88 23.022 64 8.51 64 6.55c0-9.818-8.578-6.732-13.873-2.745z"/></svg></a>
    </li>
    {% endif %}
    {% if email %}
    <li class="wsu-social-icons__email">
        <a href="mailto:?subject=[title]&body=Check out this: [url]"><span class="screen-reader-only">Share on Blue</span></a>
    </li>
    {% endif %}
</ul>
{% endmacro %} 
