{% macro buttonMenu( classes='', style='', for='', ariaLabel='' ) %}

    <button class="wsu-button-menu {{ classes }}" data-panel="{{ for }}" aria-label="Open {{ ariaLabel }}">Menu</button>

{% endmacro %}