{% extends "component.njk" %}
{% from "search-field/macro.njk" import searcField %}

{% block content %}

<div class="wsu-demo-component" >
    {{ searcField() }}
    {{ searcField( ' wsu-search-field--secondary' ) }}
</div>
<style>
.wsu-demo-component {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
</style>
{%  endblock %} 