@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';
@import '../../components/menu/mixins';


@include wsu-menu--primary-vertical( '', '.wsu-navigation-site-vertical' );

$global-header-height: 65px;

.wsu-navigation-site-vertical {

    &__panel {
        position: fixed; 
        top: 0;
        padding-top: 65px;
        height: 100vh;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        border-right: 1px solid $wsu-color--gray-10;
        width: $wsu-width--navigation-open;
        left: 0;
        transition: transform $wsu-transition-speed--medium $wsu-easing, opacity $wsu-transition-speed--medium $wsu-easing;
        opacity: 1;
        visibility: inherit;
        box-sizing: border-box;
        z-index: $wsu-zindex--navigation;
        background-color: #fff;
    }

    &__overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.4);
        z-index: calc( #{$wsu-zindex--navigation} - 1 );
        opacity: 0;
        visibility: hidden;
        transition:  opacity $wsu-transition-speed--medium $wsu-easing, visibility $wsu-transition-speed--medium $wsu-easing 0s;
        cursor: pointer;
    }

    &__toggle-button {
        position: absolute;
        top: 0;
        right: 0;
        height: $wsu-height--global-header;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        border:none;
        width: $wsu-width--button-small;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        outline: 0;
        border-top: none;
        border-right: none;
        border-left: none;
        border-top: 4px solid #a60f2d;
        background-color: transparent;
        color: inherit;
        align-items: center;
        flex-grow: 1;
        z-index: calc( #{$wsu-zindex--global-header} + 1 );
        border-radius: 0;
        justify-content: center;
        font-size: 0;
        display: none;
        cursor: pointer;

        &::before {
            content: '\F12A';
            font-family: 'wsu-icons';
            font-size: $wsu-font-size--xmedium;
            font-weight: 500; 
        }

        &:focus,
        &:hover {
            box-shadow: none;
        }

        @include wsu-hover--border-bottom();

        &:focus {
            @include wsu-focus--link();
        } 
    }

    &__open-button {
        position: fixed;
        top: 0;
        height: calc( 100vh );
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        border-right: 1px solid $wsu-color--gray-10;
        width: $wsu-width--navigation-closed;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        outline: 0;
        border-top: none;
        border-bottom: none;
        border-left: none;
        box-shadow: none;
        background-color: #fff;
        color: inherit;
        font-size: 0.6rem;
        font-weight: 400;
        text-transform: uppercase;
        align-items: center;
        flex-grow: 1;
        z-index: $wsu-zindex--navigation;
        border-radius: 0;
        justify-content: center;
        transition: transform $wsu-transition-speed--medium $wsu-easing, opacity $wsu-transition-speed--medium $wsu-easing;
        cursor: pointer; 

        &::before {
            content: '\F12A';
            font-family: 'wsu-icons';
            font-size: $wsu-font-size--large;
            font-weight: 500;
        }

        &:focus,
        &:hover {
            background-color: $wsu-color--gray-10;
            border-right: 1px solid $wsu-color--gray-60;
            box-shadow: none;
        }

    }

    &:focus-within,
    &:hover,
    &:focus {
        .wsu-menu > li {

            &[aria-expanded] > a::after,
            &::after {
                opacity: 1 !important;
            }

        }

    }

    .wsu-button-ui-close {
        margin-top: $wsu-spacing--medium;
        margin-bottom: $wsu-spacing--medium;
        padding-right: $wsu-spacing--small;
        visibility: inherit;
    }

    .wsu-menu {
        flex-grow: 1;
        visibility: inherit;

        & > li:first-child a::before {
            content: '\F122';
            font-family: 'wsu-icons';
            margin-right: 0.3em;
        }
    }
}

/**
* ========================= Desktop Responsive View =======================
*/
@media screen and (min-width: $wsu-breakpoint--desktop ) {

    .wsu-navigation-site-vertical {
        &__open-button {
            visibility: hidden;
            transform: translateX( calc( #{$wsu-width--navigation-open} - #{$wsu-width--navigation-closed} ) );
            transition: transform $wsu-transition-speed--medium $wsu-easing, opacity $wsu-transition-speed--fast $wsu-easing, visibility $wsu-transition-speed--medium $wsu-easing 0s;
            opacity: 0;
        }

        &__panel {
            opacity: 1;
            transition: transform $wsu-transition-speed--medium $wsu-easing, opacity $wsu-transition-speed--medium $wsu-easing, visibility 0s $wsu-easing 0s;
        }

        & ~ .wsu-wrapper-site {
            margin-left: $wsu-width--navigation-open;
        }
    }

    .wsu-navigation-site-vertical--is-closed {

        .wsu-navigation-site-vertical {

            &__open-button {
                transform: translateX( 0 );
                visibility: visible;
                transition: transform $wsu-transition-speed--medium $wsu-easing, opacity $wsu-transition-speed--fast $wsu-easing, visibility 0s $wsu-easing 0s;
                opacity: 1;

                &:focus,
                &:hover {
                    background-color: $wsu-color--gray-10;
                    border-right: 1px solid $wsu-color--gray-60;
                    box-shadow: none;
                }
            }

            &__panel {
                transform: translateX( calc( #{$wsu-width--navigation-closed} - #{$wsu-width--navigation-open} ) );
                opacity: 0;
                visibility: hidden;
                transition: transform $wsu-transition-speed--medium $wsu-easing, opacity $wsu-transition-speed--medium $wsu-easing, visibility $wsu-transition-speed--medium $wsu-easing 0s;
            }

            & ~ .wsu-wrapper-site {
                margin-left: $wsu-width--navigation-closed;
            }
        }
    }

}

/**
* ========================= Tablet Responsive View =======================
*/
@media screen and (min-width: $wsu-breakpoint--tablet ) and (max-width: $wsu-breakpoint--desktop ) {

    .wsu-navigation-site-vertical {
        &__open-button {
            transform: translateX( 0 );
            visibility: visible;
            opacity: 1;
        }

        &__panel {
            transform: translateX( calc( #{$wsu-width--navigation-closed} - #{$wsu-width--navigation-open} ) );
            opacity: 0;
            visibility: hidden;
        }

        & ~ .wsu-wrapper-site {
            margin-left: $wsu-width--navigation-closed;
        }
    }

    .wsu-navigation-site-vertical--is-open {

        .wsu-navigation-site-vertical {

            &__open-button {
                transform: translateX( calc( #{$wsu-width--navigation-open} - #{$wsu-width--navigation-closed} ) );
                visibility: hidden;
                transition: transform $wsu-transition-speed--medium $wsu-easing, opacity $wsu-transition-speed--fast $wsu-easing, visibility 0s $wsu-easing 0s;
                opacity: 0;
            }

            &__panel {
                transform: translateX( 0 );
                opacity: 1;
                visibility: visible;
                transition: transform $wsu-transition-speed--medium $wsu-easing, opacity $wsu-transition-speed--medium $wsu-easing, visibility $wsu-transition-speed--medium $wsu-easing 0s;
            }

            &__overlay {
                opacity: 1;
                visibility: visible;
            }

            & ~ .wsu-wrapper-site {
                transform: translateX( calc( #{$wsu-width--navigation-open} - #{$wsu-width--navigation-closed} ) )
            }
        }
    }

    .wsu-navigation-site-vertical--is-closed {

        .wsu-navigation-site-vertical {
            &__overlay {
                transition:  opacity $wsu-transition-speed--medium $wsu-easing, visibility $wsu-transition-speed--medium $wsu-easing 2s;
            }
            
        }
    }
}

/**
* ========================= Phone Responsive View =======================
*/
@media screen and (max-width: $wsu-breakpoint--tablet ) {

    .wsu-navigation-site-vertical {
        &__open-button {
            display: none;
        }

        &__toggle-button {
            display: flex; 
        }

        &__panel {
            transform: translateX( #{$wsu-width--navigation-open} );
            opacity: 0;
            visibility: hidden;
            border-left: 1px solid $wsu-color--gray-10;

            & > .wsu-button-ui-close:first-child {
                display: none;
            }
        }

        .wsu-menu {
            margin-top: $wsu-spacing--medium;
        }
    }

    .wsu-navigation-site-vertical--is-open {

        .wsu-navigation-site-vertical {

            &__panel {
                transform: translateX( 0 );
                opacity: 1;
                right: 0;
                left: auto;
                visibility: visible;
                transition: transform $wsu-transition-speed--medium $wsu-easing, opacity $wsu-transition-speed--medium $wsu-easing, visibility $wsu-transition-speed--medium $wsu-easing 0s;
            }

            &__overlay {
                opacity: 1;
                visibility: visible;
            }

            & ~ .wsu-wrapper-site {
                transform: translateX( calc( #{$wsu-width--navigation-open} * -1 ) )
            }
        }
    }

    .wsu-navigation-site-vertical--is-closed {

        .wsu-navigation-site-vertical {
            &__overlay {
                transition:  opacity $wsu-transition-speed--medium $wsu-easing, visibility $wsu-transition-speed--medium $wsu-easing 2s;
            }
            
        }
    }

}

/**
* ========================= Make menu color light on dark header =======================
*/

.wsu-header-global--dark ~ .wsu-navigation-site-vertical {
    .wsu-navigation-site-vertical__toggle-button {
        color: $wsu-color--gray-5;
    }

}



