{% extends "component.njk" %}

{% block content %}
    {% include 'programs-list/html.njk' %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../../bundles/standalone/programs-list/styles-wds.css" media='all'/>
{% endblock %}

{% block scripts %}
    <script src="../../bundles/standalone/programs-list/scripts.js"></script>
{% endblock %}