
input[type="reset"],
input[type="submit"],
input[type="button"],
button {
    font-family: $wsu-font-family;
    background-color: $wsu-color--crimson-light;
    color: #fff;
    border-radius: $wsu-border-radius--large;
    border: none;
    padding: 1em 3em;
    font-size: $wsu-font-size--medium;
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
    transition: box-shadow $wsu-transition-speed--fast $wsu-easing;
    margin-bottom: $wsu-spacing--component;
    margin-right: $wsu-spacing--xmedium;

    &:hover,
    &:focus {
        box-shadow: $wsu-dropshadow-rise--medium;
        background-color: $wsu-color--crimson;
    }
    
}

.wsu-button {

    &--small {
        font-size: $wsu-font-size--xsmall;
    }

    &--large {
        font-size: $wsu-font-size--xxmedium;
    }

    &--round {
        border-radius: 2em;
    }

    &--secondary {
        color: $wsu-color--gray-60;
        border: 1px solid $wsu-color--gray-30;
        background-color: #fff;

        &:focus,
        &:hover {
            background-color: #fff;
            color: $wsu-color--crimson-light;
            border-color: $wsu-color--crimson-light;
        }
    }

    &--tertiary {
        color: $wsu-color--gray-60;
        border: none;
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        font-weight: 500;
        

        &:focus,
        &:hover {
            color: $wsu-color--gray-60;
            border-color: transparent;
            box-shadow: none;
            background-color: transparent;
            text-decoration-thickness: 2px;
        }
    }

    &-menu::before {
        content: '\F12A';
    }

    &-more {
        font-weight: 400;
        &::before {
            content: '\F12F';
        }
    }

    &-more-horizontal::before {
        content: '\F130';
    }

    &-search::before {
        content: '\F140';
    }

}


