@mixin wsu-button() {
    font-family: $wsu-font-family;
    background-color: $wsu-color--crimson;
    color: #fff;
    border-radius: $wsu-border-radius--large;
    border: none;
    padding: 1em 3em;
    font-size: $wsu-font-size--medium;
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
    transition: box-shadow $wsu-transition-speed--fast $wsu-easing;

    &:hover,
    &:focus {
        box-shadow: $wsu-dropshadow-rise--medium;
        background-color: $wsu-color--crimson-light;
    }
}

input[type="reset"],
input[type="submit"],
input[type="button"],
button {
    @include wsu-button();
}
 

