{% from "menu-collapse/_macro.njk" import menuCollapse %}
{% from "slide-in-panel/_macro.njk" import slideInPanel %}

{% macro navigationMobile(classes ='', style='', quickLinks=false ) %}
{% call slideInPanel( classes='wsu-navigation-mobile', style='crimson-mark', startOpen='true', panelID='wsu-navigation-mobile' ) -%}
    <div class="wsu-navigation-mobile__close">
        <button class="wsu-button wsu-button--style-action wsu-slide-in-panel--close">Close Menu</button>
    </div>
    {{ menuCollapse( style='mobile') }}
{%- endcall %}
{% endmacro %} 