@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-footer-site {
    
    box-sizing: border-box;
    padding: $wsu-spacing--xxmedium $wsu-spacing--large $wsu-spacing--xmedium;
    background-color: $wsu-color--gray-80;
    color: $wsu-color--gray-10;
    position: relative;

    &__title {
        font-weight: 500;
        font-size: $wsu-font-size--large;
        text-transform: uppercase;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 100px;
        box-sizing: border-box;
        padding-right: 100px;
        @media screen and (min-width: $wsu-breakpoint--tablet-large ) {
            max-width: calc( 100vw - #{$wsu-width--navigation-open});
        }
    }

    &__offsite-title {
        @include wsu-font--xsmall();
        text-transform: uppercase;
        font-weight: 600;
    }

    &__offsite-menu {
        margin: 0 0 $wsu-spacing--xmedium;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap; 

        li {
            margin: 0;
            padding: 0 $wsu-spacing--xsmall;
            position: relative;

            &::after {
                content:"";
                position: absolute;
                top: 20%;
                bottom: 20%; 
                width: 1px;
                height: auto;
                display: block; 
                left: 0;
                background-color: $wsu-color--gray-25;
            }

            &:first-child {
                padding-left: 0;

                &::after {
                    display: none;
                }
            }
            
            a {
                text-decoration: none;
                color: inherit;
                @include wsu-font--medium();
                position: relative;
                
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    top: 100%;
                    left: 0;
                    right: 0;
                    background-color: #fff;
                    height: 0;
                    transition: height $wsu-transition-speed--fast $wsu-easing, top $wsu-transition-speed--fast $wsu-easing;
                }

                &:hover,
                &:focus {

                    &::before {
                        top: calc( 100% + 4px );
                        height: 4px;
                    }
                }

                &:focus {

                    outline-color: #fff !important;
                }
            }

        }

    }

    .wsu-caption {
        max-width: 600px;
        @include wsu-font--small();
        margin-bottom: $wsu-spacing--component;
    }

    .wsu-menu-utility { 

        li {
            text-transform: uppercase;
            width: 170px;

            li {
                font-size: $wsu-font-size--xsmall;
                width: auto;
            }
        }

        & > li {
            & > button,
            & > a {
                text-transform: uppercase;
            }
        }

    }

    .wsu-coug-head {
        position: absolute;
        top: $wsu-spacing--medium;
        right: $wsu-spacing--xxmedium;
    }

    .wsu-caption ~ .wsu-coug-head,
    .wsu-menu-utility ~ .wsu-coug-head {
        top: $wsu-spacing--xxmedium;
    }
 
    .wsu-menu-deep-links {
        margin-bottom: $wsu-spacing--medium;

        a:focus {
            outline-color: #fff !important;
        }

        a::after {
            background-color: #ffffff;
        }
    }

    .wsu-meta-address a {
        text-decoration-color: #fff;
    }

    .wsu-meta-address a:focus {
        outline-color: #fff;
    }

}

.wsu-footer-site--white {
    background-color: #fff;
    border-top: 1px solid $wsu-color--gray-30;
    color: $wsu-color--text;

    .wsu-coug-head {
        fill: $wsu-color--crimson;
    }

    .wsu-menu-deep-links {
        margin-bottom: $wsu-spacing--medium;

        a::after {
            background-color: $wsu-color--crimson-light;
        }
    }

    .wsu-meta-address a {
        text-decoration-color: $wsu-color--crimson-light
    }

    .wsu-meta-address a:focus {
        outline-color: $wsu-color--crimson-light;
    }
}

@media screen and (max-width: $wsu-breakpoint--tablet-large) {

    .wsu-footer-site {

        padding-bottom: $wsu-spacing--xxmedium;

        .wsu-coug-head {
            position: relative;
            top: auto !important;
            bottom: auto;
            right: auto;
            left: auto;
            margin-top: $wsu-spacing--medium;
            margin-left: auto;
            margin-right: 0;
            display: block;
            width: 60px;
            height: 60px;
        }

        &__content {
            padding-right: 0 !important;
        }

        .wsu-social-icons {
            margin-top: 0.4rem;
        }

    }
    
}


/* ------------------- Print Styles ----------------- */

@media print { 
    .wsu-footer-site {
        display: none !important;
    }
}