{% extends "component.njk" %}
{% from "footer-site/_macro.njk" import footerSite %}

{% block content %}
{% include 'footer-site/html.njk' %}
<hr />
{% include 'footer-site/html--white.njk' %}
<hr />
{{ footerSite( '', true, true, false ) }}
<hr />
{{ footerSite( '', false, false, true ) }}
<hr />
{{ footerSite( '', false, false, false ) }}
<hr />
{{ footerSite( '', false, false, false, false ) }}
{%  endblock %} 