{% from "menu-utility/macro.njk" import menuUtility %}
{% from "meta-address/_macro.njk" import metaAddress %}
{% from "caption/macros/caption.macro.njk" import caption %}
{% from "social-icons/macros/social-icons.macro.njk" import socialIcons %}
{% from "coug-head/_macro.njk" import cougHead %}

{% macro footerSite( classes='', showTitle=true, showContent=true, showMenu=true ) %}
<footer class="wsu-footer-site{{classes}}">
    <div class="wsu-footer-site__content">
    {% if showTitle %}<h2 class="wsu-footer-site__title">Lorem ipsum dolor</h2>{% endif %}
    {% if showContent %}{{ caption() }}{% endif %}
    {% if showMenu %}{{ menuUtility(' wsu-menu-utility--horizontal wsu-menu-utility--flat', true, false ) }}{% endif %}
    {{ metaAddress() }}
    {{ socialIcons( ' wsu-social-icons--small' ) }}
    {{ cougHead(' wsu-coug-head--white') }}
    </div>
</footer>
{% endmacro %}