{% extends "component.njk" %}

{% block content %}
<div class="wsu-demo--overlay">
{% include 'experimental_overlay/html.njk' %}
</div>
<div class="wsu-demo--overlay">
    <div class="wsu-overlay wsu-overlay--dark-left"></div>
</div>
<hr />
<style>
.wsu-demo--overlay {
    position: relative;
    width: 900px;
    max-width: 900px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
</style>
{%  endblock %}