{% macro heading( tag='h1', classes='', title='Lorem ipsum', link='' ) %}
<{{ tag }} class="{{ classes }}">
    {% if link %}<a href="{{link}}">{% endif %}
    {{ title }} {{ tag }}
    {% if link %}</a>{% endif %}
</{{ tag }}>
{% endmacro %}