{% from "heading/_macro.njk" import heading %}

{% extends "component.njk" %}

{% block content %}
<div class="wsu-demo-component">
{% include 'heading/html.njk' %}
<hr />
{{ heading( 'h1', '' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h2', '' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h3', '' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h4', '' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h5', '' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h6', '' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
<hr />
{{ heading( 'h1', 'wsu-heading--style-callout' ) }}
{{ heading( 'h2', 'wsu-heading--style-callout' ) }}
{{ heading( 'h3', 'wsu-heading--style-callout' ) }}
{{ heading( 'h4', 'wsu-heading--style-callout' ) }}
{{ heading( 'h5', 'wsu-heading--style-callout' ) }}
{{ heading( 'h6', 'wsu-heading--style-callout' ) }}
<hr />
{{ heading( 'h1', 'wsu-heading--style-callout' ) }}
<p style="margin-left:auto;margin-right:auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h2', 'wsu-heading--style-callout' ) }}
<p style="margin-left:auto;margin-right:auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h3', 'wsu-heading--style-callout' ) }}
<p style="margin-left:auto;margin-right:auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h4', 'wsu-heading--style-callout' ) }}
<p style="margin-left:auto;margin-right:auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h5', 'wsu-heading--style-callout' ) }}
<p style="margin-left:auto;margin-right:auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h6', 'wsu-heading--style-callout' ) }}
<p style="margin-left:auto;margin-right:auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
</div>
<style>
</style>
{%  endblock %}