{% from "heading/_macro.njk" import heading %}

{% extends "component.njk" %}

{% block content %}
<div class="wsu-demo-component">
{% include 'heading/html.njk' %}
<hr />
{{ heading( link='#link') }}
{{ heading( tag='h2', link='#link' ) }}
{{ heading( tag='h3', link='#link' ) }}
{{ heading( tag='h4', link='#link' ) }}
{{ heading( tag='h5', link='#link' ) }}
{{ heading( tag='h6', link='#link' ) }}
<hr />
{{ heading( 'h1', '', 'Lorem ipsum', '', 'test' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h2', '' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h3', '' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h4', '' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h5', '' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h6', '' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
<hr />
{{ heading( 'h1', 'wsu-heading--style-callout' ) }}
{{ heading( 'h2', 'wsu-heading--style-callout' ) }}
{{ heading( 'h3', 'wsu-heading--style-callout' ) }}
{{ heading( 'h4', 'wsu-heading--style-callout' ) }}
{{ heading( 'h5', 'wsu-heading--style-callout' ) }}
{{ heading( 'h6', 'wsu-heading--style-callout' ) }}
<hr />
{{ heading( 'h1', 'wsu-heading--style-callout' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h2', 'wsu-heading--style-callout' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h3', 'wsu-heading--style-callout' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h4', 'wsu-heading--style-callout' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h5', 'wsu-heading--style-callout' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h6', 'wsu-heading--style-callout' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
<hr />

{{ heading( 'h2', 'wsu-heading--style-marked' ) }}
{{ heading( 'h3', 'wsu-heading--style-marked' ) }}
{{ heading( 'h4', 'wsu-heading--style-marked' ) }}
{{ heading( 'h5', 'wsu-heading--style-marked' ) }}
{{ heading( 'h6', 'wsu-heading--style-marked' ) }}

{{ heading( 'h2', 'wsu-heading--style-marked wsu-heading--mark-gray' ) }}
{{ heading( 'h3', 'wsu-heading--style-marked wsu-heading--mark-gray' ) }}
{{ heading( 'h4', 'wsu-heading--style-marked wsu-heading--mark-gray' ) }}
{{ heading( 'h5', 'wsu-heading--style-marked wsu-heading--mark-gray' ) }}
{{ heading( 'h6', 'wsu-heading--style-marked wsu-heading--mark-gray' ) }}

{{ heading( 'h2', 'wsu-heading--style-marked wsu-heading--mark-centered' ) }}
{{ heading( 'h3', 'wsu-heading--style-marked wsu-heading--mark-centered' ) }}
{{ heading( 'h4', 'wsu-heading--style-marked wsu-heading--mark-centered' ) }}
{{ heading( 'h5', 'wsu-heading--style-marked wsu-heading--mark-centered' ) }}
{{ heading( 'h6', 'wsu-heading--style-marked wsu-heading--mark-centered' ) }}
{{ heading( 'h1', 'wsu-heading--style-marked wsu-heading--mark-centered' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h2', 'wsu-heading--style-marked' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h3', 'wsu-heading--style-marked' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h4', 'wsu-heading--style-marked' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h5', 'wsu-heading--style-marked' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
{{ heading( 'h6', 'wsu-heading--style-marked' ) }}
<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui ligula, sagittis et accumsan sed, 
ultricies a nunc. Phasellus enim augue, viverra et euismod et, laoreet sit amet sapien. Cras nulla lacus, 
congue auctor turpis in, sagittis commodo eros. Pellentesque eget ligula vehicula, tristique ante non, 
commodo lorem.</p>
<hr />
</div>
<style>
</style>
{%  endblock %}