{% extends "page-template.njk" %}
{% from "hero/_macro.njk" import hero %}
{% from "header-site/_macro.njk" import headerSite %}


{% block content %}
<div class="wsu-wrapper-global wsu-has-navigation--horizontal">
    {% include 'skip-to-main/html.njk' %}
    {% include 'header-global/html.njk' %}
    <div class="wsu-wrapper-site">
        {{ headerSite('','Civil and Environmental Engineering','Voiland College of Engineering and Architecture', true ) }} 
        <div class="wsu-wrapper-content">
            <main role="main" id="wsu-content" class="wsu-wrapper-main" tabindex="-1">
                {{ hero() }}
                <h1>Lorem ipsum dolor sit amet</h1>
                {% include 'row/row-thirds.njk' %}
            </main>
        </div>
        {% include 'footer-site/html.njk' %}
    </div>
    {% include 'footer-global/html.njk' %} 
</div>
{%  endblock %}  