{% extends "page-template.njk" %}
{% from "experimental_hero/_macro.njk" import hero %}


{% block content %}
<div class="wsu-wrapper-global">
    {% include 'experimental_skip-to-main/html.njk' %}
    {% include 'header-global/html.njk' %}
    {% include 'experimental_navigation-site-vertical/html.njk' %}
    <div class="wsu-wrapper-site">
        <!-- Site Header -->
        <main id="wsu-content" class="wsu-wrapper-content" tabindex="-1">
            {{ hero() }}
            <h1>Lorem ipsum dolor sit amet</h1>
            {% include 'row/row-thirds.njk' %}
        </main>
    </div>
    {% include 'footer-global/html.njk' %} 
</div>
{%  endblock %}  