{% extends "page-template.njk" %}
{% from "footer-site/macro.njk" import footerSite %}



{% block content %}
<div class="wsu-wrapper-global">
    {% include 'header-global/html.njk' %}
    {% include 'navigation-site/navigation-site.njk' %}
    <div class="wsu-wrapper-site">
        <!-- Site Header -->
        <main class="wsu-wrapper-content">
            <!-- Site content -->
            {% include 'content-kitchen-sink.njk' %}
        </main>
        {{ footerSite() }}
    </div>
    {% include 'footer-global/html.njk' %} 
</div>
{%  endblock %}