{% extends "page-template.njk" %}

{% block content %}
<div class="wsu-wrapper-global">
    {% include 'header-global/header-global--dark.njk' %}
    {% include 'navigation-site/navigation-site--dark.njk' %}
    <div class="wsu-wrapper-site">
        <!-- Site Header -->
        <main class="wsu-wrapper-content">
            <!-- Site content -->
            {% include 'content-kitchen-sink.njk' %}
        </main>
    </div>
    {% include 'footer-global/footer-global.njk' %} 
</div>
{%  endblock %}  