{% extends "page-template.njk" %}

{% block content %}
<div class="wsu-wrapper-global">
    {% include 'header-global/header-global.njk' %}
    {% include 'navigation-site-vertical/navigation-site-vertical.njk' %}
    <div class="wsu-wrapper-site">
        {% include 'header-site/header-site.njk' %}
        <main class="wsu-wrapper-content">
            <!-- Site content -->
            {% include 'content-kitchen-sink.njk' %}
        </main>
    </div>
    {% include 'footer-global/footer-global.njk' %} 
</div>
{%  endblock %}  