{% extends "page-template.njk" %}
{% from "hero/_macro.njk" import hero %}
{% from "header-site/_macro.njk" import headerSite %}


{% block content %}
<div class="wsu-wrapper-global">
    {% include 'skip-to-main/html.njk' %}
    {% include 'header-global/html.njk' %}
    {% include 'navigation-site-vertical/html.njk' %}
    <div class="wsu-wrapper-site">
        {{ headerSite('','WDS Blank Page Template','University Marketing & Communications' ) }} 
        <div class="wsu-wrapper-content">
            <main role="main" id="wsu-content" class="wsu-wrapper-main" tabindex="-1">
                <h1>Search</h1>
                {% include 'row/html--thirds.njk' %}
            </main>
        </div>
        {% include 'footer-site/html.njk' %}
    </div>
    {% include 'footer-global/html.njk' %} 
</div>
{%  endblock %}  