{% from "card/_macro.njk" import card %}
{% from "news-card/_macro.njk" import newsCard %}

{% macro cardCarousel( classes='' ) %}
    <div class="wsu-card-carousel {{ classes }}">
        <button class="wsu-card-carousel__button-prev" aria-label="Previous slide"></button>
        <div class="wsu-card-carousel__wrapper swiper-wrapper">
            {{ newsCard(' swiper-slide') }}
            {{ newsCard(' swiper-slide') }}
            {{ newsCard(' swiper-slide') }}
            {{ newsCard(' swiper-slide') }}
            {{ newsCard(' swiper-slide') }}
            {{ newsCard(' swiper-slide') }}
            {{ newsCard(' swiper-slide') }}
            {{ newsCard(' swiper-slide') }}
            {{ newsCard(' swiper-slide') }}
        </div>
        <button class="wsu-card-carousel__button-next" aria-label="Next slide"></button>
        <div class="wsu-card-carousel__pagination"></div>


    </div>
{% endmacro %}