{% extends "component.njk" %}

{% block content %}
<nav class="wsu-navigation-utility">
    <ul class="wsu-navigation-utility__menu">
        <li>
            <a href="#">Apply</a>
        </li>
        <li>
            <a href="#">Give</a>
        </li>
        <li>
            <a href="#">Search</a>
            {% include 'navigation-drop-down/navigation-drop-down.njk' %}
        </li>
    </ul>
</nav>

{%  endblock %}