{% extends "component.njk" %}
{% from "experimental_accordion/_macro.njk" import accordion %}

{% block content %}

<div class="wsu-demo-component" >
    {{ accordion('','1') }}
    {{ accordion('','2') }}
    {{ accordion('','3') }}
    {{ accordion('','4') }}
    {{ accordion('','5') }}
    <hr />
    {{ accordion(' wsu-accordion--small','6') }}
    {{ accordion(' wsu-accordion--small','7') }}
    {{ accordion(' wsu-accordion--small','8') }}
    {{ accordion(' wsu-accordion--small','9') }}
</div>
<style>
.wsu-demo-component {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    width: 100%;
}
</style>
{%  endblock %}  