a {
    color: $wsu-color--crimson;
	text-decoration-color: $wsu-color--crimson-light;
    text-decoration-thickness: 0.1em;
	overflow-wrap: anywhere;

	&:hover {
		text-decoration-color: transparent;
	}
	

    &:focus {
        text-decoration: none;
		@include wsu-focus--link(); 
	}

	&.wsu-link--external {
		&::after {
			content: "\F108";
			display: inline-block;
			font-family: 'wsu-icons';
			font-size: 0.6rem;
			transform: rotate(-45deg);
			margin-left: 0.2rem;
		}
	}

	@media not all and (prefers-reduced-motion) {
		
		transition: text-decoration .01s linear;
		
		&:hover {
			transition: text-decoration .1s ease;
		}
	}
	
}