a {
    color: $wsu-color--crimson;
	text-decoration-color: $wsu-color--crimson-light;
    text-decoration-thickness: 0.1em;
	
	&:hover,
	&:focus {
        outline-color: $wsu-color--crimson-light;
        outline-width: thin;
        text-decoration-thickness: 0.15em;
		img {
			//-webkit-box-shadow: 0px 0px 0px 3px #000000; 
			//box-shadow: 0px 0px 0px 3px #000000;
			
			-webkit-box-shadow: 0px 0px 4px 4px $wsu-color--gray-30;
			box-shadow: 0px 0px 4px 4px $wsu-color--gray-30;
			outline: 2px solid #fff;
			box-sizing: border-box;
			filter: brightness(90%);
		}
	}

    &:focus {
        text-decoration: none;
	}

	&.wsu-link--external {
		&::after {
			content: "\F108";
			display: inline-block;
			font-family: 'wsu-icons';
			font-size: 0.6rem;
			transform: rotate(-45deg);
			margin-left: 0.2rem;
		}
	}
}