{% extends "component.njk" %}


{% block content %}
<p>
Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Nam in placerat ligula. Curabitur a ligula lacinia, consequat ipsum et, <a href="#">molestie quam. Sed vehicula, felis placerat maximus volutpat, nulla dolor cursus elit, vitae</a> iaculis quam nibh nec risus. Ut non nunc magna. Integer non interdum magna. Morbi in justo non orci aliquam laoreet et sit amet erat. Sed augue purus, mattis et tortor et, ultrices mattis velit. Cras sagittis commodo nibh, nec tincidunt justo iaculis ut. Donec porttitor tempor lorem, vel bibendum felis fermentum sit amet. Maecenas dignissim neque malesuada, luctus ligula sit amet, cursus leo.
</p>

{%  endblock %}   