@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-news-list {
    list-style-type: none;
    margin: 0 0 $wsu-spacing--component 0;
    padding: 0;

    li {
        margin: 0;
        padding: $wsu-spacing--medium 0;
        border-bottom: 1px solid $wsu-color--gray-10;
    }

    a {
        font-weight: 600;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .wsu-caption {
        margin-top: $wsu-spacing--sxxsmall;
        @include wsu-font--small();
    }

    .wsu-meta-date {
        margin-top: $wsu-spacing--sxxsmall;
    }

    .wsu-caption + .wsu-meta-date {
        margin-top: $wsu-spacing--xsmall;
    }

    
}