@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';
@import './mixins';

.wsu-menu-collapse--style-vertical {

    @extend %wsu-menu-collapse-vertical--level-1--ul;

    ul {
        width: 100%;
        @extend %wsu-menu-collapse-vertical--ul;
    }

    li {
        @extend %wsu-menu-collapse-vertical--li;
        @extend %wsu-menu-collapse--item-indicator;
        display: flex;
        flex-wrap: wrap;
    }

    button {
        @extend %wsu-menu-collapse-vertical--button;
        box-sizing: border-box;
    }

    button:first-child,
    a {
        @extend %wsu-menu-collapse-vertical--menu-item;
        outline: none;
    }

    button:first-child {
        @extend %wsu-menu-collapse-vertical--menu-item-button;
    }

    a ~ button {
        @extend %wsu-menu-collapse-vertical--menu-item-split-button;
        outline: none;
    }

    li[aria-expanded] {
        display: flex;
        flex-wrap: wrap;

        & > a {
            width: calc( 100% - 50px );
            box-sizing: border-box;
        }
    }

    li[aria-expanded="true"] {
        
        & > a ~ button {
            @extend %wsu-menu-collapse-vertical--menu-item-split-button-open;
        }
    }

    & > li {

        @extend %wsu-menu-collapse-vertical--level-1--menu-item;
    }

    & > li li {

        @extend %wsu-menu-collapse-vertical--level-2--menu-item;
    }

    & > li li li {

        @extend %wsu-menu-collapse-vertical--level-3--menu-item;
    }

}