@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';
@import './mixins';

$wsu-menu-collapse-spacing--nav-horizontal: $wsu-spacing--medium;
$wsu-menu-collapse-spacing--nav-vertical: $wsu-spacing--xxsmall;
$wsu-menu-collapse-spacing--nav-vertical-secondary: $wsu-spacing--sxxsmall;

.wsu-menu-collapse--style-vertical {

    ul {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
        position: relative;
    }

    button {
        cursor: pointer;
        background-color: transparent;
        border-radius: 0;
        border: none;
    }

    button:first-child,
    a {
        text-decoration: none;
        font-size: $wsu-font-size--small;
        color: $wsu-color--gray-75;
        font-weight: 600;
        display: block;
        flex-grow: 1;
        text-align: left;
    }

    button:first-child {
        &::after {
            content: '\F103';
            font-family: wsu-icons;
            transition: transform .2s;
            font-size: $wsu-font-size--xsmall;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            width: 50px;
            position: absolute;
            height: auto;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }

    a ~ button {
        width: 50px;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::before {
            content: '\F103';
            font-family: wsu-icons;
            transition: transform .2s;
            font-size: $wsu-font-size--xsmall;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
        }

        &::after {
            content:'';
            position: absolute;
            height: auto;
            left: 0;
            width: 1px;
            top: 0;
            bottom: 0;
            background-color: $wsu-color--gray-10;
        }
        
    }

    li[aria-expanded] {
        display: flex;
        flex-wrap: wrap;
    }

    & > li {

        &::after {
            content:'';
            position: absolute;
            height: 1px;
            width: 100%;
            bottom: 0;
            background-color: $wsu-color--gray-10;
        }

        & > button:first-child,
        & > a {
            padding: $wsu-menu-collapse-spacing--nav-vertical $wsu-menu-collapse-spacing--nav-horizontal;
        }
    }

    & > li li {

        button:first-child,
        a {
            font-weight: 500;
            padding: $wsu-menu-collapse-spacing--nav-vertical-secondary $wsu-menu-collapse-spacing--nav-horizontal $wsu-menu-collapse-spacing--nav-vertical-secondary calc( ( #{$wsu-spacing--xxsmall} * 1 ) + #{$wsu-menu-collapse-spacing--nav-horizontal} );
        }
    }

    & > li li li {

        button:first-child,
        a {
            padding-left: calc( ( #{$wsu-spacing--xxsmall} * 2 ) + #{$wsu-menu-collapse-spacing--nav-horizontal} );
        }
    }

}