{% macro backBar( bodyClasses ) %}
    <div class="wsu-degree-profile__back-bar wsu-width--full">
        <div class="wsu-decorator--style-lines-gray wsu-opacity--medium" style="width: 10%;height: 100%;top: 0; left: 0; background-image: repeating-linear-gradient(135deg,#ffffff,#ffffff 2px,transparent 2px,transparent 10px)"></div>
        <div class="wsu-degree-profile__back-bar-button">
            <a class="wsu-button" href="https://degrees.wsu.edu"><i class="fa-sharp fa-solid fa-left fa-xl"></i> Back to Degree Finder</a>
        </div>
    </div>
{% endmacro %}