{% macro backBar(bodyClasses) %}
    <div class="wsu-degree-profile__back-bar wsu-width--full">
        <div class="wsu-degree-profile__back-bar-decorator wsu-decorator--style-lines-gray"></div>
        <div class="wsu-degree-profile__back-bar-button">
            <a class="wsu-button wsu-button--size-small" href="/">
                <i class="fa-sharp fa-solid fa-left fa-xl"></i> Back to Degree Finder
            </a>
        </div>
    </div>
{% endmacro %}