{% extends "component.njk" %}

{% block content %}
    {% include 'degree-profile/html.njk' %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../../bundles/standalone/degree-profile/styles-wds.css" media='all'/>
{% endblock %}

<style>
.wsu-custom-demo {
}
</style>