@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

@media screen and (min-width: $wsu-breakpoint--tablet )  {
    .wsu-card--style-horizontal-33 {
        display: flex;
        margin-bottom: 2.25rem !important;
        
        .wsu-card{

            &__content {
                padding-left: $wsu-spacing--xxmedium;
                padding-right: $wsu-spacing--xxmedium;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p, li,
                .wsu-caption {
                    font-size: $wsu-font-size--medium;
                }
            }
        }
        .wsu-image-frame{
            width: 33.3%;
            flex-shrink: 0;
            min-height: $wsu-height--xxsmall;
        }

        .wsu-title {
            font-size: $wsu-font-size--xlarge;
        }
    }
}