
@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-card--style-boxed {
    border: 1px solid $wsu-color--gray-10;
    border-radius: $wsu-border-radius--xsmall;

    .wsu-card__content {
        padding-left: $wsu-spacing--medium;
        padding-right: $wsu-spacing--medium;
    }

    .wsu-image-frame img {
        border-radius: $wsu-border-radius--xsmall $wsu-border-radius--xsmall 0 0;
    }
}