@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-card {

    margin-bottom: $wsu-spacing--component;
    box-sizing: border-box;

    &[class*="wsu-color-background"]:not([class*="wsu-card--style-horizontal-"] ) {
        .wsu-card__content {
            padding-left: $wsu-spacing--medium;
            padding-right: $wsu-spacing--medium; 
        }
    }
    
    @media screen and (max-width: $wsu-breakpoint--tablet )  {
        &[class*="wsu-color-background"] {
            .wsu-card__content {
                padding-left: $wsu-spacing--medium;
                padding-right: $wsu-spacing--medium;  
            }
        }
    }

    &--layout-reversed{
        @media screen and (min-width: $wsu-breakpoint--tablet )  {
            flex-direction: row-reverse;

            &:not([class*="wsu-color-background"]) {
                .wsu-card__content {
                    padding-left: 0;
                }
            }
            
        }
    }

    // Legacy Code
    &__wrapper {

        margin-left: -$wsu-spacing--small;
        margin-right: -$wsu-spacing--small;
        
        display: flex;
        flex-wrap: wrap;

        &.wsu-per-row {

            &--2 {

                .wsu-card {
                    width: calc( 50% - ( #{ $wsu-spacing--small } * 2 ) );
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-left: $wsu-spacing--small;
                    margin-right: $wsu-spacing--small;
                }

                @media screen and (max-width: $wsu-breakpoint--tablet ) {
                    width: calc( 100% - ( #{ $wsu-spacing--small } * 2 ) );
                }
            }

            &--3 {

                .wsu-card {
                    width: calc( 33.33% - ( #{ $wsu-spacing--small } * 2 ) );
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-left: $wsu-spacing--small;
                    margin-right: $wsu-spacing--small;

                    @media screen and (max-width: $wsu-breakpoint--tablet ) {
                        width: calc( 100% - ( #{ $wsu-spacing--small } * 2 ) );
                    }
                }

            }

            &--4 {

                .wsu-card {

                    width: calc( 25% - ( #{ $wsu-spacing--small } * 2 ) );
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-left: $wsu-spacing--small;
                    margin-right: $wsu-spacing--small;

                    @media screen and (max-width: $wsu-breakpoint--tablet-large ) {
                        width: calc( 50% - ( #{ $wsu-spacing--small } * 2 ) );
                    }

                    @media screen and (max-width: $wsu-breakpoint--phone ) {
                        width: calc( 100% - ( #{ $wsu-spacing--small } * 2 ) );
                    }
                }

            }

        }

    }

    &-person {
        position: relative;
    }

    &__content {
        padding-top: $wsu-spacing--small;
        padding-bottom: $wsu-spacing--medium;
    }

    &__person-name {
        @include wsu-font--medium();
        font-weight: 600;
        margin: 0;
        padding: 0;
    }

    &__person-title {
        @include wsu-font--xsmall();
        font-weight: 400;
        margin: 0;
        padding: 0;
    }

    &__person-org {
        @include wsu-font--xsmall();
        font-weight: 500;
        padding: 0;
    }

    &__person-title + [class*="wsu-meta"],
    &__person-name + [class*="wsu-meta"] {
        margin-top: $wsu-spacing--small;
    }

    &__person-link {

        margin-top: $wsu-spacing--small;

        .wsu-button{
            font-size: $wsu-font-size--small;
        }   
    }

    &__focus-area {

        margin-bottom: $wsu-spacing--xsmall;
        margin-top: $wsu-spacing--xsmall;

        &-title {
            @include wsu-font--small();
            font-weight: 600;
        }

        &-list {
            padding: 0 0;
            margin: 0;

            li {
                list-style-type: none;
                font-size: $wsu-font-size--small;
                line-height: 1.5;
                padding: 0 0 0 1.25rem;
                margin: 0;
                position: relative;
            }

            li::before {
                content: "";
                width: 0.5rem;
                height: 1px;
                background-color: $wsu-color--crimson-light;
                top: 0.6em;
                position: absolute;
                display: block;
                left: 0;
            }
            
        }

        
    }

    &__footer-link-wrapper {
        height: 30px;
    }

    &__footer-link {
        text-decoration: none;
        font-size: $wsu-font-size--xsmall;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        text-align: center; 
        padding: $wsu-spacing--xsmall 0;
        display: block;

        &::after {
            content: "\F108";
            display: inline-block;
            transform: rotate(-45deg);
            font-size: $wsu-font-size--xxsmall;
            font-family: 'wsu-icons';
            margin-left: 0.4em;
        }
        

        &:hover,
        &:focus {
            text-decoration: underline; 
        }
    }

    .wsu-eyebrow-header {
        font-size: $wsu-font-size--xsmall;
    }


    .wsu-title {
        margin-bottom: $wsu-spacing--xxsmall;
        padding-top: 0;

        & + .wsu-meta-date {
            margin-top: -0.4rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .wsu-image-frame {

        &:last-child {
            margin-bottom: 0;
            margin-top: $wsu-spacing--small;
        }
    }

    .wsu-caption {
        @include wsu-font--small();

        p {
            @include wsu-font--small();
            margin-bottom: 0;
        }



        &:not(:first-child) {

            margin-top: $wsu-spacing--small;

        }

        &:not(:last-child) {

            margin-bottom: $wsu-spacing--small;

        }
    }

    [class*="wsu-meta"] + [class*="wsu-meta"] {
        margin-top: $wsu-spacing--sxxsmall;
        margin-bottom: $wsu-spacing--sxxsmall;
    }

    &--horizontal {
        display: flex;
        align-items: flex-start;

        & + .wsu-card--horizontal {
            margin-top: $wsu-spacing--xxmedium;
        }

        .wsu-image-frame {
            width: 200px;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $wsu-spacing--xmedium;
            margin-bottom: 0 !important;
            margin-top: 0 !important;

            &::before {
                padding-top: $wsu-ratio--6-4;
            }
        }

        .wsu-title {
            font-size: $wsu-font-size--large;
            line-height: 1.3;
            padding-top: 0;
        }

        .wsu-image-frame:last-child {
            margin-left: $wsu-spacing--xxmedium;
        }

    }

    &--small {

        & + .wsu-card--horizontal {
            margin-top: 0;
        }

        .wsu-title{
            font-size: $wsu-font-size--small;
            line-height: 1.3;
        }

        .wsu-caption {
            @include wsu-font--xsmall();
        }
    }

    &--large {

        & + .wsu-card--horizontal {
            margin-top: 0;
        }

        .wsu-title {
            font-size: $wsu-font-size--large;
            line-height: 1.3;
        }

        .wsu-caption {
            @include wsu-font--small();
        }
    }

}

.wsu-card--boxed, // Legacy support
.wsu-card--outline-boxed .wsu-card,
.wsu-card--outline-boxed.wsu-card {

    border: 1px solid $wsu-color--gray-10;
    border-radius: $wsu-border-radius--xsmall;

    .wsu-card__content {
        padding-left: $wsu-spacing--medium;
        padding-right: $wsu-spacing--medium;
    }

    .wsu-image-frame img {
        border-radius: $wsu-border-radius--xsmall $wsu-border-radius--xsmall 0 0;
    }
    
    
}

.wsu-card--outline-shadow .wsu-card,
.wsu-card--outline-shadow.wsu-card {

    border-radius: $wsu-border-radius--xsmall;
    box-shadow: $wsu-dropshadow--xlow;
    border-radius: 4px;

    .wsu-card__content {
        padding-left: $wsu-spacing--medium;
        padding-right: $wsu-spacing--medium;
    }

    .wsu-image-frame img {
        border-radius: $wsu-border-radius--xsmall $wsu-border-radius--xsmall 0 0;
    }
}


.wsu-row--sidebar-right .wsu-column:last-child .wsu-card__wrapper .wsu-card,
.wsu-row--sidebar-right .wsu-column:first-child .wsu-card__wrapper .wsu-card,
.wsu-row--sidebars .wsu-column:first-child .wsu-card__wrapper .wsu-card,
.wsu-row--sidebars .wsu-column:last-child .wsu-card__wrapper .wsu-card,
.wsu-row--thirds .wsu-card__wrapper .wsu-card,
.wsu-row--quarters .wsu-card__wrapper .wsu-card {
    width: calc( 100% - ( #{ $wsu-spacing--small } * 2 ) ) !important;
}

@import './style--framed';
@import './style--boxed';
@import './style--dropshadow';
@import './style--horizontal-25';
@import './style--horizontal-33';
@import './style--horizontal-50';