@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-card {

    margin-bottom: $wsu-spacing--component;
    box-sizing: border-box;

    &[class*="wsu-color-background"] {

        border-radius: 3px;

        .wsu-card__content {
            padding-left: $wsu-spacing--medium;
            padding-right: $wsu-spacing--medium;

        }

    }

    // Legacy Code
    &__wrapper {

        margin-left: -$wsu-spacing--small;
        margin-right: -$wsu-spacing--small;

        display: flex;
        flex-wrap: wrap;

        &.wsu-per-row {

            &--2 {

                .wsu-card {
                    width: calc( 50% - ( #{ $wsu-spacing--small } * 2 ) );
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-left: $wsu-spacing--small;
                    margin-right: $wsu-spacing--small;
                }

                @media screen and (max-width: $wsu-breakpoint--tablet ) {
                    width: calc( 100% - ( #{ $wsu-spacing--small } * 2 ) );
                }
            }

            &--3 {

                .wsu-card {
                    width: calc( 33.33% - ( #{ $wsu-spacing--small } * 2 ) );
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-left: $wsu-spacing--small;
                    margin-right: $wsu-spacing--small;

                    @media screen and (max-width: $wsu-breakpoint--tablet ) {
                        width: calc( 100% - ( #{ $wsu-spacing--small } * 2 ) );
                    }
                }

            }

            &--4 {

                .wsu-card {

                    width: calc( 25% - ( #{ $wsu-spacing--small } * 2 ) );
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-left: $wsu-spacing--small;
                    margin-right: $wsu-spacing--small;

                    @media screen and (max-width: $wsu-breakpoint--tablet-large ) {
                        width: calc( 50% - ( #{ $wsu-spacing--small } * 2 ) );
                    }

                    @media screen and (max-width: $wsu-breakpoint--phone ) {
                        width: calc( 100% - ( #{ $wsu-spacing--small } * 2 ) );
                    }
                }

            }

        }

    }

    &__content {
        padding-top: $wsu-spacing--small;
        padding-bottom: $wsu-spacing--medium;
    }

    &__person-name {
        @include wsu-font--medium();
        font-weight: 600;
        margin: 0;
        padding: 0;
    }

    &__person-title {
        @include wsu-font--xsmall();
        font-weight: 400;
        margin: 0;
        padding: 0;
    }

    &__person-title + [class*="wsu-meta"],
    &__person-name + [class*="wsu-meta"] {
        margin-top: $wsu-spacing--small;
    }


    .wsu-title {
        margin-bottom: $wsu-spacing--xxsmall;
        padding-top: 0;

        & + .wsu-meta-date {
            margin-top: -0.4rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .wsu-image-frame {

        &:last-child {
            margin-bottom: 0;
            margin-top: $wsu-spacing--small;
        }
    }

    .wsu-caption {
        @include wsu-font--small();

        p {
            @include wsu-font--small();
            margin-bottom: 0;
        }



        &:not(:first-child) {

            margin-top: $wsu-spacing--small;

        }

        &:not(:last-child) {

            margin-bottom: $wsu-spacing--small;

        }
    }

    [class*="wsu-meta"] + [class*="wsu-meta"] {
        margin-top: $wsu-spacing--sxxsmall;
        margin-bottom: $wsu-spacing--sxxsmall;
    }

    &--horizontal {
        display: flex;
        align-items: flex-start;

        & + .wsu-card--horizontal {
            margin-top: $wsu-spacing--xxmedium;
        }

        .wsu-image-frame {
            width: 200px;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $wsu-spacing--xmedium;
            margin-bottom: 0 !important;
            margin-top: 0 !important;

            &::before {
                padding-top: $wsu-ratio--6-4;
            }
        }

        .wsu-title {
            font-size: $wsu-font-size--large;
            line-height: 1.3;
            padding-top: 0;
        }

        .wsu-image-frame:last-child {
            margin-left: $wsu-spacing--xxmedium;
        }

    }

    &--small {

        & + .wsu-card--horizontal {
            margin-top: 0;
        }

        .wsu-title {
            font-size: $wsu-font-size--small;
            line-height: 1.3;
        }

        .wsu-caption {
            @include wsu-font--xsmall();
        }
    }

    &--large {

        & + .wsu-card--horizontal {
            margin-top: 0;
        }

        .wsu-title {
            font-size: $wsu-font-size--large;
            line-height: 1.3;
        }

        .wsu-caption {
            @include wsu-font--small();
        }
    }

}

.wsu-card--boxed, // Legacy support
.wsu-card--outline-boxed .wsu-card,
.wsu-card--outline-boxed.wsu-card {

    border: 1px solid $wsu-color--gray-10;
    border-radius: $wsu-border-radius--xsmall;

    .wsu-card__content {
        padding-left: $wsu-spacing--medium;
        padding-right: $wsu-spacing--medium;
    }

    .wsu-image-frame img {
        border-radius: $wsu-border-radius--xsmall $wsu-border-radius--xsmall 0 0;
    }


}

.wsu-card--outline-shadow .wsu-card,
.wsu-card--outline-shadow.wsu-card {

    border-radius: $wsu-border-radius--xsmall;
    box-shadow: $wsu-dropshadow--xlow;
    border-radius: 4px;

    .wsu-card__content {
        padding-left: $wsu-spacing--medium;
        padding-right: $wsu-spacing--medium;
    }

    .wsu-image-frame img {
        border-radius: $wsu-border-radius--xsmall $wsu-border-radius--xsmall 0 0;
    }
}


.wsu-row--sidebar-right .wsu-column:last-child .wsu-card__wrapper .wsu-card,
.wsu-row--sidebar-right .wsu-column:first-child .wsu-card__wrapper .wsu-card,
.wsu-row--sidebars .wsu-column:first-child .wsu-card__wrapper .wsu-card,
.wsu-row--sidebars .wsu-column:last-child .wsu-card__wrapper .wsu-card,
.wsu-row--thirds .wsu-card__wrapper .wsu-card,
.wsu-row--quarters .wsu-card__wrapper .wsu-card {
    width: calc( 100% - ( #{ $wsu-spacing--small } * 2 ) ) !important;
}

.wsu-card--framed {
	position: relative;
	min-height: 765px;
	transition: all .5s ease;
	margin: 0;
	padding: $wsu-spacing--medium;
  display: flex;
  align-items: flex-end;

  &::before {
    content: '';
    position: absolute;
    border-top: solid 26px $wsu-color--crimson-light;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
  }

  &::after {
    content: '';
    position: absolute;
    border-bottom: solid 26px $wsu-color--crimson-light;
    width: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition-property: width;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
  }

	&:hover {
		transform: translateY(-15px);
		transition: all 0.5s ease;

    &::before { //top
      width: 100%;
      transition-delay: 0.5s;
    }

    &::after { //right-top
      width: 100%;
      transition-delay: 0.5s;
    }

    .wsu-card__custom-border::before { //left
      bottom: 0;
      height: 100%;
      transition-delay: 0s;
    }

    .wsu-card__custom-border::after { //right
      height: 50%;
      transition-delay: 1s;
    }

    .wsu-card__custom-border-secondary::before {
      height: 50%;
      transition-delay: 1s;
    }
	}

	.wsu-image-frame {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		&::after {
			content: '';
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 88.54%);
      width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 0;
		}
	}

	.wsu-card__framed-link {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		text-decoration: none;
    font-size: 0;
    z-index: 2;
	}

	.wsu-card__content {
		position: relative;
		color: #fff;
		padding: $wsu-spacing--xsmall;
		z-index: 2;
	}

  .wsu-title {
    font-size: $wsu-font-size--xlarge;
    margin-bottom: $wsu-spacing--medium;
  }

  .wsu-caption {
    font-weight: $wsu-font-weight--medium;
  }

	.wsu-card__custom-button {
		position: absolute;
		right: 5px;
		bottom: 5px;
		z-index: 2;
	}

	.wsu-card__button {
		width: 35px;
		height: 35px;
		padding: 6px 3px;
		transform: rotate(-45deg);
		background: rgba(0,0,0,0.9);
		border-radius: 50%;
		border: 0;
		cursor: pointer;
	}

	i {
		color: #fff;
	}

	i::before {
		font-family: wsu-icons !important;
		font-style: normal;
		font-weight: normal !important;
		font-size: $wsu-font-size--xmedium;
	}

	.wsu-card__custom-border {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		outline: 1px solid #fff9;
		outline-offset: -14px;
		top: 0;
		left: 0;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 17%;
			height: 82px;
			border-left: 26px solid $wsu-color--crimson-light;
			z-index: -1;
      transition-property: all;
      transition-duration: 0.5s;
      transition-delay: 1s;
      transition-timing-function: ease-in;
		}

    &::after { //right-bottom
      content: '';
      position: absolute;
      border-right: 26px solid $wsu-color--crimson-light;
      height: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      transition-property: all;
      transition-duration: 0.5s;
      transition-delay: 0s;
      transition-timing-function: ease-in;
    }
	}

  .wsu-card__custom-border-secondary {
    &::before { //right-top
      content: '';
      position: absolute;
      width: 26px;
      height: 0;
      right: 0;
      top: 0;
      z-index: -1;
      background: $wsu-color--crimson-light;
      transition-property: all;
      transition-duration: 0.5s;
      transition-delay: 0s;
      transition-timing-function: ease-in;
    }
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .wsu-card--framed {
    &::before,
    &::after {
      opacity: 0;
    }

    &:hover {
      transform: none;

      .wsu-card__custom-border::before {
        opacity: 0;
        transition: opacity 0.5s ease;
      }

      .wsu-card__custom-border-secondary::before {
        height: 0;
      }

      .wsu-card__custom-border-secondary {
        opacity: 1;
        transition: opacity 0.5s ease 0s;
      }
    }

    .wsu-card__custom-border {

      &::before {
        transition: opacity 0.5s ease;
      }

      &::after {
        opacity: 0;
      }
    }

    .wsu-card__custom-border-secondary {
      opacity: 0;
      border: 26px solid $wsu-color--crimson-light;
      width: calc(100% - 52px);
      height: calc(100% - 52px);
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      transition: opacity 0.5s ease 0s;
    }
  }


}
