{% extends "component.njk" %}
{% from "card/_macro-reverse.njk" import cardReversed %}
{% from "card/_macro.njk" import card %}
{% from "card/_macro.njk" import cardPerson %}

{% block content %}
<div class="wsu-demo-component--narrow" >
    {% include 'card/html.njk' %}
    <hr />
</div>
<div class="wsu-demo-component" >
    <div class="wsu-card-wrapper wsu-card-wrapper--per-row-3">
    {{ card() }}
    {{ card( ' wsu-card--outline-boxed' ) }}
    {{ card( ' wsu-card--outline-shadow' ) }}
    </div>
</div>
<hr style="width: 100%" />
<div class="wsu-demo-component--narrow" >
    {% include 'card/html-person.njk' %}
</div>
<div class="wsu-demo-component" >
    <div class="wsu-card-wrapper wsu-card-wrapper--per-row-4">
    {% include 'card/html-person.njk' %}
    {% include 'card/html-person.njk' %}
    {% include 'card/html-person.njk' %}
    {% include 'card/html-person.njk' %}
    </div>
    <div class="wsu-card-wrapper wsu-card-wrapper--per-row-3">
    {% include 'card/html-person.njk' %}
    {% include 'card/html-person.njk' %}
    {% include 'card/html-person.njk' %}
    </div>
    <div class="wsu-card-wrapper wsu-card-wrapper--per-row-2">
    {% include 'card/html-person.njk' %}
    {% include 'card/html-person.njk' %}
    </div>
</div>
<style>
.wsu-demo-component--narrow {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.wsu-demo-component {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
</style>
{%  endblock %} 