{% macro degreeList( bodyClasses ) %}
<div class="wsu-degree-finder__degrees-grid wsu-degree-finder__degrees-grid--layout-list" aria-live=assertive aria-atomic=true>
    <div id="degreeslist" class="wsu-card-group wsu-card-group--per-row-1">
        <article class="wsu-card wsu-degree-profile__related-card wsu-card--style-horizontal-25">
            <div class="wsu-image-frame wsu-image-frame--fixed-ratio">
                <a href="#" tabindex="-1" aria-hidden="true">
                    <img src="https://wpcdn.web.wsu.edu/ucomm/uploads/sites/2814/2023-11-03-14_18_16-Untitled-–-Figma.jpg">
                </a>
            </div>
            <div class="wsu-card__content">
                <div class="wsu-card__header">
                    <h2 class="wsu-title"><a href="#">Agricultural Biotechnology</a></h2>
                    <span class="fa-layers fa-fw wsu-degree-grid__favorite-container" role="listbox" tabindex="0">
                        <span class="wsu-screen-reader-only">Add to favorites</span>
                        <span class="wsu-degree-grid__favorite-controls" role="option" aria-selected="true">
                            <i class="fa-solid fa-heart fa-xl wsu-degree-grid__favorite-icon-solid"></i>
                            <i class="fa-regular fa-heart fa-xl wsu-degree-grid__favorite-icon-regular"></i>
                        </span>
                    </span>
                </div>
                <p>Mauris commodo quis imperdiet massa. Massa massa ultricies mi quis hendrerit dolor. Imperdiet dui accumsan sit amet. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Adipiscing enim eu turpis egestas. Feugiat scelerisque varius morbi enim. Viverra ipsum nunc aliquet bibendum enim.</p>
            </div>
        </article>
        <article class="wsu-card wsu-degree-profile__related-card wsu-card--style-horizontal-25">
            <div class="wsu-image-frame wsu-image-frame--fixed-ratio">
                <a href="#" tabindex="-1" aria-hidden="true">
                    <img src="https://wpcdn.web.wsu.edu/ucomm/uploads/sites/2814/2023-11-03-14_18_16-Untitled-–-Figma.jpg">
                </a>
            </div>
            <div class="wsu-card__content">
                <div class="wsu-card__header">
                    <h2 class="wsu-title"><a href="#">Agricultural Biotechnology</a></h2>
                    <span class="fa-layers fa-fw wsu-degree-grid__favorite-container" role="listbox" tabindex="0">
                        <span class="wsu-screen-reader-only">Add to favorites</span>
                        <span class="wsu-degree-grid__favorite-controls" role="option" aria-selected="true">
                            <i class="fa-solid fa-heart fa-xl wsu-degree-grid__favorite-icon-solid"></i>
                            <i class="fa-regular fa-heart fa-xl wsu-degree-grid__favorite-icon-regular"></i>
                        </span>
                    </span>
                </div>
                <p>Mauris commodo quis imperdiet massa. Massa massa ultricies mi quis hendrerit dolor. Imperdiet dui accumsan sit amet. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Adipiscing enim eu turpis egestas. Feugiat scelerisque varius morbi enim. Viverra ipsum nunc aliquet bibendum enim.</p>
            </div>
        </article>
        <article class="wsu-card wsu-degree-profile__related-card wsu-card--style-horizontal-25">
            <div class="wsu-image-frame wsu-image-frame--fixed-ratio">
                <a href="#" tabindex="-1" aria-hidden="true">
                    <img src="https://wpcdn.web.wsu.edu/ucomm/uploads/sites/2814/2023-11-03-14_18_16-Untitled-–-Figma.jpg">
                </a>
            </div>
            <div class="wsu-card__content">
                <div class="wsu-card__header">
                    <h2 class="wsu-title"><a href="#">Agricultural Biotechnology</a></h2>
                    <span class="fa-layers fa-fw wsu-degree-grid__favorite-container" role="listbox" tabindex="0">
                        <span class="wsu-screen-reader-only">Add to favorites</span>
                        <span class="wsu-degree-grid__favorite-controls" role="option" aria-selected="true">
                            <i class="fa-solid fa-heart fa-xl wsu-degree-grid__favorite-icon-solid"></i>
                            <i class="fa-regular fa-heart fa-xl wsu-degree-grid__favorite-icon-regular"></i>
                        </span>
                    </span>
                </div>
                <p>Mauris commodo quis imperdiet massa. Massa massa ultricies mi quis hendrerit dolor. Imperdiet dui accumsan sit amet. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Adipiscing enim eu turpis egestas. Feugiat scelerisque varius morbi enim. Viverra ipsum nunc aliquet bibendum enim.</p>
            </div>
        </article>
        <article class="wsu-card wsu-degree-profile__related-card wsu-card--style-horizontal-25">
            <div class="wsu-image-frame wsu-image-frame--fixed-ratio">
                <a href="#" tabindex="-1" aria-hidden="true">
                    <img src="https://wpcdn.web.wsu.edu/ucomm/uploads/sites/2814/2023-11-03-14_18_16-Untitled-–-Figma.jpg">
                </a>
            </div>
            <div class="wsu-card__content">
                <div class="wsu-card__header">
                    <h2 class="wsu-title"><a href="#">Agricultural Biotechnology</a></h2>
                    <span class="fa-layers fa-fw wsu-degree-grid__favorite-container" role="listbox" tabindex="0">
                        <span class="wsu-screen-reader-only">Add to favorites</span>
                        <span class="wsu-degree-grid__favorite-controls" role="option" aria-selected="true">
                            <i class="fa-solid fa-heart fa-xl wsu-degree-grid__favorite-icon-solid"></i>
                            <i class="fa-regular fa-heart fa-xl wsu-degree-grid__favorite-icon-regular"></i>
                        </span>
                    </span>
                </div>
                <p>Mauris commodo quis imperdiet massa. Massa massa ultricies mi quis hendrerit dolor. Imperdiet dui accumsan sit amet. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Adipiscing enim eu turpis egestas. Feugiat scelerisque varius morbi enim. Viverra ipsum nunc aliquet bibendum enim.</p>
            </div>
        </article>
        <article class="wsu-card wsu-degree-profile__related-card wsu-card--style-horizontal-25">
            <div class="wsu-image-frame wsu-image-frame--fixed-ratio">
                <a href="#" tabindex="-1" aria-hidden="true">
                    <img src="https://wpcdn.web.wsu.edu/ucomm/uploads/sites/2814/2023-11-03-14_18_16-Untitled-–-Figma.jpg">
                </a>
            </div>
            <div class="wsu-card__content">
                <div class="wsu-card__header">
                    <h2 class="wsu-title"><a href="#">Agricultural Biotechnology</a></h2>
                    <span class="fa-layers fa-fw wsu-degree-grid__favorite-container" role="listbox" tabindex="0">
                        <span class="wsu-screen-reader-only">Add to favorites</span>
                        <span class="wsu-degree-grid__favorite-controls" role="option" aria-selected="true">
                            <i class="fa-solid fa-heart fa-xl wsu-degree-grid__favorite-icon-solid"></i>
                            <i class="fa-regular fa-heart fa-xl wsu-degree-grid__favorite-icon-regular"></i>
                        </span>
                    </span>
                </div>
                <p>Mauris commodo quis imperdiet massa. Massa massa ultricies mi quis hendrerit dolor. Imperdiet dui accumsan sit amet. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Adipiscing enim eu turpis egestas. Feugiat scelerisque varius morbi enim. Viverra ipsum nunc aliquet bibendum enim.</p>
            </div>
        </article>
        <article class="wsu-card wsu-degree-profile__related-card wsu-card--style-horizontal-25">
            <div class="wsu-image-frame wsu-image-frame--fixed-ratio">
                <a href="#" tabindex="-1" aria-hidden="true">
                    <img src="https://wpcdn.web.wsu.edu/ucomm/uploads/sites/2814/2023-11-03-14_18_16-Untitled-–-Figma.jpg">
                </a>
            </div>
            <div class="wsu-card__content">
                <div class="wsu-card__header">
                    <h2 class="wsu-title"><a href="#">Agricultural Biotechnology</a></h2>
                    <span class="fa-layers fa-fw wsu-degree-grid__favorite-container" role="listbox" tabindex="0">
                        <span class="wsu-screen-reader-only">Add to favorites</span>
                        <span class="wsu-degree-grid__favorite-controls" role="option" aria-selected="true">
                            <i class="fa-solid fa-heart fa-xl wsu-degree-grid__favorite-icon-solid"></i>
                            <i class="fa-regular fa-heart fa-xl wsu-degree-grid__favorite-icon-regular"></i>
                        </span>
                    </span>
                </div>
                <p>Mauris commodo quis imperdiet massa. Massa massa ultricies mi quis hendrerit dolor. Imperdiet dui accumsan sit amet. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Adipiscing enim eu turpis egestas. Feugiat scelerisque varius morbi enim. Viverra ipsum nunc aliquet bibendum enim.</p>
            </div>
        </article>
    </div>
</div>
{% endmacro %}