{% macro degreeGrid( bodyClasses ) %}
<div class="wsu-degree-finder__degrees-grid">
    <div id="degreesGrid" class="wsu-card-group wsu-card-group--per-row-3">
        <article class="wsu-card wsu-degree-profile__related-card">
            <div class="wsu-image-frame wsu-image-frame--fixed-ratio">
                <a href="#" tabindex="-1" aria-hidden="true">
                    <img src="https://wpcdn.web.wsu.edu/ucomm/uploads/sites/2814/2023-11-03-14_18_16-Untitled-–-Figma.jpg">
                </a>
            </div>
            <div class="wsu-card__content">
                <h2 class="wsu-title"><a href="#">Agricultural Biotechnology</a></h2>
                <span class="fa-layers fa-fw " role="listbox">
                    <span class="wsu-screen-reader-only">Mark as favorite</span>
                    <span class="wsu-degree-grid__favorite-controls" role="option" aria-selected="true" tabindex="0">
                        <i class="fa-solid fa-heart fa-xl wsu-degree-grid__favorite-icon-solid"></i>
                        <i class="fa-regular fa-heart fa-xl wsu-degree-grid__favorite-icon-regular"></i>
                    </span>
                </span>
            </div>
        </article>
        <article class="wsu-card wsu-degree-profile__related-card">
            <div class="wsu-image-frame wsu-image-frame--fixed-ratio">
                <a href="#" tabindex="-1" aria-hidden="true">
                    <img src="https://wpcdn.web.wsu.edu/ucomm/uploads/sites/2814/2023-11-03-14_18_24-Untitled-–-Figma.jpg">
                </a>
            </div>
            <div class="wsu-card__content">
                <h2 class="wsu-title"><a href="#">Agricultural Education</a></h2>
                <span class="fa-layers fa-fw " role="listbox">
                    <span class="wsu-screen-reader-only">Mark as favorite</span>
                    <span class="wsu-degree-grid__favorite-controls" role="option" aria-selected="true" tabindex="0">
                        <i class="fa-solid fa-heart fa-xl wsu-degree-grid__favorite-icon-solid"></i>
                        <i class="fa-regular fa-heart fa-xl wsu-degree-grid__favorite-icon-regular"></i>
                    </span>
                </span>
            </div>
        </article>
        <article class="wsu-card wsu-degree-profile__related-card">
            <div class="wsu-image-frame wsu-image-frame--fixed-ratio">
                <a href="#" tabindex="-1" aria-hidden="true">
                    <img src="https://wpcdn.web.wsu.edu/ucomm/uploads/sites/2814/2023-11-03-14_18_35-Untitled-–-Figma.jpg">
                </a>
            </div>
            <div class="wsu-card__content">
                <h2 class="wsu-title"><a href="#">Agricultural and Food Business Economics</a></h2>
                <span class="fa-layers fa-fw " role="listbox">
                    <span class="wsu-screen-reader-only">Mark as favorite</span>
                    <span class="wsu-degree-grid__favorite-controls" role="option" aria-selected="true" tabindex="0">
                        <i class="fa-solid fa-heart fa-xl wsu-degree-grid__favorite-icon-solid"></i>
                        <i class="fa-regular fa-heart fa-xl wsu-degree-grid__favorite-icon-regular"></i>
                    </span>
                </span>
            </div>
        </article>
        <article class="wsu-card wsu-degree-profile__related-card"> 
            <div class="wsu-image-frame wsu-image-frame--fixed-ratio">
                <a href="#" tabindex="-1" aria-hidden="true">
                    <img src="https://wpcdn.web.wsu.edu/ucomm/uploads/sites/2814/118326292_3587265347972711_1850701655313517960_n.jpg">
                </a>
            </div>
            <div class="wsu-card__content">
                <h2 class="wsu-title"><a href="#">Agricultural Technology and Production Management</a></h2>
                <span class="fa-layers fa-fw " role="listbox">
                    <span class="wsu-screen-reader-only">Mark as favorite</span>
                    <span class="wsu-degree-grid__favorite-controls" role="option" aria-selected="false" tabindex="0">
                        <i class="fa-solid fa-heart fa-xl wsu-degree-grid__favorite-icon-solid"></i>
                        <i class="fa-regular fa-heart fa-xl wsu-degree-grid__favorite-icon-regular"></i>
                    </span>
                </span>
            </div>
        </article>
        <article class="wsu-card wsu-degree-profile__related-card">
            <div class="wsu-image-frame wsu-image-frame--fixed-ratio">
                <a href="#" tabindex="-1" aria-hidden="true">
                    <img src="https://wpcdn.web.wsu.edu/ucomm/uploads/sites/2814/2023-11-03-14_18_51-Untitled-–-Figma.jpg">
                </a>
            </div>
            <div class="wsu-card__content">
                <h2 class="wsu-title"><a href="#">Animal Sciences</a></h2>
                <span class="fa-layers fa-fw " role="listbox">
                    <span class="wsu-screen-reader-only">Mark as favorite</span>
                    <span class="wsu-degree-grid__favorite-controls" role="option" aria-selected="true" tabindex="0">
                        <i class="fa-solid fa-heart fa-xl wsu-degree-grid__favorite-icon-solid"></i>
                        <i class="fa-regular fa-heart fa-xl wsu-degree-grid__favorite-icon-regular"></i>
                    </span>
                </span>
            </div>
        </article>
        <article class="wsu-card wsu-degree-profile__related-card">
            <div class="wsu-image-frame wsu-image-frame--fixed-ratio">
                <a href="#" tabindex="-1" aria-hidden="true">
                    <img src="https://wpcdn.web.wsu.edu/ucomm/uploads/sites/2814/2023-11-03-14_19_06-Untitled-–-Figma.jpg">
                </a>
            </div>
            <div class="wsu-card__content">
                <h2 class="wsu-title"><a href="#">Field Crop Management</a></h2>
                <span class="fa-layers fa-fw " role="listbox">
                    <span class="wsu-screen-reader-only">Mark as favorite</span>
                    <span class="wsu-degree-grid__favorite-controls" role="option" aria-selected="false" tabindex="0">
                        <i class="fa-solid fa-heart fa-xl wsu-degree-grid__favorite-icon-solid"></i>
                        <i class="fa-regular fa-heart fa-xl wsu-degree-grid__favorite-icon-regular"></i>
                    </span>
                </span>
            </div>
        </article>
    </div>
</div>
{% endmacro %}