{% macro degreeFinder(bodyClasses) %}
    <div class="wsu-degree-finder {{bodyClasses}}">
        <div class="js-wsu-degree-finder" data-site-url="http://wsuwp6.local/" data-root-element="parent" data-message="Test message"></div>
    </div>
{% endmacro %}