{% macro degreeFinder(bodyClasses) %}
    <div class="wsu-degree-finder {{bodyClasses}}">
        <div class="js-wsu-degree-finder" data-site-url="https://degrees.wsu.edu" data-root-element="parent"></div>
    </div>
{% endmacro %}