{% extends "component.njk" %}

{% block content %}
    {% include 'degree-finder/html.njk' %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../../bundles/standalone/degree-finder/styles-wds.css" media='all'/>
{% endblock %}