{% macro navSiteHoriz( classes='', style='wds' ) %}

<nav class="wsu-nav-site-horiz{% if classes %} {{ classes }}{% endif %} {{ classes }}{% if style %} wsu-nav-site-horiz--style-{{ style }}">
    <ul class="wsu-nav-site-horiz__menu">
        <li><a href="#">Menu Item</a></li>
        <li><a href="#">Menu Item</a></li>
        <li class="wsu-menu--current-item-ancestor" aria-expanded="false" aria-haspopup="true">
            <button class="wsu-menu-action--toggle">Menu Item</button>
            <ul>
                <li><a href="#">Menu Item</a></li>
                <li class="wsu-menu--current-item"><a href="#">Menu Item</a></li>
                <li aria-expanded="false" aria-haspopup="true">
                    <button class="wsu-menu-action--toggle">Menu Item</button>
                    <ul>
                        <li><a href="#">Menu Item</a></li>
                        <li><a href="#">Menu Item</a></li>
                        <li><a href="#">Menu Item</a></li>
                        <li><a href="#">Menu Item</a></li> 
                    </ul>
                </li>
                <li><a href="#">Menu Item</a></li>
                <li><button class="wsu-menu-action--close-menu">Close Menu</button></li>
            </ul>
        </li>
        <li aria-expanded="false" aria-haspopup="true">
            <button class="wsu-menu-action--toggle" aria-label="open submenu">Menu Item</button>
            <ul>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
                <li><button class="wsu-menu-action--close-menu">Close Menu</button></li>
            </ul>
        </li>
        <li class="" aria-expanded="false" aria-haspopup="true">
            <button class="wsu-menu-action--toggle" aria-label="open submenu">Menu Item</button>
            <ul>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
                <li><button class="wsu-menu-action--close-menu">Close Menu</button></li>
            </ul>
        </li>
        <li class="" aria-expanded="false" aria-haspopup="true">
            <button class="wsu-menu-action--toggle" aria-label="open submenu">Menu Item</button>
            <ul>
                <li><a href="#">Menu Item</a></li>
                <li class=""><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
                <li><button class="wsu-menu-action--close-menu">Close Menu</button></li>
            </ul>
        </li>
        <li class="wsu-menu--current-item-ancestor" aria-expanded="false" aria-haspopup="true">
            <button class="wsu-menu-action--toggle" aria-label="open submenu">Menu Item</button>
            <ul>
                <li><a href="#">Menu Item</a></li>
                <li class="wsu-menu--current-item" aria-expanded="false" aria-haspopup="true"><a href="#">Menu Item</a>
                    <button class="wsu-menu-action--toggle" aria-label="open submenu"></button>
                    <ul>
                        <li><a href="#">Menu Item</a></li>
                        <li class=""><a href="#">Menu Item</a></li>
                        <li><a href="#">Menu Item</a></li>
                        <li><a href="#">Menu Item</a></li>
                    </ul>
                </li>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
                <li><button class="wsu-menu-action--close-menu">Close Menu</button></li>
            </ul>
        </li>
        <li aria-expanded="false" aria-haspopup="true">
            <button class="wsu-menu-action--toggle" aria-label="open submenu">Menu Item</button>
            <ul>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
                <li><button class="wsu-menu-action--close-menu">Close Menu</button></li>
            </ul>
        </li>
        {% endif %}
    </ul>
</nav>
{% endmacro %}