{% from "nav-site-horiz/_macro.njk" import navSiteHoriz %}


{% extends "component.njk" %}



{% block content %}
{{ navSiteHoriz() }}
<hr><br>
{{ navSiteHoriz('wsu-color-scheme--dark') }}
{%  endblock %} 