{% extends "component.njk" %}

{% block content %}
<div class="wsu-demo-component">
{% include 'experimental_menu-deep-links/html.njk' %}
</div>
<style>
hr {
    width: 100%;
}
</style>
{%  endblock %}   