@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

@mixin wsu-submenu-toggle() {

    & > li {
        position: relative;
    }

}

@mixin wsu-submenu-toggle--in() {

    & > li {

        & > ul {
            position: absolute;
            top: 100%;
            transition: opacity $wsu-transition-speed--fast $wsu-easing;
        }

        &[aria-expanded="true"] {
            
            & > ul {
                display: block;
                opacity: 1;
                top: 100%;
            }

        }

        &[aria-expanded="false"]:not(.wsu-animating) {

            & > ul {
                display: none;
            }
            
        }

        &[aria-expanded="false"] {

            & > ul {
                opacity: 0;
                top: calc( 100% + #{$wsu-spacing--xmedium} );
            }
            
        }

    } 

}

/* General Styles */
.wsu-submenu-toggle { 

    @include wsu-submenu-toggle();

}

/* Default Behavior */
.wsu-submenu-toggle:not(.wsu-submenu-toggle--in) {


}

.wsu-submenu-toggle--in .wsu-submenu-toggle,
.wsu-submenu-toggle--in.wsu-submenu-toggle {

    @include wsu-submenu-toggle--in();

}