{% from "button/_macro.njk" import button %}

{% macro degreeCta( classes='' ) %}

<div class="wsu-degree-cta">
    
    <a class="wsu-button wsu-degree-cta__cta wsu-degree-cta__cta-rfi" href="https://admission.wsu.edu/connect/request-information/">
        <i class="fa-kit fa-degree-rfi fa-xl"></i>
        Request Information
    </a>

    <a class="wsu-button wsu-degree-cta__cta wsu-degree-cta__cta-apply" href="https://admission.wsu.edu/apply/">
        <i class="fa-kit fa-degree-apply fa-xl"></i>
        Apply
    </a>
    <a class="wsu-button wsu-degree-cta__cta wsu-degree-cta__cta-visit" href="https://admission.wsu.edu/visit/">
        <i class="fa-kit fa-degree-visit fa-xl"></i>
        Visit
    </a>
</div>
{% endmacro %}