@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-search--style-underline {

    .wsu-search {

        &__input {
            background-color: transparent;
            border: none;
            border-radius: 0;
            color: $wsu-color--gray-60;
            padding: 0.5rem;
            line-height: 2.5rem;
            flex-grow: 1;
            font-size: 2rem;
            font-weight: 300;
            min-width: 0;
            box-shadow: none !important;
        }

        &__search-bar {
            display: flex;
            border-bottom: 1px solid #777;
        }

        &__submit {
            background-color: transparent;
            border: none;
            color: inherit;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            font-size: 0;
            margin-left: 1rem;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: none !important;
            cursor: pointer;

            &::after {
                content: '\F140';
                font-family: wsu-icons;
                font-size: 1.5rem;
            }
        }

    }


    &.wsu-has-background--dark {

        color: #fff;

        .wsu-search {

            &__input {
                color: #fff;
            }
    
            &__search-bar {
                border-bottom: 1px solid #fff;
            }
        }
    
    }
    
}