@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-header-global--dark {
    background-color: $wsu-color--gray-80;
    color: #fff;

    .wsu-wordmark {

        &__title {
            color: $wsu-color--gray-10;
        }

    }

    .wsu-button-ui-more-horizontal,
    .wsu-button-ui-more,
    .wsu-button-ui-search,
    .wsu-button-ui-menu,
    .wsu-menu-tertiary > li > a {
        color: $wsu-color--gray-10;
    }

    .wsu-menu-utility-horizontal > li:last-child::before {
        background-color: $wsu-color--gray-60;
    }

    .wsu-header-global__menu-items a {
        color: inherit;
    }

    & ~ .wsu-navigation-site-vertical .wsu-navigation-site-vertical__toggle-button {
        color: #fff;
    }

    @media screen and (max-width: $wsu-breakpoint--phone ) {

        .wsu-header-global__menu-items a {
            color: $wsu-color--text;
        }
    
    }

}

