{% from "experimental_menu-admin/_macro.njk" import menuAdmin %}



{% macro headerGlobal(bodyClasses='', style='' ) %}
<header class="wsu-header-global {{ bodyClasses }}{% if style %} wsu-header-global--style-{{ style }}{% endif %}">
    {% if style == 'system' %}
    <ul class="wsu-header-global__menu">
        <li><a href="#">Washington State University</a></li>
        <li><a href="#">Pullman Campus</a></li>
    </ul>
    {% else %}
    <div class="wsu-header-global__content">
        {% include 'wordmark/html.njk' %}
        <nav class="wsu-header-global__navigation" aria-label="WSU header menu">
            <div class="wsu-header-global__quick-links"> 
                <button class="wsu-button-ui-more-horizontal wsu-menu-expand--toggle" aria-label="Open Header Menu"></button>
                {{ menuAdmin( ' wsu-menu-admin--tablet-dropdown', 'WSU header menu' ) }}
            </div>
            <a href="https://search.wsu.edu" class="wsu-button-ui-search" title="Search WSU"></a>
        </nav>
    </div>
    {% endif %}
</header> 
{% endmacro %} 