@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-header-global {
    font-family: $wsu-font-family;
    border-top: 4px solid $wsu-color--crimson;
    background-color: $wsu-color--gray-0;
    z-index: $wsu-zindex--global-header;
    box-sizing: border-box;
    padding-right: $wsu-spacing--small;
    position: relative;

    &__content {
        display: flex;
        box-sizing: border-box;
        width: auto;
        max-width: 100%;
        height: calc( #{$wsu-height--global-header} - 4px );
    }

    &__navigation {

        display: flex;
        flex: 1;
        justify-content: flex-end;
        @include wsu-font--small();
    }

    &__quick-links {
        display: flex;
        position: relative;
    }

    .wsu-button-ui-search {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 $wsu-spacing--sxxsmall;
        padding: 0;
        width: auto;
        font-size: inherit;

        @include wsu-hover--border-bottom();

        &:focus {
            @include wsu-focus--link();
        }
    }

    .wsu-button-ui-more-horizontal {
        display: none;
        font-size: $wsu-font-size--xmedium;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: $wsu-width--button-small;

        @include wsu-hover--border-bottom();

        &:focus {
            @include wsu-focus--link();
        }
    }

    @media screen and (max-width: $wsu-breakpoint--tablet ) {

        padding-right: $wsu-width--button-small;

        &.wsu-header-global--navless {

            padding-right: 0; 

        } 

        .wsu-button-ui-search {
            width: $wsu-width--button-small;
            margin: 0;
        }


        .wsu-button-ui-more-horizontal {
            display: flex;
        }
    
        .wsu-menu-admin {
            @include wsu-menu-admin--to-dropdown();
            position: absolute;
            top: calc( 100% + 4px );
            right: 0;
            box-shadow: $wsu-dropshadow--low;
            border-radius: 0 0 3px 3px;
            overflow: hidden;
        } 
        
        .wsu-header-global__quick-links {

            &:not([aria-expanded="true"]) {
    
                .wsu-menu-admin {
                    max-height: 0;
                    visibility: hidden; 
                }
            }
    
            &[aria-expanded="true"] {
                .wsu-menu-admin {
                    visibility: visible;
                    transition: max-height $wsu-transition-speed--fast $wsu-easing, visibility 0s $wsu-easing 0s;
                }
            }
            
        }
    
    }

}

@import 'header-global--dark';

@media screen and (max-width: $wsu-breakpoint--desktop ) {

    .wsu-has-navigation--horizontal .wsu-header-global {
        padding-right: 60px;
    }

}









