@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-header-global {
    font-family: $wsu-font-family;
    height: 64px;
    //border-top: 4px solid $wsu-color--crimson;
    border-top: 4px solid $wsu-color--crimson;
    background-color: $wsu-color--gray-0;
    width: auto;
    max-width: 100%;
    display: flex;
    z-index: calc( #{$wsu-zindex--navigation} + 1 );
    box-sizing: border-box; 


    &__navigation {

        display: flex;
        flex: 1;
        justify-content: flex-end;
    
        a {
            @include wsu-font--xsmall;
            font-weight: 500;
            text-transform: uppercase;
        }
    
    }

    .wsu-button-ui-close {
        margin-left: auto;
        margin-right: 0;
        margin-top: $wsu-spacing--xxsmall;
    }

   @media screen and (max-width: $wsu-breakpoint--tablet-large) {

        .wsu-menu-tertiary > li:not(.wsu-header-global__site-nav):not(.wsu-header-global__search):not(.wsu-header-global__navigation-menu) {
            display: none;
        }

        
    }

    @media screen and (min-width: $wsu-breakpoint--tablet-large) {

        .wsu-header-global__site-nav,
        .wsu-header-global__navigation-menu {
            display: none;
        }
        
    }


}

@import 'header-global--dark';
@import 'header-global--navless';







