{% extends "component.njk" %}

{% block content %}
{% include 'header-global/html.njk' %}
{% include 'header-global/html--dark.njk' %}
{% include 'header-global/html--navless.njk' %}
{%  endblock %} 