{% from "header-system/_macro.njk" import headerSystem %}

{% extends "component.njk" %}

{% block content %}
{{ headerSystem() }}

<style>
body {
    background-color: #f1f1f1;
}
.wsu-header-system {
    margin-bottom: 4rem;
}
</style>
{%  endblock %}
