<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <title>Component</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css?ver=0.15.2.1" media='all' />
    <link rel="stylesheet" href="../../bundles/wsu-design-system.css" media='all' />
    <style>
        .wsu-custom-demo {
            margin: 0 80px;
            padding: 80px 0;
            display: flex;
            justify-content: center;
            min-height: 100vh;
            box-sizing: border-box;
            flex-direction: column;
        }
    </style>

    <script src="../../bundles/wsu-design-system.init.js"></script>
</head>

<body>
    <div class="wsu-custom-demo">


        <div class="wsu-demo-component">




            <div class="wsu-tabs">
                <div role="tablist" aria-label="Tabs" class="wsu-tabs__tablist">


                    <button type="button" role="tab" aria-selected="true" aria-controls="tab-1-1" id="tab1-set1" class="wsu-tabs__button wsu-tabs__button-desktop">Washington State</button>



                    <button type="button" role="tab" aria-selected="false" aria-controls="tab-2-1" id="tab2-set1" class="wsu-tabs__button wsu-tabs__button-desktop">Cougs News</button>


                </div>
                <div class="wsu-tabs__panel-wrapper">

                    <div class="wsu-tabs__panel-inner wsu-tabs--open">

                        <h2 id="tab1-set1" class="wsu-accordion__title">
                            <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="true" aria-controls="tab-1-1">Washington State</button>
                        </h2>
                        <div tabindex="0" role="tabpanel" id="tab-1-1" aria-labelledby="tab1-set1" class="wsu-tabs__content show-desktop">
                            <p>Tab 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget convallis nunc, sed hendrerit sapien. Fusce volutpat commodo dui. Proin cursus nunc ut congue posuere. Praesent venenatis mauris sit amet semper venenatis. In at velit sit amet diam ullamcorper viverra at pulvinar ex. Vivamus et quam eu erat pretium suscipit. Fusce eget aliquam augue.</p>
                        </div>

                    </div>

                    <div class="wsu-tabs__panel-inner">

                        <h2 id="tab2-set1" class="wsu-accordion__title">
                            <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="false" aria-controls="tab-2-1">Cougs News</button>
                        </h2>
                        <div tabindex="0" role="tabpanel" id="tab-2-1" aria-labelledby="tab2-set1" class="wsu-tabs__content hidden">
                            <p>Tab 2 Content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget convallis nunc, sed hendrerit sapien. Fusce volutpat commodo dui. Proin cursus nunc ut congue posuere. Praesent venenatis mauris sit amet semper venenatis.</p>
                        </div>

                    </div>

                </div>
            </div>


            <hr />

            <div class="wsu-tabs">
                <div role="tablist" aria-label="Tabs" class="wsu-tabs__tablist">


                    <button type="button" role="tab" aria-selected="true" aria-controls="tab-1-0" id="tab1-set0" class="wsu-tabs__button wsu-tabs__button-desktop">Our Community</button>



                    <button type="button" role="tab" aria-selected="false" aria-controls="tab-2-0" id="tab2-set0" class="wsu-tabs__button wsu-tabs__button-desktop">The WSU Difference</button>



                    <button type="button" role="tab" aria-selected="false" aria-controls="tab-3-0" id="tab3-set0" class="wsu-tabs__button wsu-tabs__button-desktop">Go Cougs!</button>


                </div>
                <div class="wsu-tabs__panel-wrapper">

                    <div class="wsu-tabs__panel-inner wsu-tabs--open">

                        <h2 id="tab1-set0" class="wsu-accordion__title">
                            <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="true" aria-controls="tab-1-0">Our Community</button>
                        </h2>
                        <div tabindex="0" role="tabpanel" id="tab-1-0" aria-labelledby="tab1-set0" class="wsu-tabs__content show-desktop">
                            <p>Tab 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget convallis nunc, sed hendrerit sapien. Fusce volutpat commodo dui. Proin cursus nunc ut congue posuere. Praesent venenatis mauris sit amet semper venenatis. In at velit sit amet diam ullamcorper viverra at pulvinar ex. Vivamus et quam eu erat pretium suscipit. Fusce eget aliquam augue.</p>
                        </div>

                    </div>

                    <div class="wsu-tabs__panel-inner">

                        <h2 id="tab2-set0" class="wsu-accordion__title">
                            <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="false" aria-controls="tab-2-0">The WSU Difference</button>
                        </h2>
                        <div tabindex="0" role="tabpanel" id="tab-2-0" aria-labelledby="tab2-set0" class="wsu-tabs__content hidden">
                            <p>Tab 2 Content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget convallis nunc, sed hendrerit sapien. Fusce volutpat commodo dui. Proin cursus nunc ut congue posuere. Praesent venenatis mauris sit amet semper venenatis.</p>
                        </div>

                    </div>

                    <div class="wsu-tabs__panel-inner">

                        <h2 id="tab3-set0" class="wsu-accordion__title">
                            <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="false" aria-controls="tab-3-0">Go Cougs!</button>
                        </h2>
                        <div tabindex="0" role="tabpanel" id="tab-3-0" aria-labelledby="tab3-set0" class="wsu-tabs__content hidden">
                            <p>Tab 3 Content. Maecenas sed malesuada urna, ac varius felis. Fusce interdum vehicula mauris, at fermentum tellus. Suspendisse eget dui sed diam tincidunt condimentum. Nam non placerat ipsum. Etiam et porta leo, vel malesuada nisi. Integer faucibus est leo, ac aliquam velit tempus a.</p>
                        </div>

                    </div>

                </div>
            </div>


            <hr />




            <div class="wsu-tabs">
                <div role="tablist" aria-label="Tabs" class="wsu-tabs__tablist">


                    <button type="button" role="tab" aria-selected="true" aria-controls="tab-1-2" id="tab1-set2" class="wsu-tabs__button wsu-tabs__button-desktop">Our Stats</button>



                    <button type="button" role="tab" aria-selected="false" aria-controls="tab-2-2" id="tab2-set2" class="wsu-tabs__button wsu-tabs__button-desktop">Coug Connection</button>



                    <button type="button" role="tab" aria-selected="false" aria-controls="tab-3-2" id="tab3-set2" class="wsu-tabs__button wsu-tabs__button-desktop">Public Good</button>



                    <button type="button" role="tab" aria-selected="false" aria-controls="tab-4-2" id="tab4-set2" class="wsu-tabs__button wsu-tabs__button-desktop">The WSU Difference</button>


                </div>
                <div class="wsu-tabs__panel-wrapper">

                    <div class="wsu-tabs__panel-inner wsu-tabs--open">

                        <h2 id="tab1-set2" class="wsu-accordion__title">
                            <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="true" aria-controls="tab-1-2">Our Stats</button>
                        </h2>
                        <div tabindex="0" role="tabpanel" id="tab-1-2" aria-labelledby="tab1-set2" class="wsu-tabs__content show-desktop">
                            <p>Tab 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget convallis nunc, sed hendrerit sapien. Fusce volutpat commodo dui. Proin cursus nunc ut congue posuere. Praesent venenatis mauris sit amet semper venenatis. In at velit sit amet diam ullamcorper viverra at pulvinar ex. Vivamus et quam eu erat pretium suscipit. Fusce eget aliquam augue.</p>
                        </div>

                    </div>

                    <div class="wsu-tabs__panel-inner">

                        <h2 id="tab2-set2" class="wsu-accordion__title">
                            <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="false" aria-controls="tab-2-2">Coug Connection</button>
                        </h2>
                        <div tabindex="0" role="tabpanel" id="tab-2-2" aria-labelledby="tab2-set2" class="wsu-tabs__content hidden">
                            <p>Tab 2 Content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget convallis nunc, sed hendrerit sapien. Fusce volutpat commodo dui. Proin cursus nunc ut congue posuere. Praesent venenatis mauris sit amet semper venenatis.</p>
                        </div>

                    </div>

                    <div class="wsu-tabs__panel-inner">

                        <h2 id="tab3-set2" class="wsu-accordion__title">
                            <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="false" aria-controls="tab-3-2">Public Good</button>
                        </h2>
                        <div tabindex="0" role="tabpanel" id="tab-3-2" aria-labelledby="tab3-set2" class="wsu-tabs__content hidden">
                            <p>Tab 3 Content. Maecenas sed malesuada urna, ac varius felis. Fusce interdum vehicula mauris, at fermentum tellus. Suspendisse eget dui sed diam tincidunt condimentum. Nam non placerat ipsum. Etiam et porta leo, vel malesuada nisi. Integer faucibus est leo, ac aliquam velit tempus a.</p>
                        </div>

                    </div>

                    <div class="wsu-tabs__panel-inner">

                        <h2 id="tab4-set2" class="wsu-accordion__title">
                            <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="false" aria-controls="tab-4-2">The WSU Difference</button>
                        </h2>
                        <div tabindex="0" role="tabpanel" id="tab-4-2" aria-labelledby="tab4-set2" class="wsu-tabs__content hidden">
                            <p>Tab 4 Content. Maecenas sed malesuada urna, ac varius felis. Fusce interdum vehicula mauris, at fermentum tellus. Suspendisse eget dui sed diam tincidunt condimentum. Nam non placerat ipsum. Etiam et porta leo, vel malesuada nisi. Integer faucibus est leo, ac aliquam velit tempus a. Praesent venenatis mauris sit amet semper venenatis.</p>
                        </div>

                    </div>

                </div>
            </div>


            <hr />




            <div class="wsu-tabs">
                <div role="tablist" aria-label="Tabs" class="wsu-tabs__tablist">


                    <button type="button" role="tab" aria-selected="true" aria-controls="tab-1-3" id="tab1-set3" class="wsu-tabs__button wsu-tabs__button-desktop">Our Stats</button>



                    <button type="button" role="tab" aria-selected="false" aria-controls="tab-2-3" id="tab2-set3" class="wsu-tabs__button wsu-tabs__button-desktop">The WSU Difference</button>



                    <button type="button" role="tab" aria-selected="false" aria-controls="tab-3-3" id="tab3-set3" class="wsu-tabs__button wsu-tabs__button-desktop">Go Cougs!</button>



                    <button type="button" role="tab" aria-selected="false" aria-controls="tab-4-3" id="tab4-set3" class="wsu-tabs__button wsu-tabs__button-desktop">Cougs News</button>



                    <button type="button" role="tab" aria-selected="false" aria-controls="tab-5-3" id="tab5-set3" class="wsu-tabs__button wsu-tabs__button-desktop">The WSU Community</button>


                </div>
                <div class="wsu-tabs__panel-wrapper">

                    <div class="wsu-tabs__panel-inner wsu-tabs--open">

                        <h2 id="tab1-set3" class="wsu-accordion__title">
                            <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="true" aria-controls="tab-1-3">Our Stats</button>
                        </h2>
                        <div tabindex="0" role="tabpanel" id="tab-1-3" aria-labelledby="tab1-set3" class="wsu-tabs__content show-desktop">
                            <p>Tab 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget convallis nunc, sed hendrerit sapien. Fusce volutpat commodo dui. Proin cursus nunc ut congue posuere. Praesent venenatis mauris sit amet semper venenatis. In at velit sit amet diam ullamcorper viverra at pulvinar ex. Vivamus et quam eu erat pretium suscipit. Fusce eget aliquam augue.</p>
                        </div>

                    </div>

                    <div class="wsu-tabs__panel-inner">

                        <h2 id="tab2-set3" class="wsu-accordion__title">
                            <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="false" aria-controls="tab-2-3">The WSU Difference</button>
                        </h2>
                        <div tabindex="0" role="tabpanel" id="tab-2-3" aria-labelledby="tab2-set3" class="wsu-tabs__content hidden">
                            <p>Tab 2 Content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget convallis nunc, sed hendrerit sapien. Fusce volutpat commodo dui. Proin cursus nunc ut congue posuere. Praesent venenatis mauris sit amet semper venenatis.</p>
                        </div>

                    </div>

                    <div class="wsu-tabs__panel-inner">

                        <h2 id="tab3-set3" class="wsu-accordion__title">
                            <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="false" aria-controls="tab-3-3">Go Cougs!</button>
                        </h2>
                        <div tabindex="0" role="tabpanel" id="tab-3-3" aria-labelledby="tab3-set3" class="wsu-tabs__content hidden">
                            <p>Tab 3 Content. Maecenas sed malesuada urna, ac varius felis. Fusce interdum vehicula mauris, at fermentum tellus. Suspendisse eget dui sed diam tincidunt condimentum. Nam non placerat ipsum. Etiam et porta leo, vel malesuada nisi. Integer faucibus est leo, ac aliquam velit tempus a.</p>
                        </div>

                    </div>

                    <div class="wsu-tabs__panel-inner">

                        <h2 id="tab4-set3" class="wsu-accordion__title">
                            <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="false" aria-controls="tab-4-3">Cougs News</button>
                        </h2>
                        <div tabindex="0" role="tabpanel" id="tab-4-3" aria-labelledby="tab4-set3" class="wsu-tabs__content hidden">
                            <p>Tab 4 Content. Maecenas sed malesuada urna, ac varius felis. Fusce interdum vehicula mauris, at fermentum tellus. Suspendisse eget dui sed diam tincidunt condimentum. Nam non placerat ipsum. Etiam et porta leo, vel malesuada nisi. Integer faucibus est leo, ac aliquam velit tempus a. Praesent venenatis mauris sit amet semper venenatis.</p>
                        </div>

                    </div>

                    <div class="wsu-tabs__panel-inner">

                        <h2 id="tab5-set3" class="wsu-accordion__title">
                            <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="false" aria-controls="tab-5-3">The WSU Community</button>
                        </h2>
                        <div tabindex="0" role="tabpanel" id="tab-5-3" aria-labelledby="tab5-set3" class="wsu-tabs__content hidden">
                            <p>Tab 5 Content. Maecenas sed malesuada urna, ac varius felis. Fusce interdum vehicula mauris, at fermentum tellus. Suspendisse eget dui sed diam tincidunt condimentum.</p>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <style>
            .wsu-demo-component {
                max-width: 900px;
                margin-left: auto;
                margin-right: auto;
                flex-shrink: 0;
                width: 100%;
            }
        </style>

    </div>

    <script defer src="../../bundles/wsu-design-system.js"></script>
</body>

</html>