<div class="wsu-tabs ">
    <div role="tablist" aria-label="Tabs" class="wsu-tabs__tablist">


        <button type="button" role="tab" aria-selected="true" aria-controls="tab-1-0" id="tab1-set0" class="wsu-tabs__button wsu-tabs__button-desktop">Our Community</button>



        <button type="button" role="tab" aria-selected="false" aria-controls="tab-2-0" id="tab2-set0" class="wsu-tabs__button wsu-tabs__button-desktop">The WSU Difference</button>



        <button type="button" role="tab" aria-selected="false" aria-controls="tab-3-0" id="tab3-set0" class="wsu-tabs__button wsu-tabs__button-desktop">Go Cougs!</button>


    </div>
    <div class="wsu-tabs__panel-wrapper">

        <div class="wsu-tabs__panel-inner wsu-tabs--open">

            <h2 id="tab1-set0" class="wsu-accordion__title">
                <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="true" aria-controls="tab-1-0">Our Community</button>
            </h2>
            <div tabindex="0" role="tabpanel" id="tab-1-0" aria-labelledby="tab1-set0" class="wsu-tabs__content show-desktop">
                <p>Tab 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget convallis nunc, sed hendrerit sapien. Fusce volutpat commodo dui. Proin cursus nunc ut congue posuere. Praesent venenatis mauris sit amet semper venenatis. In at velit sit amet diam ullamcorper viverra at pulvinar ex. Vivamus et quam eu erat pretium suscipit. Fusce eget aliquam augue.</p>
            </div>

        </div>

        <div class="wsu-tabs__panel-inner">

            <h2 id="tab2-set0" class="wsu-accordion__title">
                <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="false" aria-controls="tab-2-0">The WSU Difference</button>
            </h2>
            <div tabindex="0" role="tabpanel" id="tab-2-0" aria-labelledby="tab2-set0" class="wsu-tabs__content hidden">
                <p>Tab 2 Content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget convallis nunc, sed hendrerit sapien. Fusce volutpat commodo dui. Proin cursus nunc ut congue posuere. Praesent venenatis mauris sit amet semper venenatis.</p>
            </div>

        </div>

        <div class="wsu-tabs__panel-inner">

            <h2 id="tab3-set0" class="wsu-accordion__title">
                <button class="wsu-tabs__button wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="false" aria-controls="tab-3-0">Go Cougs!</button>
            </h2>
            <div tabindex="0" role="tabpanel" id="tab-3-0" aria-labelledby="tab3-set0" class="wsu-tabs__content hidden">
                <p>Tab 3 Content. Maecenas sed malesuada urna, ac varius felis. Fusce interdum vehicula mauris, at fermentum tellus. Suspendisse eget dui sed diam tincidunt condimentum. Nam non placerat ipsum. Etiam et porta leo, vel malesuada nisi. Integer faucibus est leo, ac aliquam velit tempus a.</p>
            </div>

        </div>

    </div>
</div>