{% extends "component.njk" %}

{% block content %}
<div class="wsu-demo--overlay">
{% include 'overlay/html.njk' %}
</div>
<hr />
<style>
.wsu-demo--overlay {
    position: relative;
    max-width: 800px;
    height: 400px;
}
</style>
{%  endblock %}