@import '../variables';



@media screen and (min-width: $wsu-breakpoint--ultrawide) {

    .wsu-breakpoint-hide-above--desktop {
        display: none !important;
    }

}

@media screen and (min-width: $wsu-breakpoint--desktop) {

    .wsu-breakpoint-hide-above--desktop {
        display: none !important;
    }

}

@media screen and (min-width: $wsu-breakpoint--tablet-large) {

    .wsu-breakpoint-hide-above--tablet-large {
        display: none !important;
    }

}

@media screen and (min-width: $wsu-breakpoint--tablet) {

    .wsu-breakpoint-hide-above--tablet{
        display: none !important;
    }

}

@media screen and (min-width: $wsu-breakpoint--phone) {

    .wsu-breakpoint-hide-above--phone {
        display: none !important;
    }

}

@media screen and (min-width: $wsu-breakpoint--phone-small) {

    .wsu-breakpoint-hide-above--phone-small {
        display: none !important;
    }

}

/* Hide Below */


@media screen and (max-width: $wsu-breakpoint--ultrawide) {

    .wsu-breakpoint-hide-below--desktop {
        display: none !important;
    }

}

@media screen and (max-width: $wsu-breakpoint--desktop) {

    .wsu-breakpoint-hide-below--desktop {
        display: none !important;
    }

}

@media screen and (max-width: $wsu-breakpoint--tablet-large) {

    .wsu-breakpoint-hide-below--tablet-large {
        display: none !important;
    }

}

@media screen and (max-width: $wsu-breakpoint--tablet) {

    .wsu-breakpoint-hide-below--tablet{
        display: none !important;
    }

}

@media screen and (max-width: $wsu-breakpoint--phone) {

    .wsu-breakpoint-hide-below--phone {
        display: none !important;
    }

}

@media screen and (max-width: $wsu-breakpoint--phone-small) {

    .wsu-breakpoint-hide-below--phone-small {
        display: none !important;
    }

}
