<div class="wsu-button-menu-animated">
    <span class="wsu-button-menu-animated__icon"></span>
    <span class="wsu-button-menu-animated__text">Menu</span>
    <button  class="wsu-button-menu-animated__button" aria-label="Open Site Navigation"></button>
</div>