{% extends "component.njk" %}

{% block content %}
<div class="wsu-demo-component">
{% include 'buttons/button-close.njk' %}
</div>
<div class="wsu-demo-component">
{% include 'buttons/button-menu-animated.njk' %}
</div>
<div class="wsu-demo-component">
{% include 'buttons/button-menu.njk' %}
</div>
<style>
</style>
{%  endblock %} 