/*
- Colors
---- Crimsons
---- WSU Grays
- Dropshadows
- Easing
- Font Family
- Font Size
- Font Weights
- Media Sizes
- Spacing
- Transition Speed
- Z-Index
*/
/* ========================================================
== Border Radius ==
==========================================================*/
/* ========================================================
== Breakpoints ==
==========================================================*/
/* ========================================================
== Colors ==
==========================================================*/
/* WSU Accent colors */
/* WSU Crimson */
/* WSU Grays */
/* ========================================================
== Dropshadows ==
==========================================================*/
/* ========================================================
== Easing ==
==========================================================*/
/* ========================================================
== Font Family ==
==========================================================*/
/* ========================================================
== Font Sizes ==
==========================================================*/
/* ========================================================
== Font Weights ==
==========================================================*/
/* ========================================================
== Image Sizes ==
==========================================================*/
/* ========================================================
== Line Heights ==
==========================================================*/
/* ========================================================
== Ratios height/width ==
==========================================================*/
/* ========================================================
== Spacing ==
==========================================================*/
/* ========================================================
== Transition Speed ==
==========================================================*/
/* ========================================================
== Widths ==
==========================================================*/
/* ========================================================
== Z-Index ==

Bootstrap z-index for reference
$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-offcanvas:                  1050;
$zindex-modal:                      1060;
$zindex-popover:                    1070;
$zindex-tooltip:                    1080;

==========================================================*/
/*
- Colors
---- Crimsons
---- WSU Grays
- Dropshadows
- Easing
- Font Family
- Font Size
- Font Weights
- Media Sizes
- Spacing
- Transition Speed
- Z-Index
*/
/* ========================================================
== Border Radius ==
==========================================================*/
/* ========================================================
== Breakpoints ==
==========================================================*/
/* ========================================================
== Colors ==
==========================================================*/
/* WSU Accent colors */
/* WSU Crimson */
/* WSU Grays */
/* ========================================================
== Dropshadows ==
==========================================================*/
/* ========================================================
== Easing ==
==========================================================*/
/* ========================================================
== Font Family ==
==========================================================*/
/* ========================================================
== Font Sizes ==
==========================================================*/
/* ========================================================
== Font Weights ==
==========================================================*/
/* ========================================================
== Image Sizes ==
==========================================================*/
/* ========================================================
== Line Heights ==
==========================================================*/
/* ========================================================
== Ratios height/width ==
==========================================================*/
/* ========================================================
== Spacing ==
==========================================================*/
/* ========================================================
== Transition Speed ==
==========================================================*/
/* ========================================================
== Widths ==
==========================================================*/
/* ========================================================
== Z-Index ==

Bootstrap z-index for reference
$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-offcanvas:                  1050;
$zindex-modal:                      1060;
$zindex-popover:                    1070;
$zindex-tooltip:                    1080;

==========================================================*/
/* =====================

- Fonts
- Modals
- Menu Items
- Transitions
- Buttons

===================== */
/* ========================================================
== Fonts ==
==========================================================*/
/* ========================================================
== Menu Items ==
==========================================================*/
/* ========================================================
== Modals ==
==========================================================*/
/* ========================================================
== Transitions ==
==========================================================*/
/* ========================================================
== Buttons ==
==========================================================*/
/* ========================================================
== Buttons ==
==========================================================*/
/*=============================================
=            Events            =
=============================================*/
.wsuwp-content-syndicate-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.wsuwp-content-syndicate-event {
  padding: 0;
  margin-bottom: 1.5rem; }
  .wsuwp-content-syndicate-event:last-child {
    margin-bottom: 2.25rem; }
  .wsuwp-content-syndicate-event .content-item-event-date {
    font-size: 1rem;
    color: #f7f7f7;
    background-color: #A60F2D;
    padding: 0.15em 0.75em; }
  .wsuwp-content-syndicate-event .content-item-event-title {
    display: block;
    margin: .15em 0; }
  .wsuwp-content-syndicate-event .content-item-event-title a {
    text-decoration: none;
    color: #404040;
    font-size: 1.25rem;
    font-weight: 600; }
    .wsuwp-content-syndicate-event .content-item-event-title a:hover {
      text-decoration: underline;
      color: #CA1237; }
  .wsuwp-content-syndicate-event .content-item-event-meta {
    display: block;
    font-size: 0.875rem; }
  .wsuwp-content-syndicate-event .content-item-event-venue:not(:empty) + .content-item-event-city:not(:empty)::before {
    content: '\007C';
    margin: 0 .3em; }
  .wsuwp-content-syndicate-event .content-item-event-excerpt {
    font-size: 1rem;
    margin-top: 0.6875rem; }

/*=====  End of Events  ======*/
