<ul class="wsu-menu-utility wsu-menu-utility--horizontal">
    <li>
        <a href="#">Menu Item</a>
        <ul>
            <li>
                <button>Button Item</button>
            </li>
            <li>
                <a href="#">Menu Item</a>
            </li>
            <li>
                <a href="#">Menu Item</a>
                <ul>
                    <li>
                        <button>Button Item</button>
                    </li>
                    <li>
                        <a href="#">Menu Item</a>
                    </li>
                    <li>
                        <a href="#">Menu Item</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Menu Item</a>
        <ul>
            <li>
                <button>Button Item</button>
            </li>
            <li>
                <a href="#">long Item Lorem ipsum dolor sit amet</a>
            </li>
            <li>
                <a href="#">Menu Item</a>
                <ul>
                    <li>
                        <button>Button Item</button>
                    </li>
                    <li>
                        <a href="#">Menu Item</a>
                    </li>
                    <li>
                        <a href="#">Menu Item</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <button>Button Item</button>
        <ul>
            <li>
                <button>Button Item</button>
            </li>
            <li>
                <a href="#">Menu Item</a>
            </li>
            <li>
                <a href="#">Menu Item</a>
                <ul>
                    <li>
                        <button>Button Item</button>
                    </li>
                    <li>
                        <a href="#">Menu Item</a>
                    </li>
                    <li>
                        <a href="#">Menu Item</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Menu Item</a>
        <ul>
            <li>
                <button>Button Item</button>
            </li>
            <li>
                <a href="#">Menu Item</a>
            </li>
            <li>
                <a href="#">Menu Item</a>
                <ul>
                    <li>
                        <button>Button Item</button>
                    </li>
                    <li>
                        <a href="#">Menu Item</a>
                    </li>
                    <li>
                        <a href="#">Menu Item</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Menu Item</a>
        <ul>
            <li>
                <button>Button Item</button>
            </li>
            <li>
                <a href="#">Menu Item</a>
            </li>
            <li>
                <a href="#">Menu Item</a>
                <ul>
                    <li>
                        <button>Button Item</button>
                    </li>
                    <li>
                        <a href="#">long Item Lorem ipsum dolor sit amet</a>
                    </li>
                    <li>
                        <a href="#">Menu Item</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>