<ul class="wsu-submenu-toggle wsu-submenu-toggle--in">
    <li aria-expanded="false" aria-haspopup="true">
        <button class="wsu-submenu--toggle">Button Menu Item</button>
        <ul>
            <li>
                <a href="#">Menu Item</a>
            </li>
            <li>
                <a href="#">Menu Item</a>
            </li>
            <li>
                <a href="#">Menu Item</a>
            </li>
            <li>
                <a href="#">Menu Item</a>
            </li>
        </ul>
    </li>
</ul>