@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

p {
    margin-top: 0;
    margin-bottom: $wsu-spacing--component;
    max-width: 900px;
    font-size: $wsu-font-size--xmedium;
    position: relative;

    & + p {
        margin-top: -0.5rem;
    }

    
}
.wsu-paragraph--full p,
p.wsu-paragraph--full {
    max-width: none;
}