@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-animate--action-fade {
    transition: opacity ease-in 1s;

    &.wsu-animate--timing-early,
    &:not([class*='--timing-']),
    &.wsu-animate--timing-late {
        opacity: 0;
    }

    &.wsu-animate--timing-late.wsu-animate--do-late,
    &.wsu-animate--timing-early.wsu-animate--do-early,
    &:not([class*='--timing-']).wsu-animate--do-default {
        opacity: 1;
    }

    @media (prefers-reduced-motion: reduce) {
        opacity: 1 !important;
    }

}