@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-animate--action-slide-bottom {
    transition: transform $wsu-easing 1s;

    &.wsu-animate--timing-early,
    &:not([class*='--timing-']),
    &.wsu-animate--timing-late {
        transform: translateY(300px);
    }

    &.wsu-animate--timing-late.wsu-animate--do-late,
    &.wsu-animate--timing-early.wsu-animate--do-early,
    &:not([class*='--timing-']).wsu-animate--do-default {
        transform: translateY(0);
    }

    @media (prefers-reduced-motion: reduce) {
        transform: translateY(0) !important;
    }

}