@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';
@import '../../../_assets/scss/placeholders';


.wsu-table:not([class*="-table--style-"]) {
    border-top: 4px solid $wsu-color--crimson;
    border-collapse: collapse;
    margin-bottom: $wsu-spacing--component;

    th,
    td {
        padding: $wsu-spacing--xxsmall;
        border-top: 1px solid $wsu-color--gray-20;
        border-collapse: collapse;
    }

    th {   
        font-weight: 600;
    }
}

@import './style-stripped';
@import './style-lines';
@import './style-stats';
@import './style-none';