{% extends "component-wordpress.njk" %}

{% block content %}
<article class="wsu-article">

<figure class="wp-block-table"><table><tbody><tr><td>Heading 1</td><td>Heading 2</td><td>Heading 3</td><td>Heading 4</td><td>Heading 5</td></tr><tr><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td></tr><tr><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td></tr><tr><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td></tr><tr><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td></tr></tbody></table><figcaption>Nunc porttitor ligula tortor, ut feugiat felis tincidunt ut. Integer consequat cursus ex, non ultrices dui. Cras tempus eleifend maximus. Nunc hendrerit neque eget diam vulputate tempus.</figcaption></figure>



<hr class="wp-block-separator">

<figure class="wp-block-table wsu-table--style-stats"><table><tbody><tr><td>Heading 1</td><td>Heading 2</td><td>Heading 3</td><td>Heading 4</td><td>Heading 5</td></tr><tr><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td></tr><tr><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td></tr><tr><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td></tr><tr><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td><td>Data Cell</td></tr></tbody></table><figcaption>Nunc porttitor ligula tortor, ut feugiat felis tincidunt ut. Integer consequat cursus ex, non ultrices dui. Cras tempus eleifend maximus. Nunc hendrerit neque eget diam vulputate tempus.</figcaption></figure>

<hr />


<h2 class="tablepress-table-name tablepress-table-name-id-1">Test Table</h2>

<div id="tablepress-1_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="tablepress-1_length"><label>Show <select name="tablepress-1_length" aria-controls="tablepress-1" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="tablepress-1_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="tablepress-1"></label></div><table id="tablepress-1" class="tablepress tablepress-id-1 dataTable no-footer" role="grid" aria-describedby="tablepress-1_info">
<thead>
<tr class="row-1 odd" role="row"><th class="column-1 sorting" tabindex="0" aria-controls="tablepress-1" rowspan="1" colspan="1" aria-label="Heading 1: activate to sort column ascending" style="width: 180px;">Heading 1</th><th class="column-2 sorting" tabindex="0" aria-controls="tablepress-1" rowspan="1" colspan="1" aria-label="Heading 2: activate to sort column ascending" style="width: 186px;">Heading 2</th><th class="column-3 sorting" tabindex="0" aria-controls="tablepress-1" rowspan="1" colspan="1" aria-label="Heading 3: activate to sort column ascending" style="width: 187px;">Heading 3</th><th class="column-4 sorting" tabindex="0" aria-controls="tablepress-1" rowspan="1" colspan="1" aria-label="Heading 4: activate to sort column ascending" style="width: 189px;">Heading 4</th><th class="column-5 sorting" tabindex="0" aria-controls="tablepress-1" rowspan="1" colspan="1" aria-label="Heading 5: activate to sort column ascending" style="width: 186px;">Heading 5</th></tr>
</thead>
<tbody class="row-hover">




<tr class="row-2 even" role="row">
	<td class="column-1">Data Cell</td><td class="column-2">Data Cell</td><td class="column-3">Data Cell</td><td class="column-4">Data Cell</td><td class="column-5">Data Cell</td>
</tr><tr class="row-3 odd" role="row">
	<td class="column-1">Data Cell</td><td class="column-2">Data Cell</td><td class="column-3">Data Cell</td><td class="column-4">Data Cell</td><td class="column-5">Data Cell</td>
</tr><tr class="row-4 even" role="row">
	<td class="column-1">Data Cell</td><td class="column-2">Data Cell</td><td class="column-3">Data Cell</td><td class="column-4">Data Cell</td><td class="column-5">Data Cell</td>
</tr><tr class="row-5 odd" role="row">
	<td class="column-1">Data Cell</td><td class="column-2">Data Cell</td><td class="column-3">Data Cell</td><td class="column-4">Data Cell</td><td class="column-5">Data Cell</td>
</tr></tbody>
</table><div class="dataTables_info" id="tablepress-1_info" role="status" aria-live="polite">Showing 1 to 4 of 4 entries</div><div class="dataTables_paginate paging_simple" id="tablepress-1_paginate"><a class="paginate_button previous disabled" aria-controls="tablepress-1" data-dt-idx="0" tabindex="-1" id="tablepress-1_previous">Previous</a><a class="paginate_button next disabled" aria-controls="tablepress-1" data-dt-idx="1" tabindex="-1" id="tablepress-1_next">Next</a></div></div>
<span class="tablepress-table-description tablepress-table-description-id-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor ligula tortor, ut feugiat felis tincidunt ut. Integer consequat cursus ex, non ultrices dui. Cras tempus eleifend maximus. Nunc hendrerit neque eget diam vulputate tempus.</span>

{%  endblock %}