{% extends "component.njk" %}

{% block content %}
{% include 'table/html.njk' %}
<hr />
<table class="wsu-table--style-minimal">
    <tr>
        <th>Table Heading 1</th>
        <th>Table Heading 2</th>
        <th>Table Heading 3</th>
    </tr>
    <tr>
        <td>Data Cell 1</td>
        <td>Data Cell 2</td>
        <td>Data Cell 3</td>
    </tr>
    <tr>
        <td>Data Cell 4</td>
        <td>Data Cell 5</td>
        <td>Data Cell 6</td>
    </tr>
    <tr>
        <td>Data Cell 7</td>
        <td>Data Cell 8</td>
        <td>Data Cell 9</td>
    </tr>
    <tr>
        <td>Data Cell 10</td>
        <td>Data Cell 11</td>
        <td>Data Cell 12</td> 
    </tr>
    <tr>
        <td>Data Cell 13</td>
        <td>Data Cell 14</td>
        <td>Data Cell 15</td>
    </tr>
    <tr>
        <td>Data Cell 16</td>
        <td>Data Cell 17</td>
        <td>Data Cell 18</td>
    </tr>
</table>
<hr />
<table class="wsu-table--style-none">
    <tr>
        <th>Table Heading 1</th>
        <th>Table Heading 2</th>
        <th>Table Heading 3</th>
    </tr>
    <tr>
        <td>Data Cell 1</td>
        <td>Data Cell 2</td>
        <td>Data Cell 3</td>
    </tr>
    <tr>
        <td>Data Cell 4</td>
        <td>Data Cell 5</td>
        <td>Data Cell 6</td>
    </tr>
    <tr>
        <td>Data Cell 7</td>
        <td>Data Cell 8</td>
        <td>Data Cell 9</td>
    </tr>
    <tr>
        <td>Data Cell 10</td>
        <td>Data Cell 11</td>
        <td>Data Cell 12</td> 
    </tr>
    <tr>
        <td>Data Cell 13</td>
        <td>Data Cell 14</td>
        <td>Data Cell 15</td>
    </tr>
    <tr>
        <td>Data Cell 16</td>
        <td>Data Cell 17</td>
        <td>Data Cell 18</td>
    </tr>
</table>
{%  endblock %}