{% extends "component.njk" %}

{% block content %}
{% include 'header-global/header-global.njk' %}
{% include 'header-global/header-global--dark.njk' %}
{% include 'header-global/header-global--navless.njk' %}
{%  endblock %} 