.wsu-list-checkmark {
    li {
        
        list-style-type: none;
        position: relative;

        &::before {
            font-family: 'wsu-icons';
            content:'\F110';
            color: $wsu-color--crimson-light;
            font-weight: 400;
            font-size: 1.2em;
            line-height: 1em;
            position: absolute;
            left: -1.2em;
        }
    }
}