@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

ol,
ul {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: $wsu-spacing--component;
	padding-left: $wsu-spacing--em-medium; 
	margin-right: 0;
    font-size: $wsu-font-size--xmedium;
    //max-width: calc( #{$wsu-width--copy} - #{$wsu-spacing--em-xxmedium});

    li {
        padding-top: 0;
        margin-bottom: $wsu-spacing--em-xsmall;
        margin-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        box-sizing: border-box;

        &::marker {
            color: $wsu-color--crimson-light;
        }
    }
	
    ol,
	ul {
		margin-bottom: $wsu-spacing--em-small;
		margin-top: $wsu-spacing--em-xsmall;
        padding-left: $wsu-spacing--em-xxmedium; 
	}

}

ul {

    li li li {
        list-style-type: circle;
    }

}

ol {

    li {
        list-style-type: decimal;

        li {
            list-style-type: lower-alpha;
        }

    }

}

p ~ ul li,
p ~ ol li {
    max-width: $wsu-width--copy;
}