{% extends "component.njk" %}

{% block content %}
<div class="wsu-demo-component demo__wsu-menu-toggle">
{% include 'list/ul-list.njk' %}
<hr />
{% include 'list/ol-list.njk' %}
<hr />
{% include 'list/list-arrow.njk' %}
<hr />
{% include 'list/list-checkmark.njk' %}
<hr />
{% include 'list/list-checkbox.njk' %}
</div>
<style>
</style>
{%  endblock %}  