.wsu-callout--style-basic {
    background-color: white;
    padding: $wsu-spacing--medium $wsu-spacing--xmedium 1px;
    box-sizing: border-box;
    margin-bottom: $wsu-spacing--component;
    position: relative;
}