{% extends "component.njk" %}

{% block content %}
<div class="wsu-demo-component" >
    {% include 'experimental_menu-admin/html.njk' %}
</div>
<hr />
<div class="wsu-demo-component" >
    {% include 'experimental_menu-admin/html--mobile-dropdown.njk' %}
</div>
<style>
</style>
{%  endblock %} 