<div class="wsu-modal--search">

    <div class="wsu-search-bar">
        <h2 class="wsu-search-bar__title" id="site-search">Search WSU</h2>
        <div class="wsu-search-bar__wrapper">
            <div class="wsu-search-bar--single" aria-hidden="false">
                <div id="single-box" class="gcse-searchbox" data-gname="single-site" data-as_sitesearch="brand.wsu.edu"></div>
            </div>
            <div class="wsu-search-bar--all" aria-hidden="true">
                <div class="gcse-searchbox" data-gname="wsu-site" data-as_sitesearch="wsu.edu"></div>
            </div>
        </div>
        <fieldset class="wsu-search-bar__scope" role="radiogroup" aria-labelledby="site-search">
            <div class="wsu-search-bar__scope-option" role="radio" aria-checked="true" id="single">
                <label class="wsu-search-bar__scope-label">
                    <input type="radio" name="search-type" id="single" value="single" class="wsu-search-bar__radio">This Site
                </label>
            </div>
            <div class="wsu-search-bar__scope-option" role="radio" aria-checked="false" id="all">
                <label class="wsu-search-bar__scope-label">
                    <input type="radio" name="search-type" id="all" value="all" class="wsu-search-bar__radio">All WSU
                </label>
            </div>
        </fieldset>

        <div class="wsu-search-results">
            <div class="wsu-search-results--single" aria-hidden="false">
                <div class="gcse-searchresults" data-gname="single-site"></div>
            </div>
            <div class="wsu-search-results--all" aria-hidden="true">
                <div class="gcse-searchresults" data-gname="wsu-site"></div>
            </div>
        </div>

    </div>


    <div class="wsu-quick-links">
        <h3 class="wsu-quick-links__title" id="quick-links">Quick Links</h3>
        <div class="wsu-quick-links__wrapper">

            <a class="wsu-quick-links__link">
                <img src="https://s3.wp.wsu.edu/uploads/sites/2797/2022/04/baseballs.jpg" alt="" class="wsu-quick-links__icon" />
                <h5 class="wsu-quick-links__name">Link Name</h5>
            </a>

            <a class="wsu-quick-links__link">
                <img src="https://s3.wp.wsu.edu/uploads/sites/2797/2022/03/space.jpg" alt="" class="wsu-quick-links__icon" />
                <h5 class="wsu-quick-links__name">Cougs in Space</h5>
            </a>

            <a class="wsu-quick-links__link">
                <img src="https://s3.wp.wsu.edu/uploads/sites/2797/2022/04/honey-jar.jpg" alt="" class="wsu-quick-links__icon" />
                <h5 class="wsu-quick-links__name">WSU News</h5>
            </a>

            <a class="wsu-quick-links__link">
                <img src="https://s3.wp.wsu.edu/uploads/sites/2797/2022/03/mystery-of-pi-charles-moore.jpg" alt="" class="wsu-quick-links__icon" />
                <h5 class="wsu-quick-links__name">Join the Community</h5>
            </a>

            <a class="wsu-quick-links__link">
                <img src="https://s3.wp.wsu.edu/uploads/sites/2797/2022/03/greenlandphoto1.jpg" alt="" class="wsu-quick-links__icon" />
                <h5 class="wsu-quick-links__name">Canvas</h5>
            </a>

            <a class="wsu-quick-links__link">
                <img src="https://s3.wp.wsu.edu/uploads/sites/2797/2022/04/baseballs.jpg" alt="" class="wsu-quick-links__icon" />
                <h5 class="wsu-quick-links__name">Measuring Flying Baseballs</h5>
            </a>

        </div>
    </div>

</div>