@import '../variables';

@mixin wsu-button( $padding: 1em calc( #{$wsu-spacing--xxmedium} + 0.25rem ), $border-radius: $wsu-border-radius--large  ) {
    font-family: $wsu-font-family;
    background-color: $wsu-color--crimson;
    color: #fff;
    border-radius: $border-radius;
    border: none;
    padding: $padding;
    font-size: $wsu-font-size--medium;
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
    transition: box-shadow $wsu-transition-speed--fast $wsu-easing;
    text-decoration: none;

    &:hover,
    &:focus {
        box-shadow: $wsu-dropshadow-rise--medium;
        background-color: $wsu-color--crimson-light;
    }
}