{% macro imageFrame(  classes='', link='', imageSrc='https://s3.wp.wsu.edu/uploads/sites/2438/2020/08/Coug-Logo-on-Chinook-crop_8520.jpg' ) %}
<div class="wsu-image-frame{{ classes }}">
    {% if link %}<a href="#">{% endif %}
    <img src="{{ imageSrc }}" />
    {% if link %}</a>{% endif %}
</div>
{% endmacro %}