@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-sticky-nav--style-crimson {

    .wsu-sticky-box__content {
        padding: 0;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: $wsu-spacing--large;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            height: 20px;
            width: 200vw;
            left: -100vw;
            display: block;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
            background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=0 );
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 );

        }
    }

    .wsu-anchor-menu {
        flex-grow: 1;
        position: relative;
        background-color: #fff;
    }

    .wsu-sticky-nav__top-btn {
        text-transform: uppercase;
        @include wsu-font--xxsmall();
        text-decoration: none;
        font-weight: 500;
        display: none;
        text-align: center;
        flex-direction: column;
        color: #fff;
        background-color: $wsu-color--crimson;
        padding: 0 $wsu-spacing--xsmall;
        justify-content: center;
        position: relative;

        &::before {
            content: "\F10A";
            display: block;
            font-family: 'wsu-icons';
            font-size: $wsu-font-size--medium;
        }
    }

    .wsu-sticky-box--stuck {

        .wsu-sticky-box__content {

            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 200vw;
                display: block;
                background-color: $wsu-color--crimson;
            }
    
            &::before {
                left: -100vw;
            }

        }

        .wsu-sticky-nav__top-btn {
            display: flex;
        }

        .wsu-menu--style-inline-split li {
            &:last-child a::after {
                /*display: none; */
            }
    
            &:first-child a::before {
                display: none;
            }
        }

    }
        
}