{% from "sticky-nav/_macro.njk" import stickyNavStart %}
{% from "sticky-nav/_macro.njk" import stickyNavEnd %}


{{ stickyNavStart() }}
    <li><a href="#anchor1">Anchor 1</a></li>
    <li><a href="#anchor2">Anchor 2</a></li>
    <li><a href="#anchor3">Anchor 3</a></li>
{{ stickyNavEnd() }}