
@import './navigation_states';
@import '../../../../_assets/scss/variables';
@import '../../../../_assets/scss/mixins';
@import './mixins';


@media screen and (max-width: $wsu-breakpoint--desktop) and (min-width: $wsu-breakpoint--tablet-large) {

    .wsu-navigation-site {

        @include wsu-site-navigation-table();

        .wsu-navigation-site__panel {

            @include wsu-site-navigation-panel();

        }

        &:not(.wsu-navigation-site--openned) {
        
            @include wsu-navigation-site--closed;
     
         }
     
         & ~ .wsu-wrapper-site {
             margin-left: $wsu-width--navigation-closed;
             transition-property: left;
             left: 0;
         }
     
         &.wsu-navigation-site--openned {  
             
            & ~ .wsu-wrapper-site {
                position: relative;
                left: calc( #{$wsu-width--navigation-open} - #{ $wsu-width--navigation-closed } );
            }

            .wsu-navigation-site__overlay {
                opacity: 1;
                visibility: visible;
            }
         }

    }
    
}

