@import '../../_assets/scss/variables';
@import '../../_assets/scss/mixins';


.wsu-align {

    &--right {
        margin-left: auto;
    }

    &--left {
        margin-right: auto;
    }

    &--center {
        margin-left: auto;
        margin-right: auto;
    }

    
}

.wsu-align-item {
    &--flex-bottom {
        margin-top: auto !important;
    }
}

.wsu-text-align {

    &--right {
        text-align: right;
    }

    &--left {
        text-align: left;
    }

    &--center {
        text-align: center;
    }
}


.wsu-item-layout {

    &--flex-column {
        display: flex;
        flex-direction: column;
    }
}




@each $colorName, $color in $wsu-color-map{

    .wsu-color-background--#{$colorName} {
        background-color: $color !important;
        color: map-get( $wsu-color-background-text-map, $colorName );
    }

}

@each $colorName, $color in $wsu-color-map{

    .wsu-color-text--#{$colorName} {
        color: $color !important;
    }

}

@each $borderColorName, $borderColor in $wsu-color-border-map {

    .wsu-border-top--color-#{$borderColorName} {
        border-top: 4px solid $borderColor;
    }

    .wsu-border-bottom--color-#{$borderColorName} {
        border-bottom: 4px solid $borderColor;
    }

}

.wsu-border-bottom--style {

    &-thick {
        border-bottom-width: 8px !important; 
    }

    &-medium {
        border-bottom-width: 4px !important;
    }

    &-thin {
        border-bottom-width: 2px !important;
    }
}

.wsu-border-top--style {

    &-thick {
        border-top-width: 8px !important;
    }

    &-medium {
        border-top-width: 5px !important;
    }

    &-thin {
        border-top-width: 2px !important;
    }
}


@each $fontKey, $fontSize in $wsu-font-size-map{

    .wsu-font-size--#{$fontKey} {
        font-size: $fontSize !important;
        line-height: map-get( $wsu-line-height-map, $fontKey ) !important;
    }

}

.wsu-screen-reader-only,
.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.wsu-shape--em-notch-small {
    -webkit-clip-path: polygon(100% 0,100% calc(100% - 40px),calc(100% - 40px) 100%,0 100%,0 0);
    clip-path: polygon(100% 0,100% calc(100% - 40px),calc(100% - 40px) 100%,0 100%,0 0);
}

.wsu-shape--em-notch-medium {
    -webkit-clip-path: polygon(100% 0,100% calc(100% - 70px),calc(100% - 70px) 100%,0 100%,0 0);
    clip-path: polygon(100% 0,100% calc(100% - 70px),calc(100% - 70px) 100%,0 100%,0 0);
}

.wsu-shape--em-notch-large {
    -webkit-clip-path: polygon(100% 0,100% calc(100% - 100px),calc(100% - 100px) 100%,0 100%,0 0);
    clip-path: polygon(100% 0,100% calc(100% - 100px),calc(100% - 100px) 100%,0 100%,0 0);
}

.wsu-position {

    &--pull-up-large {
        margin-top: -90px;
    }

    &--pull-up-medium {
        margin-top: -70px;
    }

    &--pull-up-small {
        margin-top: -40px;
    }

    &--pull-down-large {
        margin-top: -90px !important;
        z-index: 1;
    }

    &--pull-down-medium {
        margin-top: -70px !important;
        z-index: 1;
    }

    &--pull-down-small {
        margin-bottom: -40px !important;
        z-index: 1;
    }
}


@each $spaceName, $space in $wsu-spacing-map{

    .wsu-spacing-margin-top-#{$spaceName},
    .wsu-spacing-before--#{$spaceName} {
        margin-top: $space !important;
    }

    .wsu-spacing-margin-bottom-#{$spaceName},
    .wsu-spacing-after--#{$spaceName} {
        margin-bottom: $space !important;
    }

    .wsu-spacing-margin-left-#{$spaceName} {
        margin-left: $space !important;
    }

    .wsu-spacing-margin-right-#{$spaceName} {
        margin-right: $space !important;
    }

    .wsu-spacing-padding-left-#{$spaceName} {
        margin-top: $space !important;
    }

    .wsu-spacing-padding-right-#{$spaceName} {
        margin-top: $space !important;
    }

    .wsu-spacing-padding-top-#{$spaceName},
    .wsu-spacing-top--#{$spaceName} {
        padding-top: $space !important;
    }

    .wsu-spacing-padding-bottom-#{$spaceName},
    .wsu-spacing-bottom--#{$spaceName} {
        padding-bottom: $space !important;
    }

}

/** ================ .wsu-width-- ====================== **/
.wsu-wrapper-site {

    .wsu-width--full {
        margin-left: calc( (100vw - 100% ) / -2 );
        margin-right: calc( (100vw - 100% ) / -2 );
        width: auto;
    }

    .wsu-width--full-content {
        margin-left: calc( (100vw - 100% ) / -2 ) !important;
        margin-right: calc( (100vw - 100% ) / -2 ) !important;
        padding-left: calc( (100vw - 100% ) / 2 ) !important;
        padding-right: calc( (100vw - 100% ) / 2 ) !important; 
    }

}

.wsu-width--content {
    flex-grow: 1;
    margin: 0 auto;
    padding: 0 $wsu-spacing--xlarge 0;
    box-sizing: border-box;
    width: 100%;
    max-width: $wsu-width--content;
}


@media screen and (min-width: $wsu-breakpoint--desktop ) {

    .wsu-navigation-site-vertical ~ .wsu-wrapper-site .wsu-width--full {
        margin-left: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-open} ) / -2 );
        margin-right: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-open} ) / -2 );
    }

    .wsu-navigation-site-vertical--is-closed .wsu-navigation-site-vertical ~ .wsu-wrapper-site .wsu-width--full {
        margin-left: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-closed} ) / -2 );
        margin-right: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-closed} ) / -2 );
    }
        
}

@media screen and (min-width: $wsu-breakpoint--tablet ) and (max-width: $wsu-breakpoint--desktop ) {

    .wsu-navigation-site-vertical ~ .wsu-wrapper-site .wsu-width--full {
        margin-left: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-closed} ) / -2 );
        margin-right: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-closed} ) / -2 );
    }
       
}

@media screen and (min-width: $wsu-breakpoint--tablet ) and (max-width: $wsu-breakpoint--desktop ) {

    .wsu-navigation-site-vertical ~ .wsu-wrapper-site .wsu-width--full {
        margin-left: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-closed} ) / -2 );
        margin-right: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-closed} ) / -2 );
    }
       
}

