@import '../../_assets/scss/variables';
@import '../../_assets/scss/mixins';

@import '../elements/paragraph/style.wordpress';
@import '../components/button/style.wordpress';
@import '../components/table/style.wordpress';
@import '../components/breadcrumb/style.wordpress';
@import '../modules/widgets/style.wordpress';
@import '../components/video/style.wordpress';



/* =WordPress Core https://codex.wordpress.org/CSS#WordPress_Generated_Classes
-------------------------------------------------------------- */

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.admin-bar {
    .wsu-navigation-site-vertical__toggle-button,
    .wsu-navigation-site-vertical__panel {
        top: 32px;
    }

}
  
  @media only screen and (max-width: 782px) {
    
    .admin-bar  {

        .wsu-navigation-site-vertical__toggle-button,
        .wsu-navigation-site-vertical__panel {
            top: 46px;
        }
    }
    
  }