@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

img.wsu-image--style-framed,
.wsu-image--style-framed img {
    outline-style: solid;
    outline-width: 1px;
    outline-offset: -$wsu-spacing--xmedium;
    outline-color: #fff;
}