@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-image--style-inset-outline {
    outline-style: inset;
    outline-width: 1px;
    outline-offset: -$wsu-spacing--xmedium;
    outline-color: #fff;
}