{% from "meta-byline/macros/meta-byline.macro.njk" import metaByline %}
{% from "meta-date/macros/meta-date.macro.njk" import metaDate %}
{% from "social-icons/macros/social-icons.macro.njk" import socialIcons %}

{% macro articleFooter( classes='', style='', byline='', publishDate='', share='' ) %}
<footer class="wsu-article-footer">
    {% if share %}{{ socialIcons( ' wsu-social-icons--small' ) }}{% endif %}
    {% if byline %}{{ metaByline('Butch T. Cougar', 'WSU Maskot', 'By') }} {% endif %}
    {% if publishDate %}{{ metaDate('June 7,2021') }}{% endif %}
</footer>
{% endmacro %}