{% from "logo-lockup/_macro.njk" import logoLockup %}
{% from "navigation-header/_macro.njk" import navigationHeader %}
{% from "header-utility-bar/_macro.njk" import headerUtilityBar %}
{% from "button-menu/_macro.njk" import buttonMenu %}

{% macro headerUnit( classes='', showNav=true ) %}
<header class="wsu-header-unit {{ classes }}">
    <div class="wsu-header-unit__inner">
        <div class="wsu-header-unit__banner">
           {{ logoLockup( classes=' wsu-logo-lockup--style-unit', link='#' ) }}
           {{ headerUtilityBar() }}
           {{ buttonMenu( classes='wsu-slide-in-panel--open', ariaLabel='Open Site Menu', for='wsu-navigation-mobile' ) }}
        </div>
        {% if showNav %}{{ navigationHeader( activeItem='Degree Programs') }}{% endif %}
    </div>
</header>
{% endmacro %}