@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

$wsu-space--logo: $wsu-spacing--medium;

.wsu-header-unit {
    position: relative;
    z-index: $wsu-zindex--navigation;

    &::after {
        content:'';
        height: 5px;
        width: auto;
        bottom: -5px;
        position: absolute;
        left: 0;
        right: 0;
        background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
        opacity: 0.2;
    }


    &__banner {
        background-color: #fff;
        min-height: 150px;
        display: flex;
        width: 100%;
        position: relative;
        padding-right: 90px;
        box-sizing: border-box;

        @media screen and (max-width: $wsu-breakpoint--phone ) {

            padding-right: 70px;
            
        }
    }

    .wsu-navigation-header {
        background-color: #fff;
        height: 45px;
        border-top: 1px solid $wsu-color--gray-10;
        padding: 0 $wsu-spacing--small;
    }

    .wsu-button-menu {
        top: 0;
        right: 0;
    }

    .wsu-header-utility-bar {
        position: absolute;
        top: 0;
        right: 0;
    }

    @media screen and (min-width: $wsu-breakpoint--horizontal-nav ) {

        .wsu-button-menu {
            display: none;
        }

    }

    @media screen and (max-width: $wsu-breakpoint--horizontal-nav ) {

        .wsu-header-unit {

            &__banner {
                min-height: 120px;
            }

        }

        .wsu-header-utility-bar,
        .wsu-navigation-header {
            display: none;
        }

        .wsu-logo-lockup {
            font-size: 0.9rem;
        }

    }

    @media screen and (max-width: $wsu-breakpoint--tablet-medium ) {

        .wsu-header-unit {

            &__banner {
                min-height: 110px;
            }

        }

        .wsu-logo-lockup {
            font-size: 0.7rem;
        }

    }

    @media screen and (max-width: $wsu-breakpoint--tablet) {

        .wsu-header-unit {

            &__banner {
                min-height: 100px;
            }

        }

        .wsu-logo-lockup {
            font-size: 0.6rem;
        }

    }

    @media screen and (max-width: $wsu-breakpoint--phone) {

        .wsu-header-unit {

            &__banner {
                min-height: 90px;
            }

        }

        .wsu-logo-lockup {
            font-size: 0.5rem;
        }

    }

    
}

.wsu-header-unit.wsu-color-scheme--dark{
    .wsu-header-unit__banner{ 
        color: white;
        background-color: $wsu-color--gray-85;
    }
    .wsu-coug-head{
        fill: white;
    }
    .wsu-logo-lockup{
        color: white;
    }

}