{% macro footerGlobal(bodyClasses) %}
<footer class="wsu-footer-global{{ bodyClasses }}">
    <div class="wsu-footer-global__copyright">
        © Washington State University 2021
    </div>
    <nav class="wsu-footer-global__navigation">
        <ul class="wsu-menu-tertiary">
            <li>
                <a href="https://access.wsu.edu/">Access</a>
            </li>
            <li>
                <a href="https://policies.wsu.edu/">Policies</a>
            </li>
            <li>
                <a href="https://portal.wsu.edu/">MyWSU</a>
            </li>
            <li>
                <a href="https://socialmedia.wsu.edu/">Follow&nbsp;WSU</a>
            </li>
        </ul>
    </nav>
</footer>
{% endmacro %}