@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-footer-global {
    font-family: $wsu-font-family;
    background-color: $wsu-color--gray-85;
	color: $wsu-color--gray-0;
	display: flex;
	align-items: center;
	font-size: 0.8rem;
    font-weight: 500;
	justify-content: flex-end;
    min-height: 60px;
	box-sizing: border-box;
    padding: 0 $wsu-spacing--medium;

    &__copyright {
        margin-right: $wsu-spacing--small;
    }

    .wsu-menu-utility-horizontal > li {
        padding: 0 $wsu-spacing--small;
    }

    @media screen and (max-width: $wsu-breakpoint--tablet-large ) {
        flex-wrap: wrap;
        justify-content: center;
        padding: $wsu-spacing--medium $wsu-spacing--large $wsu-spacing--medium;

        &__copyright {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: $wsu-spacing--xsmall;
            margin-right: 0;
        }

        .wsu-menu-utility-horizontal {
            flex-wrap: wrap;
            justify-content: center;

            > li {
                margin-bottom: $wsu-spacing--xxsmall;
            }
        }
    }
} 

@import 'footer-global--light';