{% extends "component.njk" %}

{% block content %}
<h2>default</h2>
{% include 'footer-global/html.njk' %}
<h2>.wsu-footer-global--light</h2>
{% include 'footer-global/html--light.njk' %}
{%  endblock %}