{% from "hero/_macro.njk" import hero %}

{# Slider content #}
{% set slides = [
  { eyebrowHeader: 'Slide 1', title: 'Hero Slider Title Slide 1', img: 'https://source.unsplash.com/collection/895539' },
  { eyebrowHeader: 'Slide 2', title: 'Hero Slider Title Slide 2', img: 'https://source.unsplash.com/collection/895539' },
  { eyebrowHeader: 'Slide 3', title: 'Hero Slider Title Slide 3', img: 'https://source.unsplash.com/collection/895539' },
  { eyebrowHeader: 'Slide 4', title: 'Hero Slider Title Slide 4', img: 'https://source.unsplash.com/collection/895539' },
  { eyebrowHeader: 'Slide 5', title: 'Hero Slider Title Slide 5', img: 'https://source.unsplash.com/collection/895539' }
] %}

{% macro heroSlider( classes, content=slides ) %}
{% if content.length > 1 %}
<div class="wsu-hero-slider wsu-width--full{{ classes }} swiper">
  <div class="wsu-hero-slider__wrapper swiper-wrapper">
	  {% for item in content %}
      {% if item.video %}
        {{ hero( ' swiper-slide', true, true, 'h2', item.eyebrowHeader, true, item.img, item.title ) }}
      {% else %}
        {{ hero( ' swiper-slide', true, true, 'h2', item.eyebrowHeader, false, item.img, item.title ) }}
      {% endif %}
	  {% endfor %}
  </div>
  <div class="wsu-hero-slider__slider-elements">
		<nav class="wsu-hero-slider__navigation">
			<i class="wsu-hero-slider__icon wsu-i-arrow-left-carrot" aria-label="Previous"></i>
			<i class="wsu-hero-slider__icon wsu-i-arrow-right-carrot" aria-label="Next"></i>
		</nav>
    <div class="wsu-hero-slider__pagination"></div>
  </div>
</div>
{% else %}
<div class="wsu-hero-slider wsu-hero-slider--single wsu-width--full{{ classes }}">
  {{ hero() }}
</div>
{% endif %}
{% endmacro %}
