{% from "hero/_macro.njk" import hero %}

{# Slider content #}
{% set slides = [
  { eyebrowHeader: 'Slide 1', title: 'Hero Slider Title Slide 1', caption: '1 Maecenas ut congue elit. In ultricies tortor enim, vitae blandit justo euismod nec. Phasellus condimentum nunc augue, nec mattis neque suscipit vel.', img: 'https://source.unsplash.com/collection/895539' },
  { eyebrowHeader: 'eybrowHeader Slide 2', title: 'Hero Slider Title Slide 2', caption: '2 Maecenas ut congue elit. In ultricies tortor enim, vitae blandit justo euismod nec. Phasellus condimentum nunc augue, nec mattis neque suscipit vel.', img: 'https://source.unsplash.com/collection/895539' },
  { eyebrowHeader: 'eybrowHeader Slide 3', title: 'Hero Slider Title Slide 3', caption: '3 Maecenas ut congue elit. In ultricies tortor enim, vitae blandit justo euismod nec. Phasellus condimentum nunc augue, nec mattis neque suscipit vel.', img: 'https://source.unsplash.com/collection/895539' },
  { eyebrowHeader: 'eybrowHeader Slide 4', title: 'Hero Slider Title Slide 4', caption: '4 Maecenas ut congue elit. In ultricies tortor enim, vitae blandit justo euismod nec. Phasellus condimentum nunc augue, nec mattis neque suscipit vel.', img: 'https://source.unsplash.com/collection/895539' }
] %}

{% macro heroSlider( classes, content=slides ) %}
{% if content.length > 1 %}
<div class="wsu-hero-slider wsu-width--full{{ classes }} swiper">
  <div class="wsu-hero-slider__wrapper swiper-wrapper">
	  {% for item in content %}
      {{ hero( ' swiper-slide', true, true, 'h2', item.eyebrowHeader, false, item.img, item.title ) }}
	  {% endfor %}
  </div>
  <div class="wsu-hero-slider__slider-elements">
		<nav class="wsu-hero-slider__navigation">
			<i class="wsu-hero-slider__icon wsu-i-arrow-left-carrot" aria-label="Previous"></i>
			<i class="wsu-hero-slider__icon wsu-i-arrow-right-carrot" aria-label="Next"></i>
		</nav>
    <div class="wsu-hero-slider__pagination"></div>
  </div>
</div>
{% else %}
<div class="wsu-hero-slider wsu-hero-slider--single wsu-width--full{{ classes }}">
  {{ hero() }}
</div>
{% endif %}
{% endmacro %}
