@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';


.wsu-hero-slider {
	position: relative;
	//transition: margin-left $wsu-transition-speed--medium $wsu-easing, margin-right $wsu-transition-speed--fast $wsu-easing;
	margin-bottom: $wsu-spacing--xlarge;

  .wsu-hero {
    transition: opacity;
  }

	.wsu-hero::after {
		display: block;
		content:'';
		position: absolute;
		height: 20%;
		top: 100%;
		left: 0;
		right: 0;
		background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 100%);
  }

	.wsu-hero__content {
		padding-top: $wsu-spacing--large;
		//padding-bottom: $wsu-spacing--hero * 2;
    padding-bottom: $wsu-spacing--large;
		padding-left: $wsu-spacing--large;
		padding-right: $wsu-spacing--large;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		//overflow-x: hidden;
		min-height: 650px;
		box-sizing: border-box;

		&::before {
			transition: opacity $wsu-transition-speed--slow $wsu-easing;
			opacity: 0;
		}
	}

	.wsu-hero__caption {
		position: relative;
		padding-top: $wsu-spacing--large;
		padding-bottom: $wsu-spacing--large;
    //padding-bottom: $wsu-spacing--hero * 2;
		padding-left: $wsu-spacing--xlarge;
		padding-right: $wsu-spacing--xlarge;
		max-width: 800px;
		color: #fff;

		&::before {
			display: block;
			content:'';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: auto;
			width: auto;
			-webkit-clip-path: polygon(100% 0,100% calc(100% - 100px),calc(100% - 80px) 100%,0 100%,0 0);
			clip-path: polygon(100% 0,100% calc(100% - 100px),calc(100% - 80px) 100%,0 100%,0 0);
		}

		& > *:last-child {
			margin-bottom: 0;
		}
	}

	.wsu-hero__image-caption {
		position: absolute;
		bottom: $wsu-spacing--sxxsmall;
		right: 0;
		@include wsu-font--xxsmall();
		color: #fff;
		background-color: $wsu-color--gray-85;
		padding: $wsu-spacing--sxxsmall $wsu-spacing--xxsmall;
		border-radius: 2px 0 0 2px;

		a {
			color: #fff;
			text-decoration-color: $wsu-color--crimson-light;
		}

		&::before {
			content: "\F134";
			font-family: 'wsu-icons';
			display: inline-block;
			font-size: $wsu-font-size--xsmall;
			vertical-align: middle;
			margin-right: 0.5rem;
		}
	}

  &__slider-elements {
    position: absolute;
    width: 100%;
		max-width: 100%;
    bottom: $wsu-spacing--hero + $wsu-spacing--medium;
		left: $wsu-spacing--large + $wsu-spacing--xlarge;
  }

  &__navigation {
    position: relative;
    bottom: 30px;
    z-index: 1;
  }

  &__pagination {
    position: relative;
    bottom: 0;
    text-align: left;
    max-width: 900px;
    display: flex;
    z-index: 1;
  }

  &__icon {
    display: inline-block;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    font-size: $wsu-font-size--large !important;
    cursor: pointer;
    text-align: left;
    border: none;
    background: transparent;
    padding: 0;

    &::before {
      font-family: wsu-icons !important;
      font-style: normal;
      font-weight: normal !important;
      vertical-align: middle;
    }
  }

  .wsu-i-arrow-right-carrot,
  .wsu-i-pause {
    margin-left: $wsu-spacing--xmedium;
  }

  button.swiper-pagination-bullet {
    color: #fff;
    font-size: $wsu-font-size--small;
    font-weight: $wsu-font-weight--medium;
    background: transparent;
    border-radius: 0;
    flex: 0 0 20%;
    opacity: 1;
    padding-right: 15px;
    cursor: pointer;
    text-align: left;

    &::before {
      content: '';
      display: block;
      margin: 0 0 18px;
      border-top: solid 2px rgba(255,255,255,0.3);
      width: 100%;
    }
  }

  button.swiper-button-disabled,
  .wsu-i-pause {
    opacity: 0.5;
  }

  .wsu-i-pause.paused {
    opacity: 1;
  }

  button.swiper-pagination-bullet-active {
    &::before {
      border-top: solid 2px #fff;
    }
  }

	.wsu-pattern-after::after {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.wsu-image-frame {
		position: absolute;
		top: 0;
		bottom: -20%;
		left: 0;
		right: 0;
		background-color: #000;
	}

	.wsu-title {
		@include wsu-font--hero();
		margin-bottom: $wsu-spacing--xsmall;
		text-shadow: 0px 0px 8px #000000;
		font-weight: 800;
		position: relative;
		word-break: break-word;
	}

	.wsu-caption {
		@include wsu-font--xxmedium();
		text-shadow: 0px 0px 3px #000000;
		margin-right: $wsu-spacing--large;
		margin-bottom: $wsu-spacing--xxmedium;
		position: relative;
	}

	.wsu-eyebrow-heading {
		position: relative;
	}

	.wsu-button {
    text-transform: uppercase;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.03),0 3px 14px 2px rgba(0,0,0,0.03),0 4px 15px 0 rgba(0,0,0,0.02);
    border: 2px solid #fff;
    padding-top: $wsu-spacing--small;
    padding-bottom: $wsu-spacing--small;

    &::after {
      content: '\F107';
      display: inline-block;
      color: inherit;
      font-size: inherit;
      font-family: wsu-icons;
      vertical-align: middle;
      margin-left: $wsu-spacing--sxxsmall;
    }
	}

	.wsu-button-video-pause,
	.wsu-button-pause-background {
		z-index: 1;
	}

	.wsu-hero--size-full {
    .wsu-hero__content {
      min-height: 100vh;
    }
	}

	.wsu-hero--size-large {
    .wsu-hero__content {
      min-height: 950px;
    }
	}

	.wsu-hero--size-medium {
    .wsu-hero__content {
      min-height: 800px;
    }
	}

	.wsu-hero--size-small {
    .wsu-hero__content {
			min-height: 500px;
			padding-top: $wsu-spacing--large;
			padding-bottom: $wsu-spacing--large;
    }
	}

	.wsu-hero--size-xsmall {
    .wsu-hero__content {
      min-height: 300px;
      padding-top: $wsu-spacing--large;
      padding-bottom: $wsu-spacing--large;
    }
	}
}

.swiper {
	width: 100%;
  //overflow-x: hidden;
  //overflow-y: visible;
}

.swiper-wrapper {
	position: relative;
	overflow-y: visible;
}

.swiper-slide {
  opacity: 0;
  //height: auto;
}

.swiper-slide.swiper-slide-active {
  opacity: 1;
}

.wsu-header-global ~ .wsu-wrapper-site .wsu-hero-slider--size-full {
	.wsu-hero-slider__content {
		min-height: calc( 100vh - 64px );
	}
}

.wsu-header-global ~ .wsu-wrapper-site .wsu-header-site ~ .wsu-wrapper-content .wsu-hero-slider--size-full {
	.wsu-hero-slider__content {
		min-height: calc( 100vh - 64px - 110px );
	}
}

@media screen and (min-width: $wsu-breakpoint--xultrawide ) {
	.wsu-hero-slider {
		.wsu-hero__content {
			padding-top: calc( #{$wsu-spacing--hero} * 1.5 );
			padding-bottom: calc( #{$wsu-spacing--hero} * 1.5 );
		}
	}
}

@media screen and (min-width: $wsu-breakpoint--xxultrawide ) {
	.wsu-hero-slider {
		.wsu-hero__content {
			padding-top: calc( #{$wsu-spacing--hero} * 2 );
			padding-bottom: calc( #{$wsu-spacing--hero} * 2 );
		}
	}
}


@media screen and (max-width: $wsu-breakpoint--desktop ) {
	.wsu-hero-slider {
		.wsu-hero__content {
			padding-left: $wsu-spacing--xmedium;
			padding-right: $wsu-spacing--xmedium;
		}

		&__slider-elements {
			left: calc( #{$wsu-spacing--xmedium} + #{$wsu-spacing--xlarge} );
		}

    &__pagination {
			max-width: 70%;
		}
	}
}

@media screen and (max-width: $wsu-breakpoint--tablet-large ) {
	.wsu-hero-slider {
		.wsu-title {
			@include wsu-font--sxxlarge();
		}

		.wsu-hero__content {
			padding-bottom: $wsu-spacing--xxlarge;
		}

		&__slider-elements {
			bottom: $wsu-spacing--hero;
		}

    button.swiper-pagination-bullet {
      font-size: 0;
      flex: 0 0 30px;

      &::before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: transparent;
        outline: 2px solid #fff;
        border: none;
      }
    }

    button.swiper-pagination-bullet-active {
      font-size: 0;
      flex: 0 0 30px;

      &::before {
        background-color: $wsu-color--crimson;
      }
    }
	}
}

@media screen and (max-width: $wsu-breakpoint--tablet ) {
	.wsu-hero-slider {
		.wsu-hero__content {
			padding-left: $wsu-spacing--medium;
			padding-right: $wsu-spacing--medium;
			padding-bottom: $wsu-spacing--large;
		}

		.wsu-hero__caption {
			padding-top: $wsu-spacing--large;
			padding-bottom: $wsu-spacing--large;
			padding-left: $wsu-spacing--xxmedium;
			padding-right: $wsu-spacing--xxmedium;
		}

		.wsu-title {
			@include wsu-font--xxlarge();
		}

		&__slider-elements {
			left: calc( #{$wsu-spacing--medium} + #{$wsu-spacing--xxmedium} );
		}
	}
}

@media screen and (max-width: $wsu-breakpoint--phone ) {
	.wsu-hero-slider {
		.wsu-hero__content {
			padding-left: $wsu-spacing--medium;
			padding-right: $wsu-spacing--medium;
			padding-top: $wsu-spacing--xxlarge;
			padding-bottom: $wsu-spacing--xxlarge;
		}

		.wsu-title {
			@include wsu-font--xlarge();
		}

		.wsu-caption {
			@include wsu-font--medium();
		}
	}
}
