{% extends "component.njk" %}

{% block content %}
{% include 'hero-slider/html--video.njk' %}
{%  endblock %}

{% block scripts %}
<script src="https://player.vimeo.com/api/player.js"></script>
{%  endblock %}
