{% extends "component.njk" %}
{% from "hero-slider/_macro.njk" import heroSlider %}


{% block content %}
{# {% include 'hero-slider/html.njk' %} #}
{# {% include 'hero-slider/html--linked.njk' %} #}
<hr />
<h2>One Slide</h2>
{{ heroSlider(1) }}
<hr />
{{ heroSlider(2) }}
<style>
.wsu-hero-slider {
    margin-bottom: 200px !important;
}

.wsu-custom-demo {
    margin: 0 !important;
}

.swiper-slide {
  background-color: #000;
}
.swiper-slide.swiper2 {
  background-color: red;
}
.swiper-slide.swiper3 {
  background-color: blue;
}
</style>
{%  endblock %}

{% block scripts %}
    <script src="../../bundles/standalone/hero-slider/scripts.js"></script>

{% endblock %}
