{% extends "component.njk" %}
{% from "hero-slider/_macro.njk" import heroSlider %}


{% block content %}
{# {% include 'hero-slider/html.njk' %} #}
{# {% include 'hero-slider/html--linked.njk' %} #}
<hr />
<h2>One Slide</h2>
{{ heroSlider(1) }}
<hr />
<h2>Change the # of Slides</h2>
{{ heroSlider(3) }}

<style>
.wsu-hero-slider {
    margin-bottom: 200px !important;
}

.wsu-custom-demo {
    margin: 0 !important;
}
</style>
{%  endblock %}

{% block scripts %}
  <script src="../../bundles/standalone/hero-slider/scripts.js"></script>
{% endblock %}
