@import './variables';


/* =====================

- Fonts
- Modals
- Menu Items
- Transitions
- Buttons
- Forms

===================== */

@mixin wsu-position-absolute-fill() {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
}

@mixin wsu-bleed--full( $className ) {

    .wsu-wrapper-site #{$className} {

        margin-left: calc( (100vw - 100% ) / -2 );
        margin-right: calc( (100vw - 100% ) / -2 );
    
    }

    @media screen and (min-width: $wsu-breakpoint--desktop ) {

        .wsu-navigation-site-vertical ~ .wsu-wrapper-site #{$className} {
            margin-left: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-open} ) / -2 );
            margin-right: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-open} ) / -2 );
        }
    
        .wsu-navigation-site-vertical--is-closed .wsu-navigation-site-vertical ~ .wsu-wrapper-site #{$className} {
            margin-left: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-closed} ) / -2 );
            margin-right: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-closed} ) / -2 );
        }
            
    }
    
    @media screen and (min-width: $wsu-breakpoint--tablet ) and (max-width: $wsu-breakpoint--desktop ) {
    
        .wsu-navigation-site-vertical ~ .wsu-wrapper-site #{$className} {
            margin-left: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-closed} ) / -2 );
            margin-right: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-closed} ) / -2 );
        }
           
    }
    
    @media screen and (min-width: $wsu-breakpoint--tablet ) and (max-width: $wsu-breakpoint--desktop ) {
    
        .wsu-navigation-site-vertical ~ .wsu-wrapper-site #{$className} {
            margin-left: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-closed} ) / -2 );
            margin-right: calc( ( (100vw - 100% ) - #{$wsu-width--navigation-closed} ) / -2 );
        }
           
    }

}

@mixin wsu-focus--link {
    outline: 2px solid #ca1237;
    //outline-offset: 2px;
    //box-shadow: 0px 0px 0px 3px #ca1237;
    border-radius: 3px; 
} 


@mixin wsu-hover--border-bottom {

    &::after {
        content: '';
        display: block;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 0;
        background-color: transparent;
        position: absolute;
        transition: height $wsu-transition-speed--fast $wsu-easing;
    }

    &:hover,
    &:focus {
        &::after {
            height: 5px;
            background-color: $wsu-color--crimson-light;
        }
    }

}


/* ========================================================
== Fonts ==
==========================================================*/
@mixin wsu-font--hero {
    font-size: $wsu-font-size--hero;
    line-height: 1.15;
}

@mixin wsu-font--sxxlarge {
    font-size: $wsu-font-size--sxxlarge;
    line-height: 1.2;
}

@mixin wsu-font--xxlarge {
    font-size: $wsu-font-size--xxlarge;
    line-height: 1.2;
}

@mixin wsu-font--xlarge {
    font-size: $wsu-font-size--xlarge;
    line-height: 1.2;
}

@mixin wsu-font--large {
    font-size: $wsu-font-size--large;
    line-height: 1.3;
}

@mixin wsu-font--xxmedium {
    font-size: $wsu-font-size--xxmedium;
    line-height: 1.4;
}

@mixin wsu-font--xmedium {
    font-size: $wsu-font-size--xmedium;
    line-height: 1.4;
}

@mixin wsu-font--medium {
    font-size: $wsu-font-size--medium;
    line-height: 1.5;
}

@mixin wsu-font--small {
    font-size: $wsu-font-size--small;
    line-height: 1.5;
}

@mixin wsu-font--xsmall {
    font-size: $wsu-font-size--xsmall;
    line-height: 1.5;
}

@mixin wsu-font--xxsmall {
    font-size: $wsu-font-size--xxsmall;
    line-height: 1.5;
}

@mixin wsu-link--secondary {
    color: $wsu-color--gray-75;
    text-decoration: underline;
    text-decoration-color: $wsu-color--gray-40;
}

@mixin wsu-navigation-menu {

    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: relative;
    }


    button:not([class*='wsu-button']):first-child,
    a {
        text-decoration: none;
        color: inherit;
        background-color: transparent;
        border-left: 5px solid transparent;
        border-right: none;
        border-bottom: none;
        border-top: none;
        outline: none;
        box-shadow: none;
        font-weight: inherit;
        margin: 0;
        padding: 0.7rem calc( #{$wsu-spacing--medium } - 5px );
        flex-grow: 1;
        border-radius: 0;
        display: block;
        box-sizing: border-box;
        text-align: left;
        font-size: $wsu-font-size--small;
        font-weight: 600;
        position: 'relative';
        line-height: 1.5; 
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: $wsu-color--gray-10;
            border-left: 5px solid $wsu-color--gray-65;
        }

        &[aria-current="page"] {
            border-left: 5px solid $wsu-color--crimson-light !important;
        }
    }

    button:not([class*='wsu-button']):first-child {
        width: 100%;
        flex-grow: 0;
        padding-right: calc( 50px );

        &::after {
            content: "\F103";
            font-family: wsu-icons;
            margin-left: 0;
            color: inherit;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 50px;
            position: absolute;
            display: flex;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    a + button:not([class*='wsu-button']) {
        width: 50px;
        flex-grow: 0;
        padding: 0;

        &:hover,
        &:focus {
            background-color: $wsu-color--gray-10;
        }

        &::after {
            content: "\F103";
            font-family: wsu-icons;
            margin-left: 0.75em;
            color: inherit;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    } 

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none; 
        max-height: 0;
        visibility: hidden;
        overflow: hidden;
        transition: max-height $wsu-transition-speed--fast $wsu-easing;
    }

    li[aria-expanded="true"] {

        & > ul { 
            max-height: none;
            visibility: visible;
        } 
    }

    & li > ul > li {
        button:first-child:not([class*='wsu-button']),
        a {
            font-weight: 400;
            padding-left: calc( #{$wsu-spacing--medium} + #{$wsu-spacing--sxxsmall});
        }
    }

    & ul ul > li {
        button:first-child:not([class*='wsu-button']),
        a {
            padding-left: calc( #{$wsu-spacing--medium} + ( #{$wsu-spacing--sxxsmall} * 2 ) );
        }
    }

}

/* ========================================================
== Menu Items ==
==========================================================*/
@mixin wsu-menu-item--crimson-bar( $drop: -6px, $thickness: 4px, $element: 'after' ) {
    position: relative;

    &::#{$element} {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $wsu-color--crimson-light;
        height: $thickness;
        opacity: 0;
        transition: bottom $wsu-transition-speed--fast $wsu-easing, opacity $wsu-transition-speed--fast $wsu-easing;
    }

    &:focus,
    &:hover {

        &::#{$element} {
            opacity: 1;
            bottom: $drop;
        }

    }
}

@mixin wsu-menu-vertical--item() {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

@mixin wsu-menu-vertical--button( $menu-padding-vertical: 0.7rem, $menu-padding-horizontal: $wsu-spacing--medium  )  {
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    box-sizing: border-box;
    background-color: transparent;
    position: relative;
    color: inherit;
    margin: 0;
    padding: $menu-padding-vertical calc( #{$menu-padding-horizontal} - 5px );
    text-align: left;
    font-size: $wsu-font-size--small;
    font-weight: 600;
    line-height: 1.5; 
    cursor: pointer;
}

@mixin wsu-menu-vertical--link( $menu-padding-vertical: 0.7rem, $menu-padding-horizontal: $wsu-spacing--medium  ) {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border-left: 5px solid transparent;
    border-right: none;
    border-bottom: none;
    border-top: none;
    outline: none;
    box-shadow: none;
    font-weight: inherit;
    margin: 0;
    padding: $menu-padding-vertical calc( #{$menu-padding-horizontal} - 5px );
    flex-grow: 1;
    border-radius: 0;
    display: block;
    box-sizing: border-box;
    text-align: left;
    font-size: $wsu-font-size--small;
    font-weight: 600;
    position: 'relative';
    line-height: 1.5; 
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $wsu-color--gray-10;
        border-left: 5px solid $wsu-color--gray-65;
    }

    &[aria-current="page"] {
        border-left: 5px solid $wsu-color--crimson-light !important;
    }
}

@mixin wsu-menu-vertical--item-link( $menu-padding-vertical: 0.7rem, $menu-padding-horizontal: $wsu-spacing--medium  ) {
    padding: $menu-padding-vertical calc( #{$menu-padding-horizontal} - 5px );
}

@mixin wsu-menu-vertical--secondary-item-link( $menu-padding-left: calc( #{$wsu-spacing--medium} + #{$wsu-spacing--sxxsmall}) ) {
    font-weight: 400;
    padding-left: $menu-padding-left;
}

@mixin wsu-menu-vertical--tertiary-item-link( $menu-padding-left: calc( #{$wsu-spacing--medium} + ( #{$wsu-spacing--sxxsmall} * 2 ) ) ) {
    padding-left: $menu-padding-left;
}



@mixin wsu-menu-vertical--item-button {
    width: 100%;
    flex-grow: 0;
    padding-right: calc( 50px );
    border-left: 5px solid transparent;

    &:hover,
    &:focus {
        background-color: $wsu-color--gray-10;
        border-left: 5px solid $wsu-color--gray-65;
    }

    &::after {
        content: "\F103";
        font-family: wsu-icons;
        margin-left: 0;
        color: inherit;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50px;
        position: absolute;
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

@mixin wsu-menu-vertical--item-button-split {
    width: 50px;
    flex-grow: 0;
    padding: 0;

    &:hover,
    &:focus {
        background-color: $wsu-color--gray-10;
    }

    &::after {
        content: "\F103";
        font-family: wsu-icons;
        margin-left: 0.75em;
        color: inherit;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@mixin wsu-menu-vertical--submenu() {
    margin: 0;
    padding: 0;
    list-style-type: none; 
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height $wsu-transition-speed--fast $wsu-easing, visibility 0s $wsu-easing 300ms;
}

@mixin wsu-menu-vertical--submenu-open() {
    max-height: none;
    visibility: visible;
    transition: max-height $wsu-transition-speed--fast $wsu-easing, visibility 0s $wsu-easing 0s;
}

@mixin wsu-navigation-panel() {
    position: fixed;
    top: 0;
    padding-top: calc( 65px + #{$wsu-spacing--medium} );
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid $wsu-color--gray-10;
    width: $wsu-width--navigation-open;
    left: 0;
    transition: transform $wsu-transition-speed--medium $wsu-easing, opacity $wsu-transition-speed--medium $wsu-easing;
    opacity: 1;
    visibility: hidden;
    box-sizing: border-box;
    z-index: $wsu-zindex--navigation;
    background-color: #fff;
    transform: translateX( $wsu-width--navigation-open );
    
}

@mixin wsu-navigation-panel--open() {
    visibility: visible;
    transform: translateX( 0);
}

@mixin wsu-navigation-panel--mobile() {
    left: auto;
    right: 0;
}



/* ========================================================
== Modals ==
==========================================================*/

@mixin wsu-modal-box--low {
    box-shadow: $wsu-dropshadow--low;
    border-radius: $wsu-border-radius--medium;
    padding: $wsu-spacing--small 0;
    box-sizing: border-box;
}

@mixin wsu-modal-box {
    box-shadow: $wsu-dropshadow--low;
    border-radius: $wsu-border-radius--medium;
}

/* ========================================================
== Transitions ==
==========================================================*/

@mixin wsu-transition-navigation-vertical {
    transition-duration: $wsu-transition-speed--fast;
    transition-timing-function: $wsu-easing;
}

/* ========================================================
== Buttons ==
==========================================================*/

@mixin wsu-button() {
    font-family: $wsu-font-family;
    background-color: $wsu-color--crimson;
    color: #fff;
    border-radius: $wsu-border-radius--large;
    border: none;
    padding: 1em calc( #{$wsu-spacing--xxmedium} + 0.25rem );
    font-size: $wsu-font-size--medium;
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
    transition: box-shadow $wsu-transition-speed--fast $wsu-easing;
    text-decoration: none;

    &:hover,
    &:focus {
        box-shadow: $wsu-dropshadow-rise--medium;
        background-color: $wsu-color--crimson-light;
    }
}

/* ========================================================
== Buttons ==
==========================================================*/

@mixin wsu-pattern-background--wsu-dark() {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 163.87 108'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon stroke='%23000' fill='none' points='64.91 1.24 53.35 33.66 42.93 1.24 33.95 1.24 23.49 33.7 12.04 1.57 11.94 1.24 0.71 1.24 18.38 50.89 29.23 50.89 38.42 22.21 47.64 50.89 58.44 50.89 76.16 1.24 64.91 1.24'/%3E%3Cpath stroke='%23000' fill='none' d='M86.63,14.71c0-3,2.53-5,7.07-5a21.29,21.29,0,0,1,14.43,5.43L114,7.42C109.1,2.88,102.55.5,94.67.5,83,.5,75.84,7.35,75.84,15.61c0,18.67,28.57,12.65,28.57,21.43,0,2.83-2.82,5.5-8.63,5.5A21.77,21.77,0,0,1,80,35.85l-5.73,8c4.61,4.69,11.46,7.89,21,7.89,13.4,0,19.87-6.85,19.87-15.92C115.13,17.32,86.63,22.6,86.63,14.71Z'/%3E%3Cpath stroke='%23000' fill='none' d='M118.37,31.08V1.24h10.71V30.71c0,6.92,4,11.68,11.68,11.68s11.61-4.76,11.61-11.68V1.24h10.79V31c0,12.35-7.29,20.76-22.4,20.76S118.37,43.29,118.37,31.08Z'/%3E%3Cpolygon stroke='%23000' fill='none' points='98.96 105.3 110.52 72.88 120.94 105.3 129.91 105.3 140.38 72.84 151.83 104.97 151.93 105.3 163.16 105.3 145.49 55.66 134.64 55.66 125.45 84.33 116.23 55.66 105.43 55.66 87.72 105.3 98.96 105.3'/%3E%3Cpath stroke='%23000' fill='none' d='M77.24,91.83c0,3-2.53,5-7.07,5a21.3,21.3,0,0,1-14.43-5.44l-5.88,7.74C54.77,103.66,61.32,106,69.2,106,80.89,106,88,99.2,88,90.94c0-18.68-28.57-12.65-28.57-21.43,0-2.83,2.82-5.51,8.63-5.51a21.71,21.71,0,0,1,15.77,6.7l5.73-8C85,58,78.13,54.77,68.61,54.77c-13.4,0-19.87,6.85-19.87,15.93C48.74,89.23,77.24,83.94,77.24,91.83Z'/%3E%3Cpath stroke='%23000' fill='none' d='M45.51,75.46V105.3H34.79V75.83c0-6.92-4-11.68-11.68-11.68S11.5,68.91,11.5,75.83V105.3H.71V75.53C.71,63.18,8,54.77,23.11,54.77S45.51,63.26,45.51,75.46Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 100px;
    background-position: center center;
}

@mixin wsu-pattern-background--wsu-light {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 163.87 108'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon stroke='%23fff' fill='none' points='64.91 1.24 53.35 33.66 42.93 1.24 33.95 1.24 23.49 33.7 12.04 1.57 11.94 1.24 0.71 1.24 18.38 50.89 29.23 50.89 38.42 22.21 47.64 50.89 58.44 50.89 76.16 1.24 64.91 1.24'/%3E%3Cpath stroke='%23fff' fill='none' d='M86.63,14.71c0-3,2.53-5,7.07-5a21.29,21.29,0,0,1,14.43,5.43L114,7.42C109.1,2.88,102.55.5,94.67.5,83,.5,75.84,7.35,75.84,15.61c0,18.67,28.57,12.65,28.57,21.43,0,2.83-2.82,5.5-8.63,5.5A21.77,21.77,0,0,1,80,35.85l-5.73,8c4.61,4.69,11.46,7.89,21,7.89,13.4,0,19.87-6.85,19.87-15.92C115.13,17.32,86.63,22.6,86.63,14.71Z'/%3E%3Cpath stroke='%23fff' fill='none' d='M118.37,31.08V1.24h10.71V30.71c0,6.92,4,11.68,11.68,11.68s11.61-4.76,11.61-11.68V1.24h10.79V31c0,12.35-7.29,20.76-22.4,20.76S118.37,43.29,118.37,31.08Z'/%3E%3Cpolygon stroke='%23fff' fill='none' points='98.96 105.3 110.52 72.88 120.94 105.3 129.91 105.3 140.38 72.84 151.83 104.97 151.93 105.3 163.16 105.3 145.49 55.66 134.64 55.66 125.45 84.33 116.23 55.66 105.43 55.66 87.72 105.3 98.96 105.3'/%3E%3Cpath stroke='%23fff' fill='none' d='M77.24,91.83c0,3-2.53,5-7.07,5a21.3,21.3,0,0,1-14.43-5.44l-5.88,7.74C54.77,103.66,61.32,106,69.2,106,80.89,106,88,99.2,88,90.94c0-18.68-28.57-12.65-28.57-21.43,0-2.83,2.82-5.51,8.63-5.51a21.71,21.71,0,0,1,15.77,6.7l5.73-8C85,58,78.13,54.77,68.61,54.77c-13.4,0-19.87,6.85-19.87,15.93C48.74,89.23,77.24,83.94,77.24,91.83Z'/%3E%3Cpath stroke='%23fff' fill='none' d='M45.51,75.46V105.3H34.79V75.83c0-6.92-4-11.68-11.68-11.68S11.5,68.91,11.5,75.83V105.3H.71V75.53C.71,63.18,8,54.77,23.11,54.77S45.51,63.26,45.51,75.46Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 100px;
    background-position: center center;
}

@mixin wsu-pattern-background--lines-light {
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_3' data-name='Layer 3' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 30 30' width='30' height='30'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%23e6e7e8;stroke-miterlimit:10;%7D%3C/style%3E%3CclipPath id='clip-path'%3E%3Crect class='cls-1' width='30' height='30'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='cls-2'%3E%3Cline class='cls-3' x1='-1.38' y1='23.97' x2='23.32' y2='-0.73'/%3E%3Cline class='cls-3' x1='6.6' y1='30.99' x2='30.75' y2='6.85'/%3E%3Cline class='cls-3' x1='22.02' y1='30.59' x2='30.46' y2='22.15'/%3E%3Cline class='cls-3' x1='-1.06' y1='8.69' x2='8.54' y2='-0.91'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    background-position: center center;
}


@mixin wsu-menu-admin--to-dropdown {
    width: $wsu-width--navigation-xnarrow;
    display: block;
    background-color: #fff;
    padding: $wsu-spacing--sxxsmall $wsu-spacing--small;

    li {
        display: block;

        a {
            &:hover,
            &:focus {
                color: $wsu-color--crimson;
            }
        }
  }
}

/* ========================================================
== Forms ==
==========================================================*/
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root("::-webkit-input-placeholder") {
    @content;
  }

  @include optional-at-root(":-moz-placeholder") {
    @content;
  }

  @include optional-at-root("::-moz-placeholder") {
    @content;
  }

  @include optional-at-root(":-ms-input-placeholder") {
    @content;
  }
}
