@import './variables';


/* =====================

- Fonts
- Modals
- Menu Items

===================== */

/* ========================================================
== Fonts ==
==========================================================*/
@mixin wsu-font--hero {
    font-size: $wsu-font-size--hero;
    line-height: 1.15;
}

@mixin wsu-font--xxlarge {
    font-size: $wsu-font-size--xxlarge;
    line-height: 1.2;
}

@mixin wsu-font--xlarge {
    font-size: $wsu-font-size--xlarge;
    line-height: 1.2;
}

@mixin wsu-font--large {
    font-size: $wsu-font-size--large;
    line-height: 1.3;
}

@mixin wsu-font--xxmedium {
    font-size: $wsu-font-size--xxmedium;
    line-height: 1.4;
}

@mixin wsu-font--xmedium {
    font-size: $wsu-font-size--xmedium;
    line-height: 1.4;
}

@mixin wsu-font--medium {
    font-size: $wsu-font-size--medium;
    line-height: 1.5;
}

@mixin wsu-font--small {
    font-size: $wsu-font-size--small;
    line-height: 1.5;
}

@mixin wsu-font--xsmall {
    font-size: $wsu-font-size--xsmall;
    line-height: 1.5;
}

@mixin wsu-font--xxsmall {
    font-size: $wsu-font-size--xxsmall;
    line-height: 1.5;
}

@mixin wsu-link--secondary {
    color: $wsu-color--gray-75;
    text-decoration: underline;
    text-decoration-color: $wsu-color--gray-40;
}

/* ========================================================
== Menu Items ==
==========================================================*/
@mixin wsu-menu-item--crimson-bar( $drop: -6px, $thickness: 4px, $element: 'after' ) {
    position: relative;

    &::#{$element} {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $wsu-color--crimson-light;
        height: $thickness;
        opacity: 0;
        transition: bottom $wsu-transition-speed--fast $wsu-easing, opacity $wsu-transition-speed--fast $wsu-easing;
    }

    &:focus,
    &:hover {

        &::#{$element} {
            opacity: 1;
            bottom: $drop;
        }

    }
}

/* ========================================================
== Modals ==
==========================================================*/

@mixin wsu-modal-box--low {
    box-shadow: $wsu-dropshadow--low;
    border-radius: $wsu-border-radius--medium;
    padding: $wsu-spacing--small 0;
    box-sizing: border-box;
}

@mixin wsu-modal-box {
    box-shadow: $wsu-dropshadow--low;
    border-radius: $wsu-border-radius--medium;
}

/* ========================================================
== Transitions ==
==========================================================*/

@mixin wsu-transition-navigation-vertical {
    transition-duration: $wsu-transition-speed--fast;
    transition-timing-function: $wsu-easing;
}