@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

%wsu-pattern--wsu-dark {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 163.87 108'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon stroke='%23000' fill='none' points='64.91 1.24 53.35 33.66 42.93 1.24 33.95 1.24 23.49 33.7 12.04 1.57 11.94 1.24 0.71 1.24 18.38 50.89 29.23 50.89 38.42 22.21 47.64 50.89 58.44 50.89 76.16 1.24 64.91 1.24'/%3E%3Cpath stroke='%23000' fill='none' d='M86.63,14.71c0-3,2.53-5,7.07-5a21.29,21.29,0,0,1,14.43,5.43L114,7.42C109.1,2.88,102.55.5,94.67.5,83,.5,75.84,7.35,75.84,15.61c0,18.67,28.57,12.65,28.57,21.43,0,2.83-2.82,5.5-8.63,5.5A21.77,21.77,0,0,1,80,35.85l-5.73,8c4.61,4.69,11.46,7.89,21,7.89,13.4,0,19.87-6.85,19.87-15.92C115.13,17.32,86.63,22.6,86.63,14.71Z'/%3E%3Cpath stroke='%23000' fill='none' d='M118.37,31.08V1.24h10.71V30.71c0,6.92,4,11.68,11.68,11.68s11.61-4.76,11.61-11.68V1.24h10.79V31c0,12.35-7.29,20.76-22.4,20.76S118.37,43.29,118.37,31.08Z'/%3E%3Cpolygon stroke='%23000' fill='none' points='98.96 105.3 110.52 72.88 120.94 105.3 129.91 105.3 140.38 72.84 151.83 104.97 151.93 105.3 163.16 105.3 145.49 55.66 134.64 55.66 125.45 84.33 116.23 55.66 105.43 55.66 87.72 105.3 98.96 105.3'/%3E%3Cpath stroke='%23000' fill='none' d='M77.24,91.83c0,3-2.53,5-7.07,5a21.3,21.3,0,0,1-14.43-5.44l-5.88,7.74C54.77,103.66,61.32,106,69.2,106,80.89,106,88,99.2,88,90.94c0-18.68-28.57-12.65-28.57-21.43,0-2.83,2.82-5.51,8.63-5.51a21.71,21.71,0,0,1,15.77,6.7l5.73-8C85,58,78.13,54.77,68.61,54.77c-13.4,0-19.87,6.85-19.87,15.93C48.74,89.23,77.24,83.94,77.24,91.83Z'/%3E%3Cpath stroke='%23000' fill='none' d='M45.51,75.46V105.3H34.79V75.83c0-6.92-4-11.68-11.68-11.68S11.5,68.91,11.5,75.83V105.3H.71V75.53C.71,63.18,8,54.77,23.11,54.77S45.51,63.26,45.51,75.46Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 100px;
  background-position: center center;
}

%wsu-pattern--wsu-light {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 163.87 108'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon stroke='%23fff' fill='none' points='64.91 1.24 53.35 33.66 42.93 1.24 33.95 1.24 23.49 33.7 12.04 1.57 11.94 1.24 0.71 1.24 18.38 50.89 29.23 50.89 38.42 22.21 47.64 50.89 58.44 50.89 76.16 1.24 64.91 1.24'/%3E%3Cpath stroke='%23fff' fill='none' d='M86.63,14.71c0-3,2.53-5,7.07-5a21.29,21.29,0,0,1,14.43,5.43L114,7.42C109.1,2.88,102.55.5,94.67.5,83,.5,75.84,7.35,75.84,15.61c0,18.67,28.57,12.65,28.57,21.43,0,2.83-2.82,5.5-8.63,5.5A21.77,21.77,0,0,1,80,35.85l-5.73,8c4.61,4.69,11.46,7.89,21,7.89,13.4,0,19.87-6.85,19.87-15.92C115.13,17.32,86.63,22.6,86.63,14.71Z'/%3E%3Cpath stroke='%23fff' fill='none' d='M118.37,31.08V1.24h10.71V30.71c0,6.92,4,11.68,11.68,11.68s11.61-4.76,11.61-11.68V1.24h10.79V31c0,12.35-7.29,20.76-22.4,20.76S118.37,43.29,118.37,31.08Z'/%3E%3Cpolygon stroke='%23fff' fill='none' points='98.96 105.3 110.52 72.88 120.94 105.3 129.91 105.3 140.38 72.84 151.83 104.97 151.93 105.3 163.16 105.3 145.49 55.66 134.64 55.66 125.45 84.33 116.23 55.66 105.43 55.66 87.72 105.3 98.96 105.3'/%3E%3Cpath stroke='%23fff' fill='none' d='M77.24,91.83c0,3-2.53,5-7.07,5a21.3,21.3,0,0,1-14.43-5.44l-5.88,7.74C54.77,103.66,61.32,106,69.2,106,80.89,106,88,99.2,88,90.94c0-18.68-28.57-12.65-28.57-21.43,0-2.83,2.82-5.51,8.63-5.51a21.71,21.71,0,0,1,15.77,6.7l5.73-8C85,58,78.13,54.77,68.61,54.77c-13.4,0-19.87,6.85-19.87,15.93C48.74,89.23,77.24,83.94,77.24,91.83Z'/%3E%3Cpath stroke='%23fff' fill='none' d='M45.51,75.46V105.3H34.79V75.83c0-6.92-4-11.68-11.68-11.68S11.5,68.91,11.5,75.83V105.3H.71V75.53C.71,63.18,8,54.77,23.11,54.77S45.51,63.26,45.51,75.46Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 100px;
  background-position: center center;
}

%wsu-pattern--lines-light {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_3' data-name='Layer 3' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 30 30' width='30' height='30'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%23e6e7e8;stroke-miterlimit:10;%7D%3C/style%3E%3CclipPath id='clip-path'%3E%3Crect class='cls-1' width='30' height='30'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='cls-2'%3E%3Cline class='cls-3' x1='-1.38' y1='23.97' x2='23.32' y2='-0.73'/%3E%3Cline class='cls-3' x1='6.6' y1='30.99' x2='30.75' y2='6.85'/%3E%3Cline class='cls-3' x1='22.02' y1='30.59' x2='30.46' y2='22.15'/%3E%3Cline class='cls-3' x1='-1.06' y1='8.69' x2='8.54' y2='-0.91'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-position: center center;

}

%wsu-pattern--mask {
  -webkit-mask-image: radial-gradient(circle at 30% 50%,rgba(255,255,255,0) 0,rgba(255,255,255,0) 20%,#00d4ff 300%);
  mask-image: radial-gradient(circle at 30% 50%,rgba(255,255,255,0) 0,rgba(255,255,255,0) 20%,#00d4ff 300%);
}

%wsu-pattern--before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
}



.wsu-pattern {

	&--opacity {

		&-xlight {
			&::before {
				opacity: 0.1;
			}
		}
		
		&-light {
			&::before {
				opacity: 0.3;
			}
		}

		&-medium {
			&::before {
				opacity: 0.5;
			}
		}

		&-dark {
			&::before {
				opacity: 0.7;
			}
		}
	}

}

.wsu-pattern:not(.wsu-pattern-before):not(.wsu-pattern-before) {
  opacity: 0.6;
}

.wsu-pattern-before::before,
.wsu-pattern-after::after {
  content: "";
  display: block;
  opacity: 0.8;
}

.wsu-pattern,
.wsu-pattern-before::before,
.wsu-pattern-after::after,
[class*="wsu-pattern--wsu-light"] .wsu-pattern,
.wsu-pattern[class*="wsu-pattern--wsu-light"]  {
  @include wsu-pattern-background--wsu-light();
}

.wsu-pattern,
.wsu-pattern-before::before,
.wsu-pattern-after::after,
.wsu-pattern--wsu-light-radial .wsu-pattern,
.wsu-pattern--wsu-light-radial.wsu-pattern {
  -webkit-mask-image: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
  mask-image: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
}

[class*="wsu-pattern--wsu-dark"] .wsu-pattern,
.wsu-pattern[class*="wsu-pattern--wsu-dark"],
[class*="wsu-pattern--wsu-dark"] .wsu-pattern-before::before,
.wsu-pattern-before[class*="wsu-pattern--wsu-dark"]::before,
[class*="wsu-pattern--wsu-dark"] .wsu-pattern-after::after,
.wsu-pattern-after[class*="wsu-pattern--wsu-dark"]::after {
    @include wsu-pattern-background--wsu-dark();
}

.wsu-pattern--wsu-dark .wsu-pattern,
.wsu-pattern--wsu-dark.wsu-pattern,
.wsu-pattern--wsu-dark .wsu-pattern-before::before,
.wsu-pattern--wsu-dark.wsu-pattern-before::before,
.wsu-pattern--wsu-dark .wsu-pattern-after::after,
.wsu-pattern--wsu-dark.wsu-pattern-after::after {
  -webkit-mask-image: none;
  mask-image: none;
}

.wsu-pattern--wsu-dark-radial .wsu-pattern,
.wsu-pattern--wsu-dark-radial.wsu-pattern,
.wsu-pattern--wsu-dark-radial .wsu-pattern-before::before,
.wsu-pattern--wsu-dark-radial.wsu-pattern-before::before,
.wsu-pattern--wsu-dark-radial .wsu-pattern-after::after,
.wsu-pattern--wsu-dark-radial.wsu-pattern-after::after {
  -webkit-mask-image: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
  mask-image: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
}

.wsu-pattern--wsu-dark-radial-left .wsu-pattern,
.wsu-pattern--wsu-dark-radial-left.wsu-pattern,
.wsu-pattern--wsu-dark-radial-left .wsu-pattern-before::before,
.wsu-pattern--wsu-dark-radial-left.wsu-pattern-before::before,
.wsu-pattern--wsu-dark-radial-left .wsu-pattern-after::after,
.wsu-pattern--wsu-dark-radial-left.wsu-pattern-after::after {
  -webkit-mask-image: radial-gradient(circle at 30% 50%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
  mask-image: radial-gradient(circle at 30% 50%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
}

.wsu-pattern--wsu-dark-radial-right .wsu-pattern,
.wsu-pattern--wsu-dark-radial-right.wsu-pattern,
.wsu-pattern--wsu-dark-radial-right .wsu-pattern-before::before,
.wsu-pattern--wsu-dark-radial-right.wsu-pattern-before::before,
.wsu-pattern--wsu-dark-radial-right .wsu-pattern-after::after,
.wsu-pattern--wsu-dark-radial-right.wsu-pattern-after::after {
  -webkit-mask-image: radial-gradient(circle at 70% 50%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
  mask-image: radial-gradient(circle at 70% 50%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
}

.wsu-pattern--wsu-light .wsu-pattern,
.wsu-pattern--wsu-light.wsu-pattern,
.wsu-pattern--wsu-light .wsu-pattern-before::before,
.wsu-pattern--wsu-light.wsu-pattern-before::before,
.wsu-pattern--wsu-light .wsu-pattern-after::after,
.wsu-pattern--wsu-light.wsu-pattern-after::after {
  -webkit-mask-image: none;
  mask-image: none;
}

.wsu-pattern--wsu-light-radial-left .wsu-pattern,
.wsu-pattern--wsu-light-radial-left.wsu-pattern,
.wsu-pattern--wsu-light-radial-left .wsu-pattern-before::before,
.wsu-pattern--wsu-light-radial-left.wsu-pattern-before::before,
.wsu-pattern--wsu-light-radial-left .wsu-pattern-after::after,
.wsu-pattern--wsu-light-radial-left.wsu-pattern-after::after {
  -webkit-mask-image: radial-gradient(circle at 30% 50%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
  mask-image: radial-gradient(circle at 30% 50%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
}

.wsu-pattern--wsu-light-radial-right .wsu-pattern,
.wsu-pattern--wsu-light-radial-right.wsu-pattern,
.wsu-pattern--wsu-light-radial-right .wsu-pattern-before::before,
.wsu-pattern--wsu-light-radial-right.wsu-pattern-before::before,
.wsu-pattern--wsu-light-radial-right .wsu-pattern-after::after,
.wsu-pattern--wsu-light-radial-right.wsu-pattern-after::after {
  -webkit-mask-image: radial-gradient(circle at 70% 50%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
  mask-image: radial-gradient(circle at 70% 50%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
}

[class*="wsu-pattern--lines-light"] .wsu-pattern,
.wsu-pattern-before[class*="wsu-pattern--lines-light"],
[class*="wsu-pattern--lines-light"].wsu-pattern-before::before,
.wsu-pattern-before[class*="wsu-pattern--lines-light"]::before,
[class*="wsu-pattern--lines-light"].wsu-pattern-after::after,
.wsu-pattern-after[class*="wsu-pattern--lines-light"]::after {
  @include wsu-pattern-background--lines-light();
  background-size: 20px;
}

.wsu-pattern--lines-light .wsu-pattern,
.wsu-pattern--lines-light.wsu-pattern,
.wsu-pattern--lines-light .wsu-pattern-before::before,
.wsu-pattern--lines-light.wsu-pattern-before::before,
.wsu-pattern--lines-light .wsu-pattern-after::after,
.wsu-pattern--lines-light.wsu-pattern-after::after {
  -webkit-mask-image: none;
  mask-image: none;
}

.wsu-pattern--lines-light-radial .wsu-pattern,
.wsu-pattern--lines-light-radial.wsu-pattern,
.wsu-pattern--lines-light-radial .wsu-pattern-before::before,
.wsu-pattern--lines-light-radial.wsu-pattern-before::before,
.wsu-pattern--lines-light-radial .wsu-pattern-after::after,
.wsu-pattern--lines-light-radial.wsu-pattern-after::after {
  -webkit-mask-image: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
  mask-image: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
}

.wsu-pattern--lines-light-radial-left .wsu-pattern,
.wsu-pattern--lines-light-radial-left.wsu-pattern,
.wsu-pattern--lines-light-radial-left .wsu-pattern-before::before,
.wsu-pattern--lines-light-radial-left.wsu-pattern-before::before,
.wsu-pattern--lines-light-radial-left .wsu-pattern-after::after,
.wsu-pattern--lines-light-radial-left.wsu-pattern-after::after {
  -webkit-mask-image: radial-gradient(circle at 30% 50%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
  mask-image: radial-gradient(circle at 30% 50%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
}

.wsu-pattern--lines-light-radial-right .wsu-pattern,
.wsu-pattern--lines-light-radial-right.wsu-pattern,
.wsu-pattern--lines-light-radial-right .wsu-pattern-before::before,
.wsu-pattern--lines-light-radial-right.wsu-pattern-before::before,
.wsu-pattern--lines-light-radial-right .wsu-pattern-after::after,
.wsu-pattern--lines-light-radial-right.wsu-pattern-after::after {
  -webkit-mask-image: radial-gradient(circle at 70% 50%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
  mask-image: radial-gradient(circle at 70% 50%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(0,212,255,1) 300%);
}

.wsu-pattern--none .wsu-pattern,
.wsu-pattern--none.wsu-pattern,
.wsu-pattern--none .wsu-pattern-before::before,
.wsu-pattern--none.wsu-pattern-before::before,
.wsu-pattern--none .wsu-pattern-after::after,
.wsu-pattern--none.wsu-pattern-after::after {
  display: none;
} 


@import './style-wsu';


