@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';
@import '../../components/menu/mixins';


.wsu-navigation-site-vertical {

    &__open {
        visibility: hidden;
        transform: translateX( $wsu-width--navigation-open );
        transition: transform $wsu-transition-speed--medium $wsu-easing, opacity $wsu-transition-speed--medium $wsu-easing;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-button {
            box-shadow: none;
            border-radius: none;
            background-color: transparent;
            outline: none;
            border: none;
            color: inherit;
            display: flex;
            flex-direction: column;
            font-size: 0.6rem;
            text-transform: uppercase;
            font-weight: 400;
            margin: 0;
            padding: 0;
            cursor: pointer;

            &::before {
                content: '\F12A';
                font-family: 'wsu-icons';
                font-size: $wsu-font-size--large;
                font-weight: 500;
            }
        }
        
    }

    &__panel {
        position: fixed;
        top: 65px;
        height: 100vh;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        border-right: 1px solid $wsu-color--gray-10;
        width: $wsu-width--navigation-open;
        left: 0;
        transition: transform $wsu-transition-speed--medium $wsu-easing, opacity $wsu-transition-speed--medium $wsu-easing;
        opacity: 1;
        visibility: inherit;
    }

    .wsu-button-ui-close {
        margin-top: $wsu-spacing--medium;
        margin-bottom: $wsu-spacing--medium;
        padding-right: $wsu-spacing--small;
        visibility: inherit;
    }

    .wsu-menu {
        flex-grow: 1;
        visibility: inherit;
    }


    @media screen and ( min-width: $wsu-breakpoint--desktop) {

        &[aria-expanded="false"] {

            .wsu-navigation-site-vertical__panel {
                transform: translateX( calc( #{$wsu-width--navigation-closed} - #{$wsu-width--navigation-open} ));
                opacity: 0;
            }

            .wsu-navigation-site-vertical__open {
                visibility: visible;
                transform: translateX( 0 );
                opacity: 1;
            }
            
        }
    }



    @media screen and (min-width: $wsu-breakpoint--tablet-large) and ( max-width: $wsu-breakpoint--desktop) {

        &[aria-expanded="false"] {

            .wsu-navigation-site-vertical__panel {
                transform: translateX( calc( #{$wsu-width--navigation-closed} - #{$wsu-width--navigation-open} ));
                opacity: 0;
            }

            .wsu-navigation-site-vertical__open {
                visibility: visible;
                transform: translateX( 0 );
                opacity: 1;
            }
            
        }

        &:not(.wsu-navigation-site-vertical--openned) {

            .wsu-navigation-site-vertical {

                &__open {
                    visibility: visible;
                    transform: translateX( 0 );
                    opacity: 1;
                }
        
                &__panel {
                    visibility: hidden;
                    transform: translateX( calc( #{$wsu-width--navigation-closed} - #{$wsu-width--navigation-open} ));
                    opacity: 0;
                }

            }

        }

    }


    @media screen and (min-width: $wsu-breakpoint--tablet-large) {

        &__open {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: $wsu-width--navigation-closed;
            background-color: #fff;
            border-right: 1px solid $wsu-color--gray-10;
        }

        &__panel {
            width: $wsu-width--navigation-open;
            left: 0;
        }

    }

    @media screen and (max-width: $wsu-breakpoint--tablet-large) {

        .wsu-navigation-site-vertical {

            &__panel {
                width: $wsu-width--navigation-mobile-open;
                right: 0;
                left: auto;
                border-left: 1px solid $wsu-color--gray-10;
                transform: translateX(0);
                visibility: visible;
            }

            &__open {
                visibility: visible;
                transform: translateX(0);
                opacity: 1;
                height: 65px;
                width: 50px;
                position: absolute;
                top: 0;
                right: 0;

                &-button {
                    font-size: 0;
                }
            }
        }

        &[aria-expanded="false"] {

            .wsu-navigation-site-vertical__panel {
                transform: translateX(#{$wsu-width--navigation-mobile-open});
            }
            
        }

        &:not(.wsu-navigation-site-vertical--openned) {

            .wsu-navigation-site-vertical {

                &__panel {
                    transform: translateX(#{$wsu-width--navigation-mobile-open});
                    visibility: hidden;
                }

            }
        }

    }

}

@include wsu-menu--primary-vertical( '', '.wsu-navigation-site-vertical' );