{% macro accordion( classes, id, title='Lorem ipsum dolor sit amet, consectetur adipiscing elit' ) %}
<div class="wsu-accordion{{ classes }}">
    <h2 id="unique-id-{{ id }}__title" class="wsu-accordion__title">
        <button  class="wsu-accordion__title-button wsu-accordion--toggle" aria-expanded="false" aria-controls="unique-id-{{ id }}__content">{{ title }}</button>
    </h2>
    <div id="unique-id-{{ id }}__content" class="wsu-accordion__content" aria-labelledby="unique-id-{{ id }}__title">
        <div class="wsu-accordion__content-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet turpis pulvinar urna maximus, non lobortis ipsum lobortis. 
            Curabitur ornare porta imperdiet. Aliquam posuere laoreet nibh at finibus. Ut eu bibendum leo. Praesent augue magna, elementum 
            nec odio eget, varius ultricies erat. Quisque vitae risus fermentum, vestibulum metus sed, semper leo. Vivamus tincidunt, felis 
            quis vehicula tincidunt, sapien urna porta augue, id maximus risus risus id nisl. Maecenas sit amet eros vitae lorem pellentesque 
            elementum ut id sem. Nunc eleifend cursus erat quis tincidunt. Nullam cursus enim sit amet vulputate pretium. Nunc ut odio eget 
            lectus ornare dapibus eu non quam.</p>

            <p>Nunc vestibulum, tellus id ultricies auctor, felis felis maximus eros, vel convallis lectus enim vel metus. Quisque ornare, ex non 
            aliquam convallis, diam arcu varius erat, id laoreet lacus nisl in augue. Sed sed diam velit. Nam euismod, neque vel scelerisque tincidunt, 
            lectus felis luctus est, a dignissim mauris lorem quis elit. Suspendisse eleifend finibus luctus. Pellentesque feugiat, diam eget sagittis 
            mollis, purus eros viverra dolor, in ultricies nulla orci ornare enim. Suspendisse molestie pulvinar lacinia.</p>
        </div>
    </div>
</div>
{% endmacro %}