@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-accordion {

    margin-bottom: $wsu-spacing--component;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: auto;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $wsu-color--gray-20;
    }

    &__title {
        margin: 0;
        padding: 0;
        border: 1px solid transparent;
        box-sizing: border-box;
        background-color: transparent;
        transition: background-color $wsu-easing $wsu-transition-speed--fast, border-color $wsu-easing $wsu-transition-speed--fast;

        &::before {
            content: "\F137";
            font-family: "wsu-icons";
            position: absolute;
            top: 50%;
            right: $wsu-spacing--xmedium;
            transform: translatey(-50%);
            font-size: $wsu-font-size--small;
            font-weight: 400;
            width: 18px;
            text-align: center;
        }
    }

    &__title-button {

        @include wsu-font--large();
        font-weight: 400;
        padding: $wsu-spacing--medium calc( 18px + #{$wsu-spacing--xmedium} + #{$wsu-spacing--xmedium} ) $wsu-spacing--medium $wsu-spacing--sxxsmall;
        margin: 0;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        border: none;
        background-color: transparent;
        text-align: left;
        outline: none;
        color: inherit;
        display: block;
        width: 100%;

    }

    &__title:hover,
    &__title:focus,
    &__title:focus-within {
        background-color: $wsu-color--gray-0;
        border-color: $wsu-color--gray-30;
        border-color: $wsu-color--crimson-light;
    }

    &__content {
        max-height: 0;
        visibility: hidden;
        overflow: hidden;
        transition: max-height $wsu-easing $wsu-transition-speed--medium, visibility 0s 400ms;
    } 

    &__content-inner {
        padding: $wsu-spacing--xmedium $wsu-spacing--small $wsu-spacing--small;
        box-sizing: border-box;
    }

    & + .wsu-accordion {
        margin-top: -$wsu-spacing--component;
    }

    &.wsu-accordion--open {
        .wsu-accordion__content {
            visibility: visible;
            max-height: none;
            transition: max-height $wsu-easing $wsu-transition-speed--medium, visibility 0s 0s;
        }
    }

}

.wsu-accordion.wsu-accordion--open {

    .wsu-accordion__title::before {
        content: "\F12C";
    }

}

.wsu-accordion--size-small .wsu-accordion,
.wsu-accordion.wsu-accordion--size-small {

    .wsu-accordion {

        &__title-button {

            @include wsu-font--xmedium();
            padding: $wsu-spacing--xsmall calc( 18px + #{$wsu-spacing--xmedium} + #{$wsu-spacing--xmedium} ) $wsu-spacing--xsmall $wsu-spacing--sxxsmall;
        }

    }

}



@media screen and (max-width: $wsu-breakpoint--tablet ) {

    .wsu-accordion {

        &__title-button {

            @include wsu-font--xmedium();
            font-weight: 400;
            padding: $wsu-spacing--xsmall calc( 18px + #{$wsu-spacing--xmedium} + #{$wsu-spacing--xmedium} ) $wsu-spacing--xsmall $wsu-spacing--sxxsmall;    
        }
    }
    
}

