@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-accordion {

    margin-bottom: $wsu-spacing--component;
    border-bottom: 1px solid $wsu-color--gray-20;

    &__title {

        @include wsu-font--large();
        font-weight: 300;
        padding: $wsu-spacing--medium 3em $wsu-spacing--medium 0.3em;
        margin: 0;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid transparent;

        &::after {
            content: "\F137";
            font-family: "wsu-icons";
            position: absolute;
            top: 50%;
            right: 2em;
            transform: translatey(-50%);
            font-size: 0.6em;
        }

        &:hover,
        &:focus {
            background-color: $wsu-color--gray-5;
            border: 1px solid $wsu-color--gray-30;
            outline: 0;
        }
    }

    &__content {
        padding: $wsu-spacing--small $wsu-spacing--small $wsu-spacing--medium;
        box-sizing: border-box;
        transition: max-height $wsu-easing $wsu-transition-speed--slow;
        overflow: hidden;
    }

    & + .wsu-accordion {
        margin-top: -$wsu-spacing--component;
    }


    &[aria-expanded="false"] {

        .wsu-accordion__content {
            display: none;
            max-height: 0;
        }

    }

    &[aria-expanded="false"] {
        .wsu-accordion__content.wsu-animating {
            display: block;
        }

    }

    &[aria-expanded="true"] {

        .wsu-accordion__content {
            display: block;
            max-height: none;
        }

    }


}