{% extends "component.njk" %}
{% from "accordion/_macro.njk" import accordion %}

{% block content %}

<div class="wsu-demo-component" >
    {{ accordion(' wsu-color-scheme--dark ','1','First accordion sit amet, consectetur adipiscing elit' ) }}
    {{ accordion(' wsu-color-scheme--dark ','1','First accordion sit amet, consectetur adipiscing elit' ) }}
    {{ accordion(' wsu-color-scheme--dark ','1','First accordion sit amet, consectetur adipiscing elit' ) }}
    {{ accordion(' wsu-color-scheme--dark ','1','First accordion sit amet, consectetur adipiscing elit' ) }}
    {{ accordion(' wsu-color-scheme--dark ','1','First accordion sit amet, consectetur adipiscing elit' ) }}
    <hr />
    {{ accordion('','2','Second accordion sit amet, consectetur adipiscing elit') }}
    {{ accordion('','3','Thrid accordion sit amet, consectetur adipiscing elit') }}
    {{ accordion('','4','Fourth accordion sit amet, consectetur adipiscing elit') }}
    {{ accordion('','5','Fifth accordion sit amet, consectetur adipiscing elit') }}
    <hr />
    {{ accordion(' wsu-accordion--small','6','First accordion sit amet') }}
    {{ accordion(' wsu-accordion--small','7','Second accordion sit amet') }}
    {{ accordion(' wsu-accordion--small','8','Thrid accordion sit amet') }}
    {{ accordion(' wsu-accordion--small','9','Fourth accordion sit amet') }}
</div>
<style>
.wsu-demo-component {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    width: 100%;
}
</style>
{%  endblock %}  