{% macro metaCategories( prefix='Categorized: ' ) %}
<div class="wsu-meta-categories">
    {{ prefix }}<a href="#">Praesent neque</a>, <a href="#">Aliquam</a>, <a href="#">Elementum</a>, <a href="#">Consectetur</a>, <a href="#">Dignissim</a>
</div>
{% endmacro %}