.wsu-navigation-horizontal {
    display: flex;
    margin: 0 $wsu-spacing--medium;
    max-width: 1200px;
    box-sizing: border-box;

    &-menu {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            box-sizing: border-box;
            text-align: left;

            &::after {
                content: "\F103";
                font-family: wsu-icons;
                margin-left: 0.75em;
                color: $wsu-color--gray-85;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            position: relative;
        }

        li {
            margin: 0;
            padding: 0;
            list-style-type: none;
            position: relative;
        }

        a {
            text-decoration: none;
            color: inherit;
            box-sizing: border-box;
            display: block;
        }

    }
}

.wsu-navigation-horizontal-menu > li {

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;

    & > button,
    & > a {
        @include wsu-font--medium();
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        padding: $wsu-spacing--small $wsu-spacing--medium $wsu-spacing--small;
        font-weight: 500;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: auto;
        bottom: 0;
    }

    &:hover,
    &:focus,
    &:focus-within {

        background-color: $wsu-color--gray-0;

        &::after {
            background-color: $wsu-color--gray-65;
            height: 5px;
        }

    }

    &:first-child > a::before {
        content: '\F122';
        font-family: wsu-icons;
        margin-right: 0.4em;
        font-size: 0.9em;
        display: inline-block;
        vertical-align: middle;
        transform: translateY(-2px);
    }

    &.wsu-menu-item--parent::after,
    &.wsu-menu-item--current::after {
        background-color: $wsu-color--crimson-light;
        height: 5px;
    }

    & > ul {
        position: absolute;
        top: 100%;
        width: $wsu-width--navigation-narrow;
        left: 0;
        padding-top: calc( 5px + 0.3rem);
        padding-bottom: 0.3rem;

        &::before {
            background-color: #fff;
            top: 5px;
            bottom: 0;
            left: 0;
            right: 0;
            width: auto;
            height: auto;
            content: "";
            border: 1px solid $wsu-color--gray-30;
            border-radius: 0 0 3px 3px;
            display: block;
            position: absolute;
        }
    }
}

.wsu-navigation-horizontal-menu > li > ul > li {
    display: block;
    margin: 0;
    padding: 0;

    & > button {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    & > button,
    & > a {
        @include wsu-font--small();
        padding: 0.3rem $wsu-spacing--medium 0.3rem;
        font-weight: 600;
    }

}

.wsu-navigation-horizontal-menu > li > ul > li > ul > li {
    display: block;
    margin: 0;
    padding: 0;

    & > button {
        width: 100%;
        display: block;
    }

    & > button,
    & > a {
        @include wsu-font--small();
        padding: 0.3rem $wsu-spacing--medium 0.3rem calc( #{$wsu-spacing--medium} + #{$wsu-spacing--small} );
        font-weight: 500;
    }

}