{% extends "site-page.njk" %}

{% from "experimental__navigation-site-horizontal/_macro.njk" import navigationSiteVertical %}

{% block content %}
<div class="wsu-wrapper-global">
    {% include 'header-global/html--dark.njk' %}
    <div class="wsu-wrapper-site">
        {{ navigationSiteVertical() }}
        <!-- Site Header -->
        <main class="wsu-wrapper-content"> 
            <!-- Site content -->
            {% include 'content-kitchen-sink.njk' %}
        </main>
    </div>
    {% include 'footer-global/html.njk' %} 
</div>
{%  endblock %}