@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.wsu-meta-date {

    font-size: $wsu-font-size--xsmall;
    font-weight: 600;

    &::before {
        content: "\F101";
        font-family: 'wsu-icons';
        color: inherit;
        font-size: 0.9em;
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.2em;
    }
}