{% macro contentList(classes) %}
    <ul class="wsu-content-list{{ classes }} wsu-list--style-arrow wsu-list--columns-2">
        <li class="wsu-content-list__item">
            <a href="#" class="wsu-content-list__item-title">Creating Accessible Documents</a>
            <div class="wsu-content-list__item-details">
                <span>
                    <strong>Source:</strong> Section508.gov</span>
                <span>
                    <strong>Updated on:</strong> January 10th, 2024</span>
            </div>
            <p>Learn how to create accessible Microsoft Word documents that conform to the Revised 508 Standards.</p>
            <div class="wsu-content-list__item-taxonomies">
                <span>
                    <strong>Categories:</strong> Web Accessibility, Headings</span>
                <span>
                    <strong>Tags:</strong> Section 508</span>
            </div>
        </li>
        <li class="wsu-content-list__item">
            <a href="#" class="wsu-content-list__item-title">Creating Accessible Documents</a>
            <div class="wsu-content-list__item-details">
                
                <span>
                    <strong>Updated on:</strong> January 10th, 2024</span>
            </div>
            <p>Learn how to create accessible Microsoft Word documents that conform to the Revised 508 Standards.</p>
            <div class="wsu-content-list__item-taxonomies">
                <span>
                    <strong>Categories:</strong> Web Accessibility, Headings</span>
                <span>
                    <strong>Tags:</strong> Section 508</span>
            </div>
        </li>
        <li class="wsu-content-list__item">
            <a href="#" class="wsu-content-list__item-title">Creating Accessible Documents</a>
            <div class="wsu-content-list__item-details">
                <span>
                    <strong>Source:</strong> Section508.gov</span>
                <span>
                    <strong>Updated on:</strong> January 10th, 2024</span>
            </div>
            <p>Learn how to create accessible Microsoft Word documents that conform to the Revised 508 Standards.</p>
            <div class="wsu-content-list__item-taxonomies">
                <span>
                    <strong>Categories:</strong> Web Accessibility, Headings</span>
                <span>
                    <strong>Tags:</strong> Section 508</span>
            </div>
        </li>
        <li class="wsu-content-list__item">
            <a href="#" class="wsu-content-list__item-title">Creating Accessible Documents</a>
            <div class="wsu-content-list__item-details">
                <span>
                    <strong>Source:</strong> Section508.gov</span>
                <span>
                    <strong>Updated on:</strong> January 10th, 2024</span>
            </div>
            <p>Learn how to create accessible Microsoft Word documents that conform to the Revised 508 Standards.</p>
            <div class="wsu-content-list__item-taxonomies">
                <span>
                    <strong>Categories:</strong> Web Accessibility, Headings</span>
                <span>
                    <strong>Tags:</strong> Section 508</span>
            </div>
        </li>
        <li class="wsu-content-list__item">
            <a href="#" class="wsu-content-list__item-title">Creating Accessible Documents</a>
            <div class="wsu-content-list__item-details">
                <span>
                    <strong>Source:</strong> Section508.gov</span>
                <span>
                    <strong>Updated on:</strong> January 10th, 2024</span>
            </div>
            <p>Learn how to create accessible Microsoft Word documents that conform to the Revised 508 Standards.</p>
            <div class="wsu-content-list__item-taxonomies">
                <span>
                    <strong>Categories:</strong> Web Accessibility, Headings</span>
                <span>
                    <strong>Tags:</strong> Section 508</span>
            </div>
        </li>
        <li class="wsu-content-list__item">
            <a href="#" class="wsu-content-list__item-title">Creating Accessible Documents</a>
            <div class="wsu-content-list__item-details">
                <span>
                    <strong>Source:</strong> Section508.gov</span>
                <span>
                    <strong>Updated on:</strong> January 10th, 2024</span>
            </div>
            <p>Learn how to create accessible Microsoft Word documents that conform to the Revised 508 Standards.</p>
            <div class="wsu-content-list__item-taxonomies">
                <span>
                    <strong>Categories:</strong> Web Accessibility, Headings</span>
                <span>
                    <strong>Tags:</strong> Section 508</span>
            </div>
        </li>
        <li class="wsu-content-list__item">
            <a href="#" class="wsu-content-list__item-title">Creating Accessible Documents</a>
            <div class="wsu-content-list__item-details">
                <span>
                    <strong>Source:</strong> Section508.gov</span>
                <span>
                    <strong>Updated on:</strong> January 10th, 2024</span>
            </div>
            <p>Learn how to create accessible Microsoft Word documents that conform to the Revised 508 Standards.</p>
            <div class="wsu-content-list__item-taxonomies">
                <span>
                    <strong>Categories:</strong> Web Accessibility, Headings</span>
                <span>
                    <strong>Tags:</strong> Section 508</span>
            </div>
        </li>
        <li class="wsu-content-list__item">
            <a href="#" class="wsu-content-list__item-title">Creating Accessible Documents</a>
            <div class="wsu-content-list__item-details">
                <span>
                    <strong>Source:</strong> Section508.gov</span>
                <span>
                    <strong>Updated on:</strong> January 10th, 2024</span>
            </div>
            <p>Learn how to create accessible Microsoft Word documents that conform to the Revised 508 Standards.</p>
            <div class="wsu-content-list__item-taxonomies">
                <span>
                    <strong>Categories:</strong> Web Accessibility, Headings</span>
                <span>
                    <strong>Tags:</strong> Section 508</span>
            </div>
        </li>
    </ul>
{% endmacro %}