{% extends "component.njk" %}


{% block styles %}
<style>
body {
    min-height: 200vh;
}
</style>
{%  endblock %}

{% block content %}
<div class="wsu-wrapper-site">
    <div class="wsu-background--style-wsu-crimson" style="position:relative;height:600px">
    </div>
    <div class="wsu-background--style-wsu-crimson-solid" style="position:relative;height:600px">
    </div>
</div>
{%  endblock %} 