{% extends "component.njk" %}


{% block styles %}
<style>
body {
    min-height: 200vh;
}
</style>
{%  endblock %}

{% block content %}
<div class="wsu-wrapper-site">
    <div class="wsu-background--style-wsu-crimson-angle-right" style="position:relative;border:1px solid #000;height:600px">
    </div>
    <div class="wsu-background--style-wsu-crimson-angle-left wsu-background--style-wsu-crimson-angle-right" style="position:relative;border:1px solid #000;height:600px">
    </div>
    <div class="wsu-background--style-gray-angle-left wsu-background--style-gray-angle-right" style="position:relative;border:1px solid #000;height:600px">
    </div>
    <div class="wsu-background--style-crimson-angle-left wsu-background--style-crimson-angle-right" style="position:relative;border:1px solid #000;height:600px">
    </div>
</div>
{%  endblock %} 