@import '../../../_assets/scss/variables';

.wsu-coug-head-boxed {
	position: relative;
	justify-content: center;
	background-color: $wsu-color--crimson;
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	
	&__icon {
		fill: #fff;
		position: absolute;
		top: calc(50% + -2px);
		left: calc(50% + 0px);
		display: block;
		width: 34px;
		height: 34px;
		transition: width 1000ms cubic-bezier(0, 0, 0.03, 1), height 1000ms cubic-bezier(0, 0, 0.03, 1);
		transform: translate(-50%, -50%);
	}
}
